<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}">

<meta charset="UTF-8">

<div layout:fragment="content" class="content-padding">

<link rel="stylesheet" type="text/css" href="css/register.css"/>

<style>
@import url('https://fonts.googleapis.com/css?family=Gowun+Batang&display=swap');
.swal-footer {
	text-align: center;
}

.swal-text {
	text-align: center;
}

.login-container {

	max-width: 500px;
	min-height: 650px;
	
}

p {
	font-weight: bold;
	opacity: 1;
	margin-bottom: 20px;
}

img {
	width:20px;
	height:20px;
}

.icheckbox {
	display:none;
}

</style>

<div class="myPage">
    <div class="sidebar" style="margin: 50px 0 50px; width: 17%; min-width: 250px;">
        <div class="box filter">
            <h2>마이페이지</h2>
            <ul class="links">
                <li><a href="mypage/mypage">내정보</a></li>
                <li><a href="mypage/basket">숙소 찜 목록</a></li>
                <li><a href="mypage/my_reservation">예약내역</a></li>
                <li class="active"><a href="mypage/delete">회원탈퇴</a></li>
            </ul>
            <hr/>
            <h2>더보기</h2>
            <ul class="links">
                <li><a href="notice/noticeList">공지사항</a></li>
                <li><a href="inquiry/inquiryList">문의게시판</a></li>
            </ul>
        </div>
        <!--end filter-->
    </div>
    <!--end sidebar-->

	<div class="login-body" style="width: 40%; min-width: 450px; margin-left: 7%;">
		<div class="login-container" id="login-container">
			<div class="login-form-container login-sign-in-container">
				<form action="" name="myForm" method="post" class="login-form">
				<br/>
					<h1 class="login-h1">회원탈퇴</h1>
					<br/><br/><br/>
					<p style="font-size: 24px;">이제 더 가시면..</p>
					<p style="color: red; font-size: 28px;">혜택이 영영 사라져요</p>
					<br/><br/>
					<ul style="text-align: left; opacity: 1; color: #000;">
						<li style="margin-bottom: 12px;">탈퇴하신 뒤에는 <strong>적립 포인트 복구가 불가능합니다.</strong></li>
						<li style="margin-bottom: 12px;"><strong>등록된 리뷰는 자동으로 삭제되지 않습니다.</strong> 탈퇴 전 개별적으로 삭제해 주세요.</li>
						<li style="margin-bottom: 12px;">동일한 아이디로 재가입은 가능하나, 계정 정보 및 찜 목록 등 서비스 이용정보는 복구가 불가합니다.</li>
						<li style="margin-bottom: 12px;">결제 내역, 호텔 이용 내역 등의 정보는 본 사이트에서 다시 제공해주지 않습니다.</li>
						<li style="margin-bottom: 12px;">개인 정보는 회원탈퇴와 동시에 파기처리 됩니다.</li>
					</ul>
					
					<br/><br/>
					<div class="login-div" style="width:400px; text-align: center;">
						<input class="login-input" type="checkbox" id="checkbox">
						<img class="img" src="/image/unchecked.png" id="checkbox-image">
						<strong>위 주의사항을 모두 숙지했고, 탈퇴에 동의합니다.</strong>
					</div>
					<br/>
					<div>
						<button class="login-button-btn3" onclick="deleteMember();" style="padding:12px 25px;" id="delete" disabled="disabled"> 회원탈퇴 </button>
						&nbsp;
						<button class="login-button-btn1" onclick="back();" style="padding:12px 30px;"> 탈퇴취소 </button>
					</div>
						
				</form>
			</div>
		</div>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
	
	//체크 항목을 눌렀을때만 버튼이 활성화 되게
	$(document).ready(function() {

		var checkbox = $('#checkbox');
		var image = $('#checkbox-image');
		
			$('#checkbox-image').click(function() {
				
				if(!checkbox.is(':checked')) {
					checkbox.prop('checked', true);
					image.attr('src', '/image/checked.png');
				} else {
					checkbox.prop('checked', false);
					image.attr('src', '/image/unchecked.png');
				}
				
				checkbox.change();
			
			});
			
			$('#checkbox').change(function() {
				
				if ($('#checkbox').is(':checked')) {
					$('#delete').removeClass('login-button-btn3').addClass('login-button-btn2').prop('disabled', false);
				} else {
					$('#delete').removeClass('login-button-btn2').addClass('login-button-btn3').prop('disabled', true);
				}
				
			});
			
			
	});
	
	function back() {
		var f = document.myForm;
		f.action="hotel/main";
		f.submit();
	}
	
	//ajax로 회원 탈퇴 처리
	function deleteMember() {
		
		var f = document.myForm;
		
		swal({
			  title: "회원탈퇴",
			  text: "탈퇴하시게 되면 두 번 다시 회원 데이터를 복구할 수 없습니다. \n정말 탈퇴하시겠습니까?",
			  icon: "warning",
			  buttons: ["취소", "확인"],
			  className: "text-center",
		}).then((willDelete) => {
		    if (willDelete) {
		    	
		    	$.ajax({
			        url: './mypage/delete_ok',
			        type: 'post',
			        	success: function(result) {
			        		swal({
			            		title: "회원탈퇴 완료",
			            		text: "회원탈퇴가 완료되었습니다.\n지금까지 서울어때를 이용해주셔서 감사합니다.",
			            		icon: "success",
			            		button: "메인으로",
			            		}).then(function() {
					                f.action="hotel/main";
					                f.submit();
			            		});
			        	}
		    	});
		    	
		    } else {
		    	
		    }

		});
		event.preventDefault();
		
		
	}
	
	
	
	
	

</script>


</html>