
<meta charset="UTF-8">

<nav th:fragment="navbarFragment">

<div class="page-wrapper">
    <div id="page-header">
        <header>
           
            <hr>
            <div class="container" style="height:70px;">
                <div class="primary-nav" style="height:70px;">
                    <div class="left">
                         <a href="hotel/main" id="brand"><img src="assets/img/logo1.png" alt="" style="width: 170px; height: 40px;"></a>
                        <a class="nav-trigger" data-toggle="collapse" href="#primary-nav" aria-expanded="false" aria-controls="primary-nav"><i class="fa fa-navicon"></i></a>
                    </div>
                    <!--end left-->
                    
	                    <div class="right" th:if="${session.sessionUser == null || session.sessionUserRegister != null}">
	                        <nav id="primary-nav">
	                            <ul>
	                                <li><a href="login/login">로그인</a></li>
	                                <li><a href="login/register_select">회원가입</a></li>
	                                <li><a href="hotel/main" class="has-child">더보기</a>
	                                    <ul class="child-nav">
											<li><a href="hotel/main">공지사항</a></li>
	                                        <li><a href="hotel/main">문의게시판</a></li>
	                                        <li><a href="hotel/main">메뉴1</a></li>
	                                        <li><a href="hotel/main">메뉴2</a></li>
	                                    </ul>
	                                </li>                                    
	                            </ul>
	                        </nav>
	                        <!--end nav-->
	                    </div>
	                    <div class="right" th:if="${session.sessionUser != null && session.sessionUserRegister == null}">
	                        <nav id="primary-nav">
	                            <ul>
	                            	<li><strong>[ [[${session.sessionUser.name}]] ]</strong> 님 환영합니다! &nbsp;&nbsp;</li>
	                                <li><a href="login/logout">로그아웃</a></li>
	                                <li><a href="hotel/main" class="has-child">마이페이지</a>
	                                    <ul class="child-nav">
											<li><a href="mypage/mypage">내정보</a></li>
	                                        <li><a href="mypage/basket">호텔 찜 목록</a></li>
	                                        <li><a href="hotel/main">예약내역</a></li>
	                                        <li><a href="mypage/delete">회원탈퇴</a></li>
	                                    </ul>
	                                </li> 
	                                <li><a href="/nav/index" class="has-child">더보기</a>
	                                    <ul class="child-nav">
											<li><a href="hotel/main">공지사항</a></li>
	                                        <li><a href="hotel/main">문의게시판</a></li>
	                                        <li><a href="hotel/main">메뉴1</a></li>
	                                        <li><a href="hotel/main">메뉴2</a></li>
	                                    </ul>
	                                </li>                                    
	                            </ul>
	                        </nav>
	                        <!--end nav-->
	                    </div>

                    
                    <!--end right-->
                </div>
                <!--end primary-nav-->
            </div>
            <!--end container-->
        </header>
        <!--end header-->
    </div>
    <!--end page-header-->
</div>


</nav>