<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.hotel.mapper.HotelDetailMapper">

<!-- hotel 테이블의 모든 정보를 select해오는 쿼리문 -->
<select id="getHotelById"  parameterType="int" resultType="com.boot.hotel.dto.HotelDTO">
	select hotel_id,hotel_name,category,addr1,addr2,like_num,latitude,longitude from hotel where hotel_id=#{hotel_id}
</select>


<select id="getHotelInfoById" parameterType="int" resultType="com.boot.hotel.dto.HotelInfoDTO">
	select hotel_id, standard,sweet,deluxe,check_in,check_out,hotel_information from hotel_info where hotel_id=#{hotel_id}
</select>

<select id="getHotelPicById" parameterType="int" resultType="com.boot.hotel.dto.HotelPictureDTO">
	select hotel_id,picture_num,type,url from hotel_picture where hotel_id=#{hotel_id}
</select>

<select id="getHotelFacilityById" parameterType="int" resultType="com.boot.hotel.dto.HotelFacilityDTO">
	select * from hotel_facility where hotel_id=#{hotel_id}
</select>

<select id="getHotelFacilityInById" parameterType="int" resultType="com.boot.hotel.dto.HotelFacilityInDTO">
	select * from hotel_facility_in where hotel_id=#{hotel_id}
</select>
 
<!-- parameterType: 매개변수의 성깔 : 매개변수 1개면 그 매개변수의 성질머리 적고 2개 이상이면 map -->
<select id="getTitlePicture" parameterType="int" resultType="com.boot.hotel.dto.HotelPictureDTO">
	select hotel_id,url,type from hotel_picture where hotel_id=#{hotel_id} and type = 'title'
</select>

<select id="getStandardPicture" parameterType="int" resultType="com.boot.hotel.dto.HotelPictureDTO">
	select hotel_id,url,type from hotel_picture where hotel_id=#{hotel_id} and type = 'standard'
</select>

<select id="getDeluxePicture" parameterType="int" resultType="com.boot.hotel.dto.HotelPictureDTO">
	select hotel_id,url,type from hotel_picture where hotel_id=#{hotel_id} and type = 'deluxe'
</select>

<select id="getSweetPicture" parameterType="int" resultType="com.boot.hotel.dto.HotelPictureDTO">
	select hotel_id,url,type from hotel_picture where hotel_id=#{hotel_id} and type = 'sweet'
</select>

<!-- 날짜 검색 쿼리문 -->
<select id="searchDayStandard" parameterType="map" resultType="int">
	select count(*) from reservation
	<![CDATA[
		where check_in < #{check_out} and check_out > #{check_in} and hotel_id = #{hotel_id} and room = 'standard'
	]]>
</select>

<select id="searchDaySweet" parameterType="map" resultType="int">
	select count(*) from reservation
	<![CDATA[
		where check_in < #{check_out} and check_out > #{check_in} and hotel_id = #{hotel_id} and room = 'sweet'
	]]>
</select>

<select id="searchDayDeluxe" parameterType="map" resultType="int">
	select count(*) from reservation
	<![CDATA[
		where check_in < #{check_out} and check_out > #{check_in} and hotel_id = #{hotel_id} and room = 'deluxe'
	]]>
</select>




<!-- 0426 추가 쿼리 : 메인에서 더미 리뷰 데이터 불러오는 쿼리, 나중에 복붙하면 됨 -->
<select id="getReviewData" resultType="map">
	select * from (
	select rownum rnum,data.* from (
	select h.hotel_name, r.userid, r.score, r.context, r.username, h.hotel_id,
	to_char(r.created,'yyyy-MM-dd, HH24:MI:SS') as created 
	from hotel h 
	inner join review r on h.hotel_id = r.hotel_id
	order by review_num desc) data)
	<![CDATA[
	where rnum<=4
	]]>
</select>

</mapper>