<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.hotel.mapper.HotelBasketMapper">


<!-- 찜하기 목록 순서 -->
<select id="maxNum" resultType="int">
	select nvl(max(basket_num),0) from basket
</select>

<!-- 찜하기 추가 
<insert id="addHotelBasket" parameterType="com.boot.hotel.dto.HotelBasketDTO">
	insert into basket(basket_num,userid,hotel_id)
	values (#{basket_num},#{userid},#{hotel_id})	
</insert>
-->
<!-- 찜하기 추가  -->
<insert id="addHotelBasket" parameterType="com.boot.hotel.dto.HotelBasketDTO">
    insert into basket(basket_num,userid,hotel_id)
    values (#{basket_num},#{userid}
    <if test="hotel_id != null">#{hotel_id}</if>)
</insert>

<!-- 찜하기 삭제 -->
<delete id="deleteHotelBasket" parameterType="com.boot.hotel.dto.HotelBasketDTO">
	delete from basket where userid = #{userid} and hotel_id = #{hotel_id}
</delete>

<!-- 찜하기 목록  리스트 목록이랑 연동돼서 떠야함 -->
<select id="selectHotelBasket" parameterType="String" resultType="com.boot.hotel.dto.HotelBasketDTO">
	SELECT a.basket_num, b.hotel_name, b.category, c.standard
	FROM basket a 
	JOIN hotel_info b ON a.hotel_id = b.hotel_id
	JOIN hotel_like c ON a.hotel_id = c.hotel_id
	WHERE a.userid = #{userid};
</select>


<!-- 페이지마다 10개(내가 띄운 것) 장바구니에 이 호텔이 찜한 것인지 (hotel_id,userid로 찾아서 맞으면 꺼내온다) -->
<!-- 예스여요 노여요 이렇게 확인해서 if로 yes면 찜해제~ 어쩌구 뜨고 no면 찜하기~ 어쩌구 뜰 수 있게 만든다 -->



<!-- 하나의 데이터를 읽어올 땐.. 링크로만 연동 시킬 수 있다 -->

</mapper>
