<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.hotel.mapper.HotelImageMapper">

<select id="searchDetailSweet" parameterType="map" resultType="map">
	select url from hotel_picture where hotel_id=#{hotel_id} and type=#{type}
</select>




</mapper>
