<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.hotel.mapper.MemberMapper">

<select id="maxNum" resultType="int">
	select nvl(max(num),0) from member
</select>

<insert id="insertDataMember" parameterType="com.boot.hotel.dto.MemberDTO">
	insert into member (num,userid,pwd,username,birth,email,tel,point,regdate,auth)
	values (#{num},#{userid},#{pwd},#{username},#{birth},
	#{email1}||'@'||#{email2},#{tel1}||'-'||#{tel2}||'-'||#{tel3},0,sysdate,#{auth})
</insert>

<insert id="insertDataSocialMember" parameterType="com.boot.hotel.dto.MemberDTO">
	insert into member (num,userid,username,birth,email,tel,point,regdate,auth)
	values (#{num},#{userid},#{username},#{birth},
	#{email1}||'@'||#{email2},#{tel1}||'-'||#{tel2}||'-'||#{tel3},0,sysdate,#{auth})
</insert>

<select id="checkMemberId" parameterType="String" resultType="String">
	select userId from member where userid=#{id}
</select>

<select id="checkMemberTel" parameterType="String" resultType="String">
	select tel from member where tel=#{tel}
</select>

<select id="getReadDataMember" parameterType="String" resultType="com.boot.hotel.dto.MemberDTO">
	select num,userid,pwd,username,birth,email,tel,point,regdate,auth 
	from member where userid=#{userid}
</select> 

<select id="searchMemberId" parameterType="map" resultType="String">
	select userid from member where username=#{username} and tel=#{tel}
</select>

<select id="searchMemberPwd" parameterType="map" resultType="String">
	select pwd from member where userid=#{userid} and username=#{username} and tel=#{tel}
</select>

<select id="memberLogin" parameterType="map" resultType="com.boot.hotel.dto.MemberDTO">
	select userid, username from member where userid=#{userid} and pwd=#{pwd}
</select>

<select id="readDataMember" parameterType="String" resultType="com.boot.hotel.dto.MemberDTO">
	select userid, username, birth, point, regdate, auth,
	substr(email, 1, instr(email,'@') -1) as email1,
	substr(email, instr(email,'@') +1) as email2,
	substr(tel, 1, instr(tel,'-') -1) as tel1,
	substr(tel, instr(tel,'-',1,1) +1, instr(tel,'-',1,2) -instr(tel,'-',1,1) -1) as tel2,
	substr(tel, instr(tel,'-',1,2) +1 ) as tel3
	from member where userid=#{userid}
</select>


<delete id="memberDelete" parameterType="String">
	delete from member where userid=#{userid}
</delete>

</mapper>
