<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.hotel.mapper.MyPageMapper">

<select id="readDataMember" parameterType="String" resultType="com.boot.hotel.dto.MemberDTO">
	select * from member where userid=#{userid}
</select>

<update id="memberUpdate" parameterType="com.boot.hotel.dto.MemberDTO">
	update member set pwd=#{pwd},username=#{username},email=#{email1}||'@'||#{email2},
	tel=#{tel1}||'-'||#{tel2}||'-'||#{tel3} where userid = #{userid}
</update>

<update id="memberUpdateOauth" parameterType="com.boot.hotel.dto.MemberDTO">
	update member set username=#{username},email=#{email1}||'@'||#{email2},
	tel=#{tel1}||'-'||#{tel2}||'-'||#{tel3} where userid = #{userid}
</update>

<delete id="memberDelete" parameterType="String">
	delete from member where userid=#{userid}
</delete>

<select id="searchBasket" parameterType="String" resultType="map">
	select hotel_id from basket where userid=#{userid}
</select>

<select id="searchBasketHotel" parameterType="int" resultType="map">
	select h.hotel_id, b.basket_num, h.hotel_name, h.addr1, h.category, h.tel, hi.standard, hp.url
	from hotel h
	inner join hotel_info hi on h.hotel_id = hi.hotel_id
	inner join hotel_picture hp on h.hotel_id = hp.hotel_id
	inner join basket b on h.hotel_id = b.hotel_id
	where h.hotel_id = #{hotel_id} and hp.type = 'title'
</select>

<select id="searchBasketHotelPaged" parameterType="map" resultType="map">
	select * from (
	select rownum rnum,data.* from (
	select * from #{basket}
	order by basket_num) data)
	<![CDATA[
	where rnum>=#{start} and rnum<=#{end}
	]]>
</select>

<delete id="basketDelete" parameterType="int">
	delete from basket where basket_num=#{basket_num}
</delete>

<select id="reservationMaxNum" parameterType="String" resultType="int">
	select nvl(count(*),0) from reservation where userid=#{userid}
</select>

<select id="getMyReservationLists" parameterType="map" resultType="map">
	select * from (
	select rownum rnum,data.* from (
	select res_num, userid, username, hotel_id, category, hotel_name, room, people,
	TO_CHAR(inq_date, 'YYYY-MM-DD') as inq_date,
	TO_CHAR(check_in, 'YYYY-MM-DD') as check_in,
	TO_CHAR(check_out, 'YYYY-MM-DD') as check_out
	from reservation where userid=#{userid}
	order by res_num desc) data)
	<![CDATA[
	where rnum>=#{start} and rnum<=#{end}
	]]>
</select>

<select id="getMyReservationListsAdd" parameterType="map" resultType="map">
	select h.addr1, h.tel, hi.check_in as check_in_time, hi.check_out as check_out_time, hp.url, p.price 
	from hotel h
	inner join hotel_info hi on h.hotel_id = hi.hotel_id
	inner join hotel_picture hp on h.hotel_id = hp.hotel_id
	inner join pay p on h.hotel_id = p.hotel_id
	where h.hotel_id = #{hotel_id} and hp.type = 'title' and p.userid = #{userid}
</select>

<delete id="deletePay" parameterType="int">
	delete from pay where res_num = #{res_num}
</delete>

<delete id="deleteReservation" parameterType="int">
	delete from reservation where res_num = #{res_num}
</delete>

</mapper>
