<!DOCTYPE html>
<!-- 경로가 templates/layout/layout.html을 상속받아야 하므로 -->
<html layout:decorate="~{/layout/layout}">

<meta charset="UTF-8">

<div layout:fragment="content" class="content-padding">

<style>
abc {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 25px;
  color: #808080;
  max-width: 300px;
}
</style>

<!-- 이자리에 html 가운데 코드 작성 -->



<div class="myPage">
    <div class="sidebar" style="margin: 50px 0 50px; width: 17%; min-width: 250px; ">
        <div class="box filter">
            <h2>마이페이지</h2>
            <ul class="links">
                <li><a href="mypage/mypage">내정보</a></li>
                <li><a href="mypage/basket">숙소 찜 목록</a></li>
                <li><a href="mypage/my_reservation">예약내역</a></li>
                <li><a href="mypage/delete">회원탈퇴</a></li>
            </ul>
           	<hr/>
            <h2>더보기</h2>
            <ul class="links">
                <li class="active"><a href="notice/noticeList">공지사항</a></li>
                <li><a href="inquiry/inquiryList">문의게시판</a></li>
                <li><a href="mypage/mypage">메뉴1</a></li>
                <li><a href="mypage/delete">메뉴2</a></li>
            </ul>
        </div>
        <!--end filter-->
    </div>
    <!--end sidebar-->
    <div id="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-9"  style="margin-left: 30px;">
                    <div class="main-content">
                    <div class="col-md-9">
                        <h1 style="color: grey; margin-top: 50px; margin-bottom: 40px;">공지사항</h1>
                        <!--end title-->
                         <article class="box filter" style="background-color: white; width: 150%; background-color: #FAFAFA">
						<table>
							<tr th:each="dto : ${dto}">
							  <abc th:text="${dto.subject}" style="font-size: 30px; font-family: Gowun Batang, sans -serif; font-weight: bold; color:#000;"></abc>
							   <td style="vertical-align: top; text-align: right; ">
							    <div th:text="${dto.userid}" style="width:850px; font-size: 19px; text-align: right;"></div>
							    <div style="width:850px; text-align: right; font-size: 16px">
								    <i class="fa fa-clock-o"></i> 
								    <span th:text="${#dates.format(dto.created, 'yyyy/MM/dd, HH:MM:SS')}"></span>
								</div>
							   </td>
							 </tr>
						 </table>
						 
						 
                         <hr/>
                         <table style="font-size: 22px; font-family: Gowun Batang, sans -serif ">
                        	<tr th:each="dto : ${dto}" >
                                <tr><td th:text="${dto.context}"></td></tr>
                            </tr>
                            
                         </table>
                         
                         <br/><br/><br/>
						<!-- 수정, 삭제 버튼 -->
							<span th:if="${sessionUser != null and sessionUser.id == 'admin'}">
							    <input type="button" value="수정" class="btn btn-framed btn-small btn-default btn-rounded"
							        th:onclick="'location.href=\'notice/noticeUpdate?num=' + @{${dto.notice_num }}+'\''"
							        style="font-size: 13px; width: 87px;height: 41px; font-size: 21px">
							    <input type="button" value="삭제" class="btn btn-framed btn-small btn-default btn-rounded"
							        th:onclick="'location.href=\'notice/deleted_ok?num=' + @{${dto.notice_num }} +'\''"
							        style="font-size: 13px; width: 87px;height: 41px; font-size: 21px">
							</span>
							<!-- 리스트 버튼, 로그인하든 안하든 다 보일 수 있게? -->
							<span>
							    <input type="button" value="리스트" class="btn btn-framed btn-small btn-default btn-rounded"
							        th:onclick="'location.href=\'notice/noticeList?num=' + @{${dto.notice_num }} +'\''"
							        style="font-size: 13px; width: 87px;height: 41px; font-size: 21px"> 
							</span>

                        
                        </article><!-- /.blog-post-listing -->

                        
                       
                    </div>
                    <!--end main-content-->
                </div>
                <!--end col-md-9-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </div>
    <!--end page-content-->
</div>
<!--end page-wrapper-->

</div>


</html>











