<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}">

<meta charset="UTF-8">

<div layout:fragment="content" class="content-padding" style="padding-top: 60px;">

<link rel="stylesheet" href="assets/css/jquery.datepick.css" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<link rel="stylesheet" href="//code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script type="text/javascript" 
	src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=v3i76g652l"></script>

<style>
@import url('https://fonts.googleapis.com/css?family=Gowun+Batang&display=swap');
h1,h2,h3,h4,input,span,a,button,th,dt,dd,label{
	font-family: 'Gowun Batang', sans-serif;
	opacity: 1;
	font-weight: 600;
}
 .btn-primary {
   border-color: #488f3e;
 }
 
 .carousel-control, .carousel-indicators {
  top: 250%;
}

p{
	font-family: 'Gowun Batang', sans-serif;
	opacity: 1;
	font-weight: 600;
	margin: 0 0 7px;
}

li{
	font-family: 'Gowun Batang', sans-serif;
	opacity: 1;
	font-weight: 600;
	text-decoration: none;
}


</style>
	
        
        <!-- =======================================컨텐츠 시작================================================= -->


<div class="page-wrapper" style="background-color: #f6f6f4;">
    <div id="page-content">
        <div class="container">
           <br/><br/>
              <div class="row" >
                 <div class="col-md-3">
                    <div class="sidebar">
                        <div class="box filter">
                            <h2>서울어때 숙소 찾아보기</h2>
                            <form id="searchForm" action="/hotel/hotellist" method="get">
                               <div class="form-group">
                                    <label for="form-filter-destination" style="font-family: 'Gowun Batang', sans-serif; margin-bottom: 8.8px;">장소</label>
                                    <input type="text" class="form-control" id="searchValue" name="searchValue" placeholder="지역, 숙소명을 입력하세요."
                                    style="opacity: 1;">
                                </div>
                                <!--end form-group-->
                                <div class="form-group-inline">
                                    <div class="form-group">
                                        <label class="label-on-input" for="datepicker1" style="font-size: 12px; opacity: 1; font-family: 'Gowun Batang', sans-serif; margin-bottom: 8px;">체크인 날짜</label>
                                        <input type="text" id="datepicker1" name="check_in" placeholder="연도-월-일" th:value="${check_in_day}"
                                        onkeydown="return false;" readonly style="padding-left: 10px; font-weight: bold; font-size: 15px;">
                                    </div>
                                    <!--end form-group-->
                                    <div class="form-group">
                                        <label class="label-on-input" for="datepicker2" style="font-size: 12px; opacity: 1; font-family: 'Gowun Batang', sans-serif; margin-bottom: 8px;">체크아웃 날짜</label>
                                        <input type="text" id="datepicker2" name="check_out" placeholder="연도-월-일" th:value="${check_out_day}"
                                        onkeydown="return false;" readonly style="padding-left: 10px; font-weight: bold; font-size: 15px;">
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end form-group-inline-->

                                <div class="form-group center">
                                    <button type="submit" class="btn btn-primary1 btn-rounded form-control" style="font-family: 'Gowun Batang', sans-serif; font-weight: bold;">숙소 검색하기</button>
                                </div>
                            </form>
                            <!--end form-filter-->
                        </div>
                        
                        <!--end filter-->
                        <!--end box-->
                        
                    </div>
                    <!--end sidebar-->
                    
                </div>
                <!--end col-md-3-->
                <div class="col-md-9 col-sm-8">
                    
                    <div class="main-content">
                        <div class="title">
                            <div class="left" style="text-align: left;">
                                <h1 style="color: #488f3e;"><b>[[${dto1[0].hotel_name}]]</b><span class="rating"><i class="fa fa-star"></i>9.9</span></h1>
                                <h3 style="color: #488f3e;">[[${dto1[0].addr1}]]</h3>
                            </div>
                            <div class="right">
                                <a href="#additional-information" class="icon scroll" style="color: #488f3e;"><i class="fa fa-map-marker"></i>위치</a>
                                <a href="#availability" class="btn btn-primary btn-rounded scroll">객실 보기</a>
                            </div>
                        </div>
                        <!--end title-->
                         <!--호텔 사진 부분 th:src="${getTitle[0].url}"-->
                        <section id="gallery">
                        		 <!--
                        		
                        		<div th:each="sweet:${getSweet}">
									<a th:href="'http://localhost:8080/hotel/'+@{${sweet.url}}" target="_blank"><img th:src="'/hotel/' + @{${sweet.url}}"  /></a>
								</div>
						       -->
						      <div class = "hotel-title" >
								    <img th:src="@{|/hotel/${getTitle[0].url}|}" style="max-width:100%; height:auto;"/>
							 </div>
							
						</section>
                        <h2>숙박 정보</h2>
                        <div class="row">
                            <div class="col-md-8">
                                <section id="description">
                                   
                                    <p>
                                   [[${dto2[0].hotel_information}]]
                                    </p>
                                </section>
									<section id="facilities">
									    <h2>객실 내부 시설</h2>
									    <ul class="bullets half">
									        <li style="margin-bottom: 3px;" th:if="${dto4[0].toiletries eq 1}">개인화장실</li>
									        <li style="margin-bottom: 3px;" th:if="${dto4[0].shower eq 1}">샤워시설</li>
									        <li style="margin-bottom: 3px;" th:if="${dto4[0].towel eq 1}">욕실시설</li>
									        <li style="margin-bottom: 3px;" th:if="${dto4[0].tv eq 1}">TV</li>
									        <li style="margin-bottom: 3px;" th:if="${dto4[0].coffeemaker eq 1}">커피포트</li>
									        <li style="margin-bottom: 3px;" th:if="${dto4[0].air_conditional eq 1}">냉방시설</li>
									        <li style="margin-bottom: 3px;" th:if="${dto4[0].slipper eq 1}">객실 슬리퍼</li>
									        <li style="margin-bottom: 3px;" th:if="${dto4[0].heating eq 1}">난방시설</li>
									        <li style="margin-bottom: 3px;" th:if="${dto4[0].table1 eq 1}">테이블</li>
									        <li style="margin-bottom: 3px;" th:if="${dto4[0].pc eq 1}">PC</li>
									    </ul>
									</section>

                            </div>
                            <!--end col-md-8-->
                            <div class="col-md-4">
                                <div class="sidebar">
                                    <aside class="box" style="margin-bottom: 0px;">
                                    	<span style="font-size: 20px;">숙박 내외 시설</span>
                                    	<ul style="font-size: 20px; margin-top: 12px;">
	                                        <li style="margin-bottom: 3px; font-size: 15px;" th:if="${dto3[0].info24 eq 1}">24시 안내데스크</li>
	                                        <li style="margin-bottom: 3px; font-size: 15px;" th:if="${dto3[0].free_parking eq 1}">무료 주차</li>
	                                        <li style="margin-bottom: 3px; font-size: 15px;" th:if="${dto3[0].free_wifi eq 1}">무료 WI-FI</li>
	                                        <li style="margin-bottom: 3px; font-size: 15px;" th:if="${dto3[0].no_smoking eq 1}">금연 시설</li>
	                                        <li style="margin-bottom: 3px; font-size: 15px;" th:if="${dto3[0].breakfast eq 1}">조식 제공</li>
	                                        <li style="margin-bottom: 3px; font-size: 15px;" th:if="${dto3[0].fitness eq 1}">피트니스 센터</li>
	                                        <li style="margin-bottom: 3px; font-size: 15px;" th:if="${dto3[0].restaurant eq 1}">식당/레스토랑</li>
	                                        <li style="margin-bottom: 3px; font-size: 15px;" th:if="${dto3[0].cafe eq 1}">카페</li>
	                                        <li style="margin-bottom: 3px; font-size: 15px;" th:if="${dto3[0].convenience eq 1}">편의점</li>
                                        </ul>
                                    </aside>
                                </div>
                                <!--end sidebar-->
                            </div>
                            <!--end col-md-4-->
                        </div>
                        <!--end row-->

                        <section id="availability">
                            <h2>예약</h2>
                            <form id="searchForm1" action="" method="post">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="label-on-input" for="datepicker3" style="font-size: 12px; opacity: 1; font-family: 'Gowun Batang', sans-serif;">체크인 날짜</label>
	                                        <input type="text" id="datepicker3" name="check_in" placeholder="연도-월-일" th:value="${check_in_day}"
	                                        onkeydown="return false;" readonly style="padding-left: 10px; font-weight: bold; font-size: 17px;">
                                        </div>
                                    </div>
                                    <!--end col-md-3-->
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="label-on-input" for="datepicker4" style="font-size: 12px; opacity: 1; font-family: 'Gowun Batang', sans-serif;">체크아웃 날짜</label>
	                                        <input type="text" id="datepicker4" name="check_out" placeholder="연도-월-일" th:value="${check_out_day}"
	                                        onkeydown="return false;" readonly style="padding-left: 10px; font-weight: bold; font-size: 17px;">
                                        </div>
                                    </div>
                                    <!--end col-md-3-->
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="invisible">Hidden label</label>
                                            <input type="hidden" id="hotel_id" name="hotel_id" th:value="${hotel_id}"> <!-- hotel_id hidden 필드 추가 -->
                                            <button class="btn btn-primary btn-rounded btn-framed form-control"
                                            style="font-weight: bold; height: 40px; background: #488f3e; color: #fff; font-size: 17px;"
                                            onclick="searchDay();" >객실 날짜 검색하기</button>
                                        </div>
                                    </div>
                                    <!--end col-md-3-->
                                </div>
                                <!--end row-->
                            </form>
                            <!-- end of form class = "labels-uppercase" -->

                            <div class="form-reservations">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th style="width:45%; font-size: 20px;">
                                            <span style="margin-left: 18px;">객실사진</span></th>
                                            <th style="width:55%; font-size: 20px;">객실정보</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                                <input type="hidden" name="latitude" th:value="${dto1[0].latitude}"/>
								<input type="hidden" name="longitude" th:value="${dto1[0].longitude}"/>
								  
                                <!-- 1.스탠다드룸에 대한 form id = "room_1" 태그 start -->
                                <form id="room_1" name="myForm1" action="" method="post">
                                <!-- 0424 input 태그 추가 4줄 부분 -->
                                  <input type="hidden" name="hotel_id" th:value="${dto2[0].hotel_id}"/>
								  <input type="hidden" name="room_type" value="standard"/>
								  <input type="hidden" name="check_in" th:value="${check_in_day}" id="check_in_after1"/>
								  <input type="hidden" name="check_out" th:value="${check_out_day}" id="check_out_after1"/>
								  <input type="hidden" id="user_id1" th:value="${user_id}" />
								  
                                    <table class="table">
                                        <tbody>
                                            <tr class="room" style="height: 260px;">

                                                <td style="display: inline-block; text-align: left; width:45%; vertical-align: middle;">
                                  
                                  
                                  
                                                
                        <!--  ============================== standard 캐러셀 시작점 ================================== -->
							<div class="container" style="width: 300px; height: 70px;">
							<!-- lists.size(getStandard)의 사이즈가 1인 경우 -->
								  <div th:if="${#lists.size(getStandard)} == 1">
								    <!-- If getStandard has only one element, display a single image -->
								    <img th:src="'/hotel/' + ${hotel_id} + '_standard.jpg'" style="width:300px; height: 220px;">
								  </div>
								<!-- lists.size(getStandard)의 사이즈가 1가 아닌 경우 -->
								  <div th:unless="${#lists.size(getStandard)} == 1">
								    <!-- If getStandard has more than one element, display a carousel -->
								    <div id="myCarousel1" class="carousel slide" style="width: 300px; height: 70px;" data-interval="false">
								      <!-- Indicators -->
								      <ol class="carousel-indicators">
								        <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
								        <!-- Add more indicators for additional images -->
								        <th:block th:each="i, index : ${#numbers.sequence(1, getStandard.size())}">
								          <li data-target="#myCarousel1" data-slide-to="${index}"></li>
								        </th:block>
								      </ol>
								
								      <!-- Wrapper for slides -->
								      <div class="carousel-inner">
								        <div class="item active">
								          <img th:src="'/hotel/' + ${hotel_id} + '_standard1.jpg'" style="width:300px; height: 220px;">
								        </div>
								        <!-- Add more items for additional images -->
								        <th:block th:each="standard : ${getStandard}">
								          <div class="item">
								            <img th:src="'/hotel/' + @{${standard.url}}" style="width:300px; height: 220px;">
								          </div>
								        </th:block>
								      </div>
								
								      <!-- Left and right controls -->
								      <a class="left carousel-control" href="#myCarousel1" data-slide="prev">
								        <span class="glyphicon glyphicon-chevron-left"></span>
								        <span class="sr-only">Previous</span>
								      </a>
								      <a class="right carousel-control" href="#myCarousel1" data-slide="next">
								        <span class="glyphicon glyphicon-chevron-right"></span>
								        <span class="sr-only">Next</span>
								      </a>
								    </div>
								    <!-- myCarousel1 div 태그 -->
								  </div>
								  <!-- th:if lists.size ==1 div 태그 -->
							</div>
											          
											      
       						<!--  ============================== standard 캐러셀 끝나는 곳================================== -->
                                                
                                                
                                                
                                                
                                                </td>                                                
                                                <td class="room-info" style="width:55%; text-align: left; vertical-align: middle;">
                                                	<ul style="text-align: left;">
                                                		<li style="margin-bottom: 10px; font-size: 28px; font-weight: bold;">스탠다드 룸(Standard Room)</li>
                                                		<li style="margin-bottom: 7px;"><i class="fa fa-user" style="padding-right: 5px;"></i>2명</li>
                                                		<li style="margin-bottom: 10px;"><i class="fa fa-bed"></i>싱글베드 2개 or 더블베드 1개</li>
                                                		<li style="margin-bottom: 30px;">
	                                               		<span style="font-size: 28px; font-weight: bold;" th:text="${#numbers.formatInteger(dto2[0].standard, 0, 'COMMA')+'원'}">
	                                               		</span> / 1박기준</li>
                                                	</ul>
                                                	<th:block th:if="${resultMap1.standard}=='만실'">
                                                		<span id="standard2" style="font-size: 18px; color: red; font-weight: bold; margin-top: 10px;">이 객실은 만실입니다.</span>
	                                                	<button type="submit" id="standardButton" class="btn btn-disabled1" disabled="disabled" 
	                                                	style="font-size: 20px; font-weight: bold; width: 180px; height: 50px; float: right; text-align: center;">
	                                                	&nbsp;예약불가&nbsp; </button>
                                                	</th:block>
                                                	<th:block th:if="${resultMap1.standard}=='만실 임박'">
														<span id="standard2" style="font-size: 18px; color: red; font-weight: bold; margin-top: 10px;">잔여 객실이 1개 남았습니다.</span>
	                                                	<button type="submit" id="standardButton" class="btn btn-primary1"
	                                                	style="font-size: 20px; font-weight: bold; width: 180px; height: 50px; float: right; text-align: center;"
	                                                	onclick="reservation1();">
	                                                	&nbsp;예약하기&nbsp; </button>
                                                	</th:block>
                                                	<th:block th:if="${resultMap1.standard}=='여유'">
                                                		<span id="standard2" style="font-size: 18px; color: red; font-weight: bold; margin-top: 10px;"></span>
	                                                	<button type="submit" id="standardButton" class="btn btn-primary1"
	                                                	style="font-size: 20px; font-weight: bold; width: 180px; height: 50px; float: right; text-align: center;"
	                                                	onclick="reservation1();">
	                                                	&nbsp;예약하기&nbsp; </button>
                                                	</th:block>
                                                	 
                                                </td>
                                                

                                            </tr>
                                            <!--end tr.room-->
                                        </tbody>
                                    </table>
                                    <!--end table-->
                                </form>
                               <!-- 스탠다드룸에 대한 form id = "room_1" 태그 end -->
                               
                               
                               <!-- 2. 스위트룸에 대한 form id = "room_2" 태그 start -->
                                <form id="room_2" name="myForm2" action="" method="post">
                                <!-- 0424 input 태그 추가 4줄 부분 -->
                                  <input type="hidden" name="hotel_id" th:value="${dto2[0].hotel_id}"/>
								  <input type="hidden" name="room_type" value="sweet"/>
								  <input type="hidden" name="check_in" th:value="${check_in_day}" id="check_in_after2"/>
								  <input type="hidden" name="check_out" th:value="${check_out_day}" id="check_out_after2"/>
								  <input type="hidden" id="user_id2" th:value="${user_id}" />
								  
                                    <table class="table">
                                        <tbody>
                                        <tr class="room" style="height: 260px;">
                                            <td style="display: inline-block; text-align: left; width:45%; vertical-align: middle;">
                                             
                        <!--  ============================== 스위트 ================================== -->
											   <div class="container" style="width: 300px; height: 70px;">
							<!-- lists.size(getStandard)의 사이즈가 1인 경우 -->
								  <div th:if="${#lists.size(getSweet)} == 1">
								    <!-- If getStandard has only one element, display a single image -->
								    <img th:src="'/hotel/' + ${hotel_id} + '_sweet.jpg'" style="width:300px; height: 220px;">
								  </div>
								<!-- lists.size(getStandard)의 사이즈가 1가 아닌 경우 -->
								  <div th:unless="${#lists.size(getSweet)} == 1">
								    <!-- If getStandard has more than one element, display a carousel -->
								    <div id="myCarousel2" class="carousel slide" style="width: 300px; height: 70px;" data-interval="false">
								      <!-- Indicators -->
								      <ol class="carousel-indicators">
								        <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
								        <!-- Add more indicators for additional images -->
								        <th:block th:each="i, index : ${#numbers.sequence(1, getSweet.size())}">
								          <li data-target="#myCarousel2" data-slide-to="${index}"></li>
								        </th:block>
								      </ol>
								
								      <!-- Wrapper for slides -->
								      <div class="carousel-inner">
								        <div class="item active">
								          <img th:src="'/hotel/' + ${hotel_id} + '_sweet1.jpg'" style="width:300px; height: 220px;">
								        </div>
								        <!-- Add more items for additional images -->
								        <th:block th:each="sweet : ${getSweet}">
								          <div class="item">
								            <img th:src="'/hotel/' + @{${sweet.url}}" style="width:300px; height: 220px;">
								          </div>
								        </th:block>
								      </div>
								
								      <!-- Left and right controls -->
								      <a class="left carousel-control" href="#myCarousel2" data-slide="prev">
								        <span class="glyphicon glyphicon-chevron-left"></span>
								        <span class="sr-only">Previous</span>
								      </a>
								      <a class="right carousel-control" href="#myCarousel2" data-slide="next">
								        <span class="glyphicon glyphicon-chevron-right"></span>
								        <span class="sr-only">Next</span>
								      </a>
								    </div>
								    <!-- myCarousel1 div 태그 -->
								  </div>
								  <!-- th:if lists.size ==1 div 태그 -->
							</div>	
       						<!--  ============================== 모달 end 구분선================================== -->
                                                </td>
                                            <td class="room-info" style="width:55%; text-align: left; vertical-align: middle;">
                                               	<ul style="text-align: left;">
                                               		<li style="margin-bottom: 10px; font-size: 28px; font-weight: bold;">스위트 룸(Sweet Room)</li>
                                               		<li style="margin-bottom: 7px;"><i class="fa fa-user" style="padding-right: 5px;"></i>2명</li>
                                               		<li style="margin-bottom: 10px;"><i class="fa fa-bed"></i>더블베드 1개</li>
                                               		<li style="margin-bottom: 30px;">
                                               		<span style="font-size: 28px; font-weight: bold;" th:text="${#numbers.formatInteger(dto2[0].sweet, 0, 'COMMA')+'원'}">
                                               		</span> / 1박기준</li>
                                               		
                                               	</ul>
                                               	<th:block th:if="${resultMap1.sweet}=='만실'">
                                               		<span id="sweet2" style="font-size: 18px; color: red; font-weight: bold; margin-top: 10px;">이 객실은 만실입니다.</span>
                                                	<button type="submit" id="sweetButton" class="btn btn-disabled2" disabled="true" 
                                                	style="font-size: 20px; font-weight: bold; width: 180px; height: 50px; float: right; text-align: center;">
                                                	&nbsp;예약불가&nbsp; </button>
                                               	</th:block>
                                               	<th:block th:if="${resultMap1.sweet}=='만실 임박'">
                                               		<span id="sweet2" style="font-size: 18px; color: red; font-weight: bold; margin-top: 10px;">잔여 객실이 1개 남았습니다.</span>
                                                	<button type="submit" id="sweetButton" class="btn btn-primary2"
                                                	style="font-size: 20px; font-weight: bold; width: 180px; height: 50px; float: right; text-align: center;"
                                                	onclick="reservation2();">
                                                	&nbsp;예약하기&nbsp; </button>
                                               	</th:block>
                                               	<th:block th:if="${resultMap1.sweet}=='여유'">
                                               		<span id="sweet2" style="font-size: 18px; color: red; font-weight: bold; margin-top: 10px;"></span>
                                                	<button type="submit" id="sweetButton" class="btn btn-primary2"  
                                                	style="font-size: 20px; font-weight: bold; width: 180px; height: 50px; float: right; text-align: center;"
                                                	onclick="reservation2();">
                                                	&nbsp;예약하기&nbsp; </button>
                                               	</th:block>
                                           </td>
                                        </tr>
                                        <!--end tr.room-->
                                        </tbody>
                                    </table>
                                    <!--end table-->
                                </form>
        					<!-- 스위트룸에 대한 form id = "room_2" 태그 end -->                     
		
							<!-- 3. 디럭스룸에 대한 form id = "room_3" 태그 start -->
                                <form id="room_3" name="myForm3" action="" method="post">
                                <!-- 0424 input 태그 추가 4줄 부분 -->
                                  <input type="hidden" name="hotel_id" th:value="${dto2[0].hotel_id}"/>
								  <input type="hidden" name="room_type" value="deluxe"/>
								  <input type="hidden" name="check_in" th:value="${check_in_day}" id="check_in_after3"/>
								  <input type="hidden" name="check_out" th:value="${check_out_day}" id="check_out_after3"/>
								  <input type="hidden" id="user_id3" th:value="${user_id}" />
                                    <table class="table">
                                        <tbody>
                                        <tr class="room" style="height: 260px;">
                                            <td style="display: inline-block; text-align: left; width:45%; vertical-align: middle;">
                                               
                                        <!--  ============================== 디럭스================================= -->
			    
							   <div class="container" style="width: 300px; height: 70px;">
									<!-- lists.size(getDeluxe)의 사이즈가 1인 경우 -->
										  <div th:if="${#lists.size(getDeluxe)} == 1">
										    <!-- If getStandard has only one element, display a single image -->
										    <img th:src="'/hotel/' + ${hotel_id} + '_deluxe.jpg'" style="width:300px; height: 220px;">
										  </div>
										<!-- lists.size(getDeluxe)의 사이즈가 1가 아닌 경우 -->
										  <div th:unless="${#lists.size(getDeluxe)} == 1">
										    <!-- If getStandard has more than one element, display a carousel -->
										    <div id="myCarousel3" class="carousel slide" style="width: 300px; height: 70px;" data-interval="false">
										      <!-- Indicators -->
										      <ol class="carousel-indicators">
										        <li data-target="#myCarousel3" data-slide-to="0" class="active"></li>
										        <!-- Add more indicators for additional images -->
										        <th:block th:each="i, index : ${#numbers.sequence(1, getDeluxe.size())}">
										          <li data-target="#myCarousel3" data-slide-to="${index}"></li>
										        </th:block>
										      </ol>
										
										      <!-- Wrapper for slides -->
										      <div class="carousel-inner">
										        <div class="item active">
										          <img th:src="'/hotel/' + ${hotel_id} + '_deluxe1.jpg'" style="width:300px; height: 220px;">
										        </div>
										        <!-- Add more items for additional images -->
										        <th:block th:each="deluxe : ${getDeluxe}">
										          <div class="item">
										            <img th:src="'/hotel/' + @{${deluxe.url}}" style="width:300px; height: 220px;">
										          </div>
										        </th:block>
										      </div>
										
										      <!-- Left and right controls -->
										      <a class="left carousel-control" href="#myCarousel3" data-slide="prev">
										        <span class="glyphicon glyphicon-chevron-left"></span>
										        <span class="sr-only">Previous</span>
										      </a>
										      <a class="right carousel-control" href="#myCarousel3" data-slide="next">
										        <span class="glyphicon glyphicon-chevron-right"></span>
										        <span class="sr-only">Next</span>
										      </a>
										    </div>
										    <!-- myCarousel1 div 태그 -->
										  </div>
										  <!-- th:if lists.size ==1 div 태그 -->
								</div>
       						<!--  ============================== 모달 end 구분선================================== -->
                                            </td>
                                            <td class="room-info" style="width:55%; text-align: left; vertical-align: middle;">
                                               	<ul style="text-align: left;">
                                               		<li style="margin-bottom: 10px; font-size: 28px; font-weight: bold;">디럭스 룸(Deluxe Room)</li>
                                               		<li style="margin-bottom: 7px;"><i class="fa fa-user" style="padding-right: 5px;"></i>4명</li>
                                               		<li style="margin-bottom: 10px;"><i class="fa fa-bed"></i>더블베드 2개</li>
                                               		<li style="margin-bottom: 30px;">
                                               		<span style="font-size: 28px; font-weight: bold;"
                                               		th:text="${#numbers.formatInteger(dto2[0].deluxe, 0, 'COMMA')+'원'}">
                                               		</span> / 1박기준</li>
                                               		
                                               	</ul>
                                               	<th:block th:if="${resultMap1.deluxe}=='만실'">
                                               		<span id="deluxe2" style="font-size: 18px; color: red; font-weight: bold; margin-top: 10px;">이 객실은 만실입니다.</span>
                                                	<button type="submit" id="deluxeButton" class="btn btn-disabled3" disabled="true" 
                                                	style="font-size: 20px; font-weight: bold; width: 180px; height: 50px; float: right; text-align: center;">
                                                	&nbsp;예약불가&nbsp; </button>
                                               	</th:block>
                                               	<th:block th:if="${resultMap1.deluxe}=='만실 임박'">
                                               		<span id="deluxe2" style="font-size: 18px; color: red; font-weight: bold; margin-top: 10px;">잔여 객실이 1개 남았습니다.</span>
                                                	<button type="submit" id="deluxeButton" class="btn btn-primary3" 
                                                	style="font-size: 20px; font-weight: bold; width: 180px; height: 50px; float: right; text-align: center;"
                                                	onclick="reservation3();">
                                                	&nbsp;예약하기&nbsp; </button>
                                               	</th:block>
                                               	<th:block th:if="${resultMap1.deluxe}=='여유'">
                                               		<span id="deluxe2" style="font-size: 18px; color: red; font-weight: bold; margin-top: 10px;"></span>
                                                	<button type="submit" id="deluxeButton" class="btn btn-primary3"  
                                                	style="font-size: 20px; font-weight: bold; width: 180px; height: 50px; float: right; text-align: center;"
                                                	onclick="reservation3();">
                                                	&nbsp;예약하기&nbsp; </button>
                                               	</th:block>
                                           </td>
                                        </tr>
                                        <!--end tr.room-->
                                        </tbody>
                                    </table>
                                    <!--end table-->
                                </form>
                               <!-- 스위트룸에 대한 form id = "room_3" 태그 end -->
                          
                            </div>
                            <!--end form-reservations-->
                        </section>
                        <section id="additional-information">
                            <h2 style="font-size: 20px;">체크인, 체크아웃 시간</h2><h2>PM [[${dto2[0].check_in}]] / AM [[${dto2[0].check_out}]]</h2>
                            <span>(체크인, 체크아웃 시간에 대한 문의사항은 숙소로 별도 문의 부탁드립니다.)</span>
                            <!--end info-->
                        </section>
                        <h2>숙소 위치</h2>
                                 <section id="map">
                                    
                                    <div id="map" style="width: 600px; height: 400px;"></div>
                                    <!--end map-->
                                </section>
                                
                                
                                
                                
                                
                                
                                
                                
                                
                        	 <!-- 리뷰 시작================================================================================ -->
                       		 <section id="reviews">
								<div th:with="hotel_id=${hotel_id}">

									<div class="title">
										<h2 class="pull-left">이용 후기</h2>
										<a href="#write-a-review"
											class="btn btn-primary btn-rounded pull-right scroll">이용 후기 작성하기</a>
									</div>
									<ul style="width:600px;">

										<h3>호텔 평점</h3>
										<ul class="rating-score rating-score-without-star">
											<li class="overall"><i class="fa fa-star"></i>[[${avg}]] &nbsp;&nbsp;<span style="font-size: 20px;"><i class="fa fa-bed"></i>[[${count}]]</span></li>
										</ul>

										<div class="reviews">

											<div class="review">
												
												<div class="test1111">
											
													<li th:each="review : ${reviewList}" style="list-style-type: none; padding-bottom: 15px; width:600px;">
														<div class="row">
	
															<div class="col-md-9">
																<div class="comment" style="padding: 20px; width: 600px;">
																	<div class="comment-title" style="margin-bottom: 5px;">
																		<figure class="rating" th:text="${review.SCORE}">평점</figure>
																		<h4 th:text="${review.USERNAME}"></h4>
																		<i class="fa fa-clock-o"></i>
																		<span th:text="${#dates.format(review.CREATED, 'yyyy-MM-dd, HH:mm:ss')}"></span>
																	</div>
																	<br />
																	<p th:text="${review.CONTEXT}"></p>
																</div>
															</div>
														</div> <!--end row-->												
													</li>
												</div>
												
												
												<!-- 페이징====================================== -->
												<div class="paging11">
													<div class="basket-paging" th:if="${dataCount>0}">
														<ul>
															<li th:utext="${pageIndexList}" style="font-size: 24px; text-align:center; list-style-type: none;
															font-family: 'Gowun Batang', sans-serif; font-weight: bold;"></li>
														</ul>
													</div>
											                
													<div class="basket-paging" th:if="${dataCount==0}">
														<td colspan="5">
															<span style="font-size: 36px; text-align:center;
															font-family: 'Gowun Batang', sans-serif; font-weight: bold;">등록된 이용 후기가 없습니다. </span>
														</td>
													</div>
												</div>
												<!-- 페이징끝====================================== -->
											
											<!-- review끝 -->
											</div>
											
											<!-- reviews끝 -->
										</div>
										
										<!-- review : ${reviewList}반복끝 -->
									</ul>
									
								</div>
								
								<!-- 김은영이 준 reviewList띄우기 끝 -->
							</section>
							
							
							
							<!--end review-->
							<section id="write-a-review">
                            <h2>이용 후기 작성하기</h2>
                            <form  class="labels-uppercase clearfix" name="myForm4" id="review-form" method="post">
                                <div class="review write switch" id="review-write" style="opacity: 1; pointer-events: all;">
                                    
                                    <div class="comment">
                                        <div class="row">
                                        
                                            <div class="col-md-8">
                                                <div class="comment-title">
                                                 <input type="hidden" id="hotel_id" name="hotel_id" th:value="${hotel_id}"> 
														<h4> [[${dto1[0].hotel_name}]]</h4>
                                                </div>
                                                
                                                <!--end title-->
                                                <div class="form-group">
                                                    <label for="form_reply_1-message" style="font-size: 14px;">리뷰 내용<em>*</em></label>
                                                    <textarea class="form-control" id="context11" rows="8" name="context11" placeholder="숙박 후기를 적어주세요!"></textarea>
                                                </div>
                                                <!--end form-group-->
                                                <div class="form-group pull-right">
                                                    <button type="submit" class="btn btn-primary btn-rounded" onclick="review0129();">작성완료</button>
                                                </div>
                                                <!--end form-group-->
                                            </div>
                                            <!--end col-md-8-->
                                            <div class="col-md-4">
                                                <div class="comment-title">
                                                    <h4>호텔 평점</h4>
                                                </div>
                                                <!--end title-->
                                                <dl class="visitor-rating">
                                                    <dt>점수 남기기</dt>
                                                    <dd class="star-rating active" data-name="cleanliness" id="score11" name="score11">
                                                    </dd>
                                                </dl>
                                            </div>
                                            <!--end col-md-4-->
                                  
                                        </div>
                                        <!--end row-->
                                    </div>
                                    <!--end comment-->
                                </div>
                                <!--end review-->
                                <!-- 리뷰 끝================================================================================ -->
                                
                                
                                
                                
                                
                                
                                <input type="hidden" id="user_id_review" th:value="${user_id}" />
                                <input type="hidden" id="listUrl_review" th:value="${listUrl}"/>
                            </form>
                            <!--end form-->
                        </section>
                    </div>
                    <!--end main-content-->
                </div>
                <!--end col-md-9-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
   	 </div>
   	 <!--end page-content-->
	</div>
	<!-- page-wrapper end -->


<!-- ==========================================개별 스크립트 부분..============================================= -->


<!-- 3.6.4 제이쿼리 라이브러리는 임시로 detailTest에 옮김 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script type="text/javascript">

	function getPageList(listUrl, pageNum1) {
		event.preventDefault();
		
		var hotel_id = $("#hotel_id").val();
		
		$.ajax({
			type: "GET",
	        url: "/reviewPaging",
	        data: {listUrl: listUrl, pageNum1: pageNum1, hotel_id: hotel_id},
	        success: function(pagingData) {
	        	
	        	var pageIndexList = pagingData.pageIndexList;
	        	var dataCount = pagingData.dataCount;
	        	var reviewList = pagingData.reviewList;
	        	
	        	
	        	var container = $(".test1111");
	            container.empty();

	            for (var i = 0; i < reviewList.length; i++) {
	                var review = reviewList[i];
	                var item = $("<li>", {"style": "list-style-type: none; padding-bottom: 15px;"});

	                var row = $("<div>", {"class": "row"});
	                var col = $("<div>", {"class": "col-md-9"});
	                var comment = $("<div>", {"class": "comment", "style": "padding: 20px; width: 600px;"});

	                var title = $("<div>", {"class": "comment-title"});
	                var rating = $("<figure>", {"class": "rating", "text": review.SCORE});
	                var username = $("<h4>", {"html": "&nbsp;" + review.USERNAME + "&nbsp;"});
	                var clockIcon = $("<i>", {"class": "fa fa-clock-o"});
	                var created = $("<span>", {"text": review.CREATED});
	                var context = $("<p>", {"text": review.CONTEXT});

	                var date = new Date(created.text());

		            // yy-mm-dd hh-mm-ss 형태로 변환
		            var formattedDate = " " + ("0" + (date.getYear() - 100)).slice(-2) + "-" +
		                                 ("0" + (date.getMonth() + 1)).slice(-2) + "-" +
		                                 ("0" + date.getDate()).slice(-2) + " " +
		                                 ("0" + date.getHours()).slice(-2) + ":" +
		                                 ("0" + date.getMinutes()).slice(-2) + ":" +
		                                 ("0" + date.getSeconds()).slice(-2);
	                
	                title.append(rating);
	                title.append(username);
	                title.append(clockIcon);
	                title.append(formattedDate);
	                comment.append(title);
	                comment.append("<br>");
	                comment.append(context);
	                col.append(comment);
	                row.append(col);
	                item.append(row);

	                container.append(item);
	            }
	        	

				var containerPaging = $(".paging11");
				containerPaging.empty();
				
	            if(dataCount > 0){
	            	var yes = $("<div>", {"class": "basket-paging"});
	            	var ul = $("<ul>");
	            	var li = $("<li>").append(pageIndexList);
	            	li.css({
	            	  "font-size": "24px",
	            	  "text-align": "center",
	            	  "list-style-type": "none",
	            	  "font-family": "'Gowun Batang', sans-serif",
	            	  "font-weight": "bold"
	            	});
	            	ul.append(li);
		            yes.append(ul);
		            containerPaging.append(yes);
	            }
	            
				if(dataCount == 0){
	            	var no = $("<div>", {"class": "basket-paging"});
	            	var td = $("<td>").attr("colspan", "5");
	            	var li = $("<li>", {"text": "등록된 리뷰가 없습니다."});
	            	li.css({
	            	  "font-size": "24px",
	            	  "text-align": "center",
	            	  "list-style-type": "none",
	            	  "font-family": "'Gowun Batang', sans-serif",
	            	  "font-weight": "bold"
	            	});
	            	td.append(li);
		            no.append(td);
		            containerPaging.append(no);
	            	
	            }
   
	        }
	    });
	    
	    
	}

	
	
	function review0129() {
		
		var f = document.myForm4;
		
	    var hotel_id = $("#hotel_id").val();
	    var inputElement = document.querySelector('#score_cleanliness');
	    var context = $("#context11").val();
	    var listUrl = $("#listUrl_review").val();

	    
		var user_id_review = $("#user_id_review").val();
		
		if(user_id_review===""){
			
			swal({
        		title: "로그인 필요",
        		text: "로그인 후 이용가능합니다.",
        		icon: "warning",
        		button: "확인",
        	}).then(function() {
        		f.action="login/login";
    			f.submit();
        	});
			event.preventDefault();
			
		}else{
			
			if(inputElement.value==""){
				
				swal({
					  title: "별점 입력오류",
					  text: "별점을 설정해주세요.",
					  icon: "error",
					  button: "확인",
				})
				
				event.preventDefault();
				return;
				    
			}
			
			if(context==""){
				
				swal({
					  title: "리뷰 내용 입력오류",
					  text: "리뷰 내용을 입력해주세요.",
					  icon: "error",
					  button: "확인",
				})
				
				event.preventDefault();
				return;
				    
			}
			
			
			
			
			$.ajax({
		        type: "GET",
		        url: "/reviews",
		        data: {hotel_id: hotel_id, score: inputElement.value, context: context, listUrl:listUrl},
		        success: function(reviewData) {
		        	
		        	var reviewList = reviewData.reviewList;
		        	var pageIndexList = reviewData.pageIndexList;
		        	var dataCount = reviewData.dataCount;
		        	
		        	var container = $(".test1111");
		            container.empty();

		            for (var i = 0; i < reviewList.length; i++) {
		                var review = reviewList[i];
		                var item = $("<li>", {"style": "list-style-type: none; padding-bottom: 15px;"});

		                var row = $("<div>", {"class": "row"});
		                var col = $("<div>", {"class": "col-md-9"});
		                var comment = $("<div>", {"class": "comment", "style": "padding: 20px; width: 600px;"});

		                var title = $("<div>", {"class": "comment-title"});
		                var rating = $("<figure>", {"class": "rating", "text": review.SCORE});
		                var username = $("<h4>", {"html": "&nbsp;" + review.USERNAME + "&nbsp;"});
		                var clockIcon = $("<i>", {"class": "fa fa-clock-o"});
		                var created = $("<span>", {"text": review.CREATED});
		                var context = $("<p>", {"text": review.CONTEXT});

		                var date = new Date(created.text());

			            // yy-mm-dd hh-mm-ss 형태로 변환
			            var formattedDate = " " + ("0" + (date.getYear() - 100)).slice(-2) + "-" +
			                                 ("0" + (date.getMonth() + 1)).slice(-2) + "-" +
			                                 ("0" + date.getDate()).slice(-2) + " " +
			                                 ("0" + date.getHours()).slice(-2) + ":" +
			                                 ("0" + date.getMinutes()).slice(-2) + ":" +
			                                 ("0" + date.getSeconds()).slice(-2);
		                
		                title.append(rating);
		                title.append(username);
		                title.append(clockIcon);
		                title.append(formattedDate);
		                comment.append(title);
		                comment.append("<br>");
		                comment.append(context);
		                col.append(comment);
		                row.append(col);
		                item.append(row);

		                container.append(item);
		            }
		            
		            var containerPaging = $(".paging11");
					containerPaging.empty();
					
		            if(dataCount > 0){
		            	var yes = $("<div>", {"class": "basket-paging"});
		            	var ul = $("<ul>");
		            	var li = $("<li>").append(pageIndexList);
		            	li.css({
		            	  "font-size": "24px",
		            	  "text-align": "center",
		            	  "list-style-type": "none",
		            	  "font-family": "'Gowun Batang', sans-serif",
		            	  "font-weight": "bold"
		            	});
		            	ul.append(li);
			            yes.append(ul);
			            containerPaging.append(yes);
		            }
		    
		        }
		        
		        
		        
		    });
		    event.preventDefault();
		}
		
	}
	    
		
	function reservation1() {
		
		var f = document.myForm1;
		
		var user_id = document.getElementById("user_id1").value;
		if(user_id===""){
			
			swal({
        		title: "로그인 필요",
        		text: "로그인 후 이용가능합니다.",
        		icon: "warning",
        		button: "확인",
        	}).then(function() {
        		f.action="login/login";
    			f.submit();
        	});
			event.preventDefault();
		}else{
			f.action="paymentPage";
		    f.submit();
		}
		
	}
	
	function reservation2() {
		
		var f = document.myForm2;
		
		var user_id = document.getElementById("user_id2").value;
		if(user_id===""){
			
			swal({
        		title: "로그인 필요",
        		text: "로그인 후 이용가능합니다.",
        		icon: "warning",
        		button: "확인",
        	}).then(function() {
        		f.action="login/login";
    			f.submit();
        	});
			event.preventDefault();
		}else{
			f.action="paymentPage";
		    f.submit();
		}
		
	}
	
	function reservation3() {
		
		var f = document.myForm3;
		
		var user_id = document.getElementById("user_id3").value;
		if(user_id===""){
			
			swal({
        		title: "로그인 필요",
        		text: "로그인 후 이용가능합니다.",
        		icon: "warning",
        		button: "확인",
        	}).then(function() {
        		f.action="login/login";
    			f.submit();
        	});
			event.preventDefault();
		}else{
			f.action="paymentPage";
		    f.submit();
		}
		
	}
		
	    

</script>

<script>

	

    $.datepicker.setDefaults({
        dateFormat: 'yy-mm-dd',
        prevText: '이전 달',
        nextText: '다음 달',
        monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
        monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
        dayNames: ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
        showMonthAfterYear: true,
        yearSuffix: '년'
    });
	
    $(function() {
    	  var today = new Date();
    	  var selectedDate;
    	  var dp1 = jQuery.noConflict();
    	  var dp2 = jQuery.noConflict();
    	  var checkinDate = $("#datepicker1").val();
    	  var oneDay = 24 * 60 * 60 * 1000; // 1일을 밀리초로 계산하기
    	  var checkoutDate = new Date(new Date(checkinDate).getTime() + oneDay);
    	  
    	  $("#datepicker1").datepicker({
    	    minDate: today,
    	    onSelect: function(date) {
    	    	selectedDate = new Date(date); // 문자열로 된 날짜를 Date 객체로 변환
    	        selectedDate.setDate(selectedDate.getDate() + 1); // 다음날로 설정
    	        $("#datepicker2").datepicker("option", "minDate", selectedDate); // datepicker2의 minDate 업데이트
    	    }
    	  });
    	  
    	  $("#datepicker2").datepicker({
    		minDate: checkoutDate
    	  });
    	  
    	  var selectedDateRoom;
    	  var dp3 = jQuery.noConflict();
    	  var dp4 = jQuery.noConflict();
    	  var checkinDateRoom = $("#datepicker3").val();
    	  var checkoutDateRoom = new Date(new Date(checkinDateRoom).getTime() + oneDay);
    	  
    	  $("#datepicker3").datepicker({
    	    minDate: today,
    	    onSelect: function(date) {
    	    	selectedDateRoom = new Date(date); // 문자열로 된 날짜를 Date 객체로 변환
    	    	selectedDateRoom.setDate(selectedDateRoom.getDate() + 1); // 다음날로 설정
    	        $("#datepicker4").datepicker("option", "minDate", selectedDateRoom); // datepicker2의 minDate 업데이트
    	    }
    	  });
    	  
    	  $("#datepicker4").datepicker({
    		minDate: checkoutDateRoom
    	  });
    	  
    	  
    	  
    	});
    
        $(document).ready(function() {
    	  $('#myCarousel1').carousel({
    	    interval: false
    	  });
    	});
        
        var latitude = document.getElementsByName("latitude")[0].value;
        var longitude = document.getElementsByName("longitude")[0].value;

        var map = new naver.maps.Map('map', {
            center: new naver.maps.LatLng(latitude, longitude),
            zoom: 15
        });

        var marker = new naver.maps.Marker({
            position: new naver.maps.LatLng(latitude, longitude),
            map: map
        });
        
        
        
        
        
        function searchDay() {

        	var hotel_id = $("#hotel_id").val();
        	var check_in = $("#datepicker3").val();
        	var check_out = $("#datepicker4").val();
			
        	$('#check_in_after1').attr("value",check_in);
        	$('#check_out_after1').attr("value",check_out);
        	$('#check_in_after2').attr("value",check_in);
        	$('#check_out_after2').attr("value",check_out);
        	$('#check_in_after3').attr("value",check_in);
        	$('#check_out_after3').attr("value",check_out);


        	
        	const button1 = document.getElementById('standardButton');
        	const button2 = document.getElementById('sweetButton');
        	const button3 = document.getElementById('deluxeButton');
        	const text1 = document.getElementById('standard2');
        	const text2 = document.getElementById('sweet2');
        	const text3 = document.getElementById('deluxe2');
        	
        	$.ajax({
				url: "./detailDay",
				type: "post",
				data: { check_in:check_in, check_out:check_out, hotel_id: hotel_id },
				success: function(resultMap) {       
					
					if(resultMap.standard === "만실"){
						button1.classList.remove('btn-primary1'); 
						button1.classList.add('btn-disabled1'); 
						button1.disabled = true;
						button1.textContent = '예약불가';
						text1.textContent = '이 객실은 만실입니다.';
					}else if(resultMap.standard === "만실 임박"){
						button1.classList.remove('btn-disabled1'); 
						button1.classList.add('btn-primary1'); 
						button1.disabled = false;
						button1.textContent = '예약하기';
						text1.textContent = '잔여 객실이 1개 남았습니다.';
					}else{
						button1.classList.remove('btn-disabled1'); 
						button1.classList.add('btn-primary1'); 
						button1.disabled = false;
						button1.textContent = '예약하기';
						text1.textContent = '';
					}
					
					if(resultMap.sweet === "만실"){
						button2.classList.remove('btn-primary2'); 
						button2.classList.add('btn-disabled2'); 
						button2.disabled = true;
						button2.textContent = '예약불가';
						text2.textContent = '이 객실은 만실입니다.';
					}else if(resultMap.sweet === "만실 임박"){
						button2.classList.remove('btn-disabled2'); 
						button2.classList.add('btn-primary2'); 
						button2.disabled = false;
						button2.textContent = '예약하기';
						text2.textContent = '잔여 객실이 1개 남았습니다.';
					}else{
						button2.classList.remove('btn-disabled2'); 
						button2.classList.add('btn-primary2'); 
						button2.disabled = false;
						button2.textContent = '예약하기';
						text2.textContent = '';
					}
					
					if(resultMap.deluxe === "만실"){
						button3.classList.remove('btn-primary3'); 
						button3.classList.add('btn-disabled3'); 
						button3.disabled = true;
						button3.textContent = '예약불가';
						text3.textContent = '이 객실은 만실입니다.';
					}else if(resultMap.deluxe === "만실 임박"){
						button3.classList.remove('btn-disabled3'); 
						button3.classList.add('btn-primary3'); 
						button3.disabled = false;
						button3.textContent = '예약하기';
						text3.textContent = '잔여 객실이 1개 남았습니다.';
					}else{
						button3.classList.remove('btn-disabled3'); 
						button3.classList.add('btn-primary3'); 
						button3.disabled = false;
						button3.textContent = '예약하기';
						text3.textContent = '';
					}
					
					
        		}
        	});
        	event.preventDefault();
        };
		  
       
        
    

</script>


</html>