<!DOCTYPE html>

<html xmlns:th="htpp://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="ThemeStarz">

    <link href="/assets/fonts/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="/assets/fonts/elegant-fonts.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/zabuto_calendar.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
    <script src="https://kit.fontawesome.com/fe3b2ac5d6.js" crossorigin="anonymous"></script>

<title>호텔</title>

</head>

<script type="text/javascript">
  function sendIt() {
    var f = document.searchForm;
    f.action = "/hotel/hotelSearchList";
    f.submit();
  }
</script>


<body>
<div class="page-wrapper">
    <div id="page-header">
        <header>
            <div class="container">
                <div class="secondary-nav">
                    <div class="nav-trigger"><a data-toggle="collapse" href="#secondary-nav" aria-expanded="false" aria-controls="secondary-nav"><i class="fa fa-user"></i></a></div>
                    <div id="secondary-nav">
                        <nav>
                            <div class="left opacity-60">
                                <a href=""><i class="fa fa-phone"></i>+1 781-903-1047</a>
                                <a href="mailto:hello@example.com"><i class="fa fa-envelope"></i>hello@example.com</a>
                            </div>
								<!--end left-->
								<div class="right">
									<div class="element"></div>
									<!--end element-->
									<div class="element">
										<a onclick="location.href='/login';" data-toggle="modal"
											data-tab="true" data-target="#sign-in-register-modal">로그인</a>
									</div>
									<!--end element-->
									<div class="element">
										<a onclick="location.href='/login/register';"
											data-toggle="modal" data-tab="true"
											data-target="#sign-in-register-modal">회원가입</a>
									</div>
									<!--end element-->
									<div class="element">
										<select>
											<option>마이페이지</option>
											<option>예약확인</option>
											<option>정보조회</option>
											<option>탈퇴하기</option>
										</select>
									</div>
									<!--end element-->
								</div>
								<!--end right-->
							</nav>
						</div>
					</div>
					<!--end secondary-nav-->
				</div>
				<!--end container-->
				<hr>
				<div class="container">
					<div class="primary-nav">
						<div class="left">
							<a href="index.html" id="brand"><img
								src="assets/img/logo.png" alt=""></a> <a class="nav-trigger"
								data-toggle="collapse" href="#primary-nav" aria-expanded="false"
								aria-controls="primary-nav"><i class="fa fa-navicon"></i></a>
						</div>
						<!--end left-->
						<div class="right">
							<nav id="primary-nav">
								<ul>
									<li><a href="index.html">메인으로</a></li>
									<li><a href="#">프로모션</a></li>
									<li><a href="#" class="has-child">고객페이지</a>
										<ul class="child-nav">
											<li><a href="faq.html">문의게시판</a></li>
											<li><a href="grid.html">더보기</a></li>
											<li><a href="sticky-footer.html">더보기</a></li>
											<li><a href="terms-and-conditions.html">더보기</a></li>
										</ul></li>
									<li><a href="contact-us.html">Contact Us</a></li>
									<li class="submit"><a href="submit.html"><span>Submit</span><i
											data-toggle="tooltip" data-placement="top" title="Submit"><img
												src="assets/img/plus.png" alt=""></i></a></li>
								</ul>
							</nav>
							<!--end nav-->
						</div>
						<!--end right-->
					</div>
					<!--end primary-nav-->
				</div>
				<!--end container-->
			</header>
			<!--end header-->
		</div>
		<!--end page-header-->

		<div id="page-content">
			<div class="container">
				<ol class="breadcrumb">
					<li><a href="#">Home</a></li>
					<li><a href="#">Listing</a></li>
					<li class="active">Detail</li>
				</ol>
				<!--end breadcrumb-->
				<div class="row">
					<div class="col-md-3">
						<div class="sidebar">
							<div class="box filter">
								<h2>호텔 검색하기</h2>

					
<form id="searchForm" action="/hotel/hotelSearchList" method="get">
  <div class="form-group">
    <input type="text" class="form-control input-lg" id="searchValue" name="hotel_id" style="width: 100%;" placeholder="검색하세요">
  </div>
  <button type="submit" class="btn btn-primary btn-rounded form-control">검색</button>
</form>



								<!--end form-filter-->
							</div>
							<!--end filter-->
						</div>
						<!--end sidebar-->
					</div>
					<!--end col-md-3-->
					<div class="col-md-9">
						<div class="main-content">
							<div class="title">
								<h1>호텔 둘러보기</h1>

							</div>
							<!--end title-->
					<div class="item list" th:each="hotel : ${hotelList1}">
    <div class="image-wrapper">
        <div class="mark-circle description" data-toggle="tooltip" data-placement="right" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis erat vel quam aliquet hendrerit semper eget elit. Aenean tincidunt ultrices bibendum. Proin nisi erat, iaculis non pulvinar a, scelerisque ut est. "><i class="fa fa-question"></i></div>
        <div class="mark-circle map" data-toggle="tooltip" data-placement="right" title="Show on map"><i class="fa fa-map-marker"></i></div>
        <div class="image">
            <a href="detail.html" class="wrapper">
                <div class="gallery">
                    <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMTA5MjVfMTQ0%2FMDAxNjMyNTUyODQ5ODc4.xuSspqY6Z7NFKkPxfSAq6Ia_wKnf54EwQhC7aRD4lqIg.EjoXB-JM4wAM1oWpFNkGdJCScYQx3c_oG7IM6pVrHDEg.PNG.daehan4work%2F%25C0%25B0%25C8%25B8.png&type=a340" alt="">
                </div>
            </a>
            <!--end map-item-->
        </div>
    </div>
    <!--end image-->
    <div class="description">
        <div class="meta">
            <span><i class="fa fa-star"></i>리뷰평점</span>
            <span><i class="fa fa-bed"></i>리뷰 수</span>
        </div>
        <!--end meta-->
        <div class="info">
            <h3><a th:href="@{'/detail/' + ${hotel.hotel_id}}">
            <span th:text="${hotel.hotel_name}"></span></a></h3><br/>
            <span th:text="${hotel.addr1}"></span>|
            <span th:text="${hotel.tel}"></span>
            <p><span th:text="${hotelList2[__${hotelStat.index}__].hotel_information}"></span></p>
            <div class="price-info">From<span class="price"></span>
            <span th:text="${hotelList2[__${hotelStat.index}__].standard}"></span>
            <span class="appendix">/박</span></div>
            <a th:href="@{'/detail/' + ${hotel.hotel_id}}" class="btn btn-rounded btn-default btn-framed btn-small">View detail</a>
            <br/><br/><br/><br/>
        </div>


                                </div>
                                <!--end info-->
                            </div>
                            <!--end description-->
                        </div>

                        <div class="center">
                            <ul class="pagination">
                                <li class="prev">
                          
                                    <a href="#"><i class="arrow_left"></i></a>
                                </li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li class="next">
                                    <a href="#"><i class="arrow_right"></i></a>
                                </li>
                            </ul>
                            <!-- end pagination-->
                        </div>


							<!-- end center-->
						
					</div>
					<!--end col-md-9-->
				</div>
				<!--end row-->
			</div>
			<!--end container-->
		</div>
		<!--end page-content-->

		<footer id="page-footer">
			<div class="row-one">
				<div class="container">
					<div class="logos">
						<div class="logo">
							<a href="#"><img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMTA5MjVfMTQ0%2FMDAxNjMyNTUyODQ5ODc4.xuSspqY6Z7NFKkPxfSAq6Ia_wKnf54EwQhC7aRD4lqIg.EjoXB-JM4wAM1oWpFNkGdJCScYQx3c_oG7IM6pVrHDEg.PNG.daehan4work%2F%25C0%25B0%25C8%25B8.png&type=a340"></a>
						</div>
						<!--/ .logo-->
						<div class="logo">
							<a href="#"><img src="https://lh3.googleusercontent.com/minm0gEmF8YdcwGNHidJnvlw5Hs5ois4_2JcR0J14m-fkFCF1b2tKCeeExKtThr4RpqBrY7mczTy5kJhFvtzWCgq74AKS56SuMCSOTM" alt=""></a>
						</div>
						<!--/ .logo-->
						<div class="logo">
							<a href="#"><img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjA2MjlfMTc5%2FMDAxNjU2NTA1MDMwOTk3.Zh9XFRAQ0Bh8Tq0GJJ52ccHpTSMc5Rh59MQyrfQrJrYg.lm7lWkdtVN4FhqqSl6zNRewK3xRdSPEX_k4_39HotPcg.JPEG.tkddnjs178%2FKakaoTalk_20220628_091948674.jpg&type=a340"></a>
						</div>
					</div>
					<!--/ .logos-->
				</div>
			</div>
			<!--end row-one-->
			<div class="row-two clearfix">
				<div class="container">
					<div class="copyright pull-left">(C) 2016 Your Company, All
						Rights Reserved</div>
					<div class="footer-nav pull-right">
						<a href="index.html">Home</a> <a href="about-us.html">About Us</a>
						<a href="listing.html">Listing</a> <a href="contact-us.html">Contact
							Us</a>
					</div>
				</div>
				<div class="bg-transfer">
					<img src="assets/img/footer-bg.jpg" alt="">
				</div>
			</div>
			<!--end row-two-->
		</footer>
		<!--end page-footer-->
	</div>
	<!--end page-wrapper-->
	<a href="#page-header" class="to-top scroll"
		data-show-after-scroll="600"><i class="arrow_up"></i></a>



<script type="text/javascript" src="/assets/js/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
<script type="text/javascript" src="/assets/js/richmarker-compiled.js"></script>
<script type="text/javascript" src="/assets/js/markerwithlabel_packed.js"></script>
<script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/assets/js/icheck.min.js"></script>
<script type="text/javascript" src="/assets/js/owl.carousel.js"></script>
<script type="text/javascript" src="/assets/js/masonry.pkgd.min.js"></script>

<script type="text/javascript" src="/assets/js/maps.js"></script>
<script type="text/javascript" src="/assets/js/custom.js"></script>


	<!--[if lte IE 9]>
<script src="assets/js/ie.js"></script>
<![endif]-->
</body>