<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}">

<meta charset="UTF-8">

<div layout:fragment="content" class="content-padding">

<style>
@import url('https://fonts.googleapis.com/css?family=Gowun+Batang&display=swap');
h1,h2{
	font-family: 'Gowun Batang', sans-serif;
}

</style>

    <div id="page-content">
        <div class="hero-section" data-height="500">
        	<!-- form 전송을 위해.. -->
            <form id="form-hero" action="" name="myForm" method="get">
                <div class="hero-inner">
                    <div class="hero-wrapper">
                        <div class="caption">
                            <div class="inner">
                                <div class="container">
                                    <h1 class="center">꿈에 그리던 나만의 휴가..</h1>
                                    <h2 class="center">서울어때에서 맞춤 숙소를 검색해보세요!</h2>
                                    <br/><br/>
                                    <div class="row no-gutters">
                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group">
                                                <label class="label-on-input" for="address-autocomplete" style="font-size: 12px; opacity: 1;">장소</label>
                                                <!-- 검색자리 -->
                                                <input type="text" class="form-control" id="address-autocomplete"
                                                name="searchValue" placeholder="지역, 숙소명을 검색하세요">
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-2">
                                            <div class="form-group">
                                                <label class="label-on-input" for="form-check-in" style="font-size: 12px; opacity: 1;">체크인 날짜</label>
                                                <input type="text" class="form-control date" id="form-check-in"  placeholder="YYYY-MM-DD">
                                              
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-2">
                                            <div class="form-group">
                                                <label class="label-on-input" for="form-nights" style="font-size: 12px; opacity: 1;">숙박일수</label>
                                                <input type="number" class="form-control" id="form-nights"  placeholder="0">
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-2">
                                            <div class="form-group">
                                            	<!-- 검색버튼 -->
                                            	<input type="button" class="btn btn-default" value="검색하기" onclick="search();">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end container-->
                                <div class="bg-transfer"><img src="assets/img/seoul.png" alt=""></div>
                                <!--end bg-transfer-->
                            </div>
                            <!--end inner-->
                        </div>
                        <!--end caption-->
                        

                    </div>
                    <!--end hero-wrapper-->
                    <div id="options-hidden" class="collapse">
                        <div class="container"></div>
                        <!--end container-->
                    </div>
                </div>
                <!--end hero-inner-->
            </form>
            <!--end form-->
        </div>
        <!--end hero-section-->


		<!-- 아이콘 6개 띄우는 곳 -->
		
		<ul id="main-icon">
         <li><a href="hotel/main"><img src="assets/img/hotel.png"><span>호텔</span></a></li>
         <li><a href="hotel/main"><img src="assets/img/hostel.png"><span>호스텔</span></a></li>
         <li><a href="hotel/main"><img src="assets/img/guesthouse.png"><span>게스트하우스</span></a></li>
         <li><a href="hotel/main"><img src="assets/img/motel.png"><span>모텔</span></a></li>
         <li><a href="hotel/main"><img src="assets/img/pension.png"><span>펜션</span></a></li>
         <li><a href="hotel/main"><img src="assets/img/resort.png"><span>리조트</span></a></li>
		</ul>
		
		


		<!-- 메인페이지 인기 숙소 목록 띄울곳 -->
        <div class="block">
            <div class="container">
                <div class="title">
                    <h2><strong>서울어때가 추천하는 서울의 최근 인기 숙소</strong></h2>
                </div>
                <div class="row">

              		<div th:if="${#lists.size(mainHotel)}!=null" th:each="dto:${mainHotel}">

	                   <div class="col-md-3 col-sm-6">
	                        <div class="item big equal-height">
	                            <div class="item-wrapper">
	                                <div class="image">
	                                    <a href="hotel/main" class="wrapper">
	                                        <div>
	                                            <img th:src="@{|/hotel/${dto.URL}|}" alt="호텔전경사진">
	                                        </div>
	                                    </a>
	                                    <div class="owl-navigation"></div>
	                                    <!--end owl-navigation-->
	                                </div>
	                                <!--end image-->
	                                <div class="description">
	                                    <div class="meta">
	                                        <span><i class="fa fa-star"></i>8.9</span>
	                                        <span><i class="fa fa-bed"></i>365</span>
	                                    </div>
	                                    <div class="info">
	                                        <figure class="label label-info">[[${dto.CATEGORY}]]</figure>
	                                        <a href="hotel/test1"><h3>[[${dto.HOTEL_NAME}]]</h3></a>
	                                        <figure class="location">[[${dto.ADDR}]]</figure>
	                                    </div>
	                                </div>
	                                <!--end description-->
	                            </div>
	                        </div>
	                        <!--end item-->
	                    </div>

                    </div>

                </div>
                <!--end row-->
            </div>
            <!--end container-->
        </div>
        <!--end block-->

     


		<!-- 부트스트랩? 기능 장소 -->
        <div class="block">
            <div class="container">
                <div class="title">
                    <h2 class="center">일단 남겨만 둠</h2>
                </div>
                <!--end title-->
                <div class="gallery-carousel">
                    <div class="gallery-item">
                        <a href="blog-detail.html"><div class="image"><img src="assets/img/items/tip-01.jpg" alt=""></div></a>
                        <div class="description">
                            <a href="blog-detail.html"><h3>Silver Peak Resort</h3></a>
                            <figure>Austria</figure>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus posuere mattis. Donec </p>
                            <a href="blog-detail.html" class="btn btn-default btn-small btn-framed btn-rounded">More</a>
                        </div>
                    </div>
                    <!--end gallery-item-->
                    <div class="gallery-item">
                        <a href="blog-detail.html"><div class="image"><img src="assets/img/items/tip-02.jpg" alt=""></div></a>
                        <div class="description">
                            <a href="blog-detail.html"><h3>Silver Peak Resort</h3></a>
                            <figure>Austria</figure>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus posuere mattis. Donec </p>
                            <a href="blog-detail.html" class="btn btn-default btn-small btn-framed btn-rounded">More</a>
                        </div>
                    </div>
                    <!--end gallery-item-->
                    <div class="gallery-item">
                        <a href="blog-detail.html"><div class="image"><img src="assets/img/items/tip-03.jpg" alt=""></div></a>
                        <div class="description">
                            <a href="blog-detail.html"><h3>Silver Peak Resort</h3></a>
                            <figure>Austria</figure>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus posuere mattis. Donec </p>
                            <a href="blog-detail.html" class="btn btn-default btn-small btn-framed btn-rounded">More</a>
                        </div>
                    </div>
                    <!--end gallery-item-->
                    <div class="gallery-item">
                        <a href="blog-detail.html"><div class="image"><img src="assets/img/items/tip-01.jpg" alt=""></div></a>
                        <div class="description">
                            <a href="blog-detail.html"><h3>Silver Peak Resort</h3></a>
                            <figure>Austria</figure>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus posuere mattis. Donec </p>
                            <a href="blog-detail.html" class="btn btn-default btn-small btn-framed btn-rounded">More</a>
                        </div>
                    </div>
                    <!--end gallery-item-->
                    <div class="gallery-item">
                        <a href="blog-detail.html"><div class="image"><img src="assets/img/items/tip-02.jpg" alt=""></div></a>
                        <div class="description">
                            <a href="blog-detail.html"><h3>Silver Peak Resort</h3></a>
                            <figure>Austria</figure>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus posuere mattis. Donec </p>
                            <a href="blog-detail.html" class="btn btn-default btn-small btn-framed btn-rounded">More</a>
                        </div>
                    </div>
                    <!--end gallery-item-->
                    <div class="gallery-item">
                        <a href="blog-detail.html"><div class="image"><img src="assets/img/items/tip-03.jpg" alt=""></div></a>
                        <div class="description">
                            <a href="blog-detail.html"><h3>Silver Peak Resort</h3></a>
                            <figure>Austria</figure>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus posuere mattis. Donec </p>
                            <a href="blog-detail.html" class="btn btn-default btn-small btn-framed btn-rounded">More</a>
                        </div>
                    </div>
                    <!--end gallery-item-->
                </div>
                <!--end gallery-carousel-->
            </div>
            <!--end container-->
            <div class="bg opacity-30">
                <img src="assets/img/bg-map.jpg" alt="">
            </div>
        </div>
        <!--end block-->



		<!-- 쿠폰? 자리 -->
        <div class="container">
            <div class="block">
                <form class="marketing-form">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="form-group-inline vertical-align-middle no-margin">
                                <div class="form-group">
                                    <h3 class="font-color-white no-margin">첫 숙소 예약은 반값에!</h3>
                                    <p class="font-color-white no-margin">쿠폰 받아 가세요</p>
                                </div>
                                <div class="form-group width-50">
                                    <button style="width: 100px; height: 80px;">쿠폰 받기</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="bg color default"></div>
            </div>
        </div>
        <!--end block-->

       


		<!-- 메인페이지 리뷰 목록 보여주는곳? -->
        <div class="container">
            <div class="block">
                <div class="title">
                    <h2>Reviews</h2>
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <div class="review-single">
								<a href="detail.html#reviews"><h3>리뷰 0</h3></a>
                                <figure class="location">역삼역</figure>
                                <div class="rating"><i class="fa fa-star"></i>8.9</div>
                                <p>상세 리뷰 기재하는 칸</p>
                                <a href="detail.html#reviews" class="link icon">Full Review<i class="arrow_right"></i></a>
                            </div>
                            <!--end review-->
                        </div>
                        <!--end col-md-3-->
                        <div class="col-md-3 col-sm-3">
                            <div class="review-single">
                               <a href="detail.html#reviews"><h3>리뷰 1</h3></a>
                                <figure class="location">교대역</figure>
                                <div class="rating"><i class="fa fa-star"></i>8.2</div>
                                <p>상세 리뷰 기재하는 칸</p>
                                <a href="detail.html#reviews" class="link icon">Full Review<i class="arrow_right"></i></a>
                            </div>
                            <!--end review-->
                        </div>
                        <!--end col-md-3-->
                        <div class="col-md-3 col-sm-3">
                            <div class="review-single">
                               <a href="detail.html#reviews"><h3>리뷰 2</h3></a>
                                <figure class="location">강남구</figure>
                                <div class="rating"><i class="fa fa-star"></i>9.3</div>
                                <p>상세 리뷰 기재하는 칸</p>
                                <a href="detail.html#reviews" class="link icon">Full Review<i class="arrow_right"></i></a>
                            </div>
                            <!--end review-->
                        </div>
                        <!--end col-md-3-->
                        <div class="col-md-3 col-sm-3">
                            <div class="review-single">
                                <a href="detail.html#reviews"><h3>리뷰 3</h3></a>
                                <figure class="location">강남구</figure>
                                <div class="rating"><i class="fa fa-star"></i>9.4</div>
                                <p>상세 리뷰 기재하는 칸</p>
                                <a href="detail.html#reviews" class="link icon">Full Review<i class="arrow_right"></i></a>
                            </div>
                            <!--end review-->
                        </div>
                        <!--end col-md-3-->
                    </div>
                    <!--end row-->
                </div>
                <!--end title-->
                <div class="bg color white"></div>
            </div>
            <!--end container-->
        </div>
        <!--end block-->
    </div>
    <!--end page-content-->


<script type="text/javascript">
	//컨트롤러로 searchValue값 담아서 전송
	function search() {
		
		var f = document.myForm;
		
		f.action = "/hotel/test11";
		f.submit();
		
		
	}
		
		
		
</script>



    
</html>