<!DOCTYPE html>
<!-- 경로가 templates/layout/layout.html을 상속받아야 하므로 -->
<html layout:decorate="~{/layout/layout}">

<meta charset="UTF-8">

<div layout:fragment="content" class="content-padding">
<!-- 대충 이자리에 개별 CSS가 있다면 선언 -->
    


<!-- ====================================컨텐츠 시작============================== -->

<div class="page-wrapper">
    <div id="page-content">
        <div class="container">

            <div class="row">
                <div class="col-md-3">
                    <div class="sidebar">
                        <div class="box filter">
                            <h2>서울어때 호텔 찾아보기</h2>
                            <form id="searchForm" action="/hotel/hotellist" method="get">
                                <div class="form-group">
                                    <label for="form-filter-destination">Destination</label>
                                    <input type="text" class="form-control" id="searchValue" name="searchValue" placeholder="검색하세요">
                                </div>
                                <!--end form-group-->
                                <div class="form-group-inline">
                                    <div class="form-group">
                                        <label for="form-filter-check-in">Check In</label>
                                        <input type="text" class="form-control date" id="form-filter-check-in" name="check-in" placeholder="Check In">
                                    </div>
                                    <!--end form-group-->
                                    <div class="form-group">
                                        <label for="form-filter-check-out">Nights</label>
                                        <input type="number" class="form-control" id="form-filter-check-out" name="check-out" placeholder="2">
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end form-group-inline-->

                                <div class="form-group center">
                                    <button type="submit" class="btn btn-primary btn-rounded form-control">호텔 검색하기</button>
                                </div>
                            </form>
                            <!--end form-filter-->
                        </div>
                        <!--end filter-->
                        
                        
                        <a href="#" class="advertising-banner">
                            <span class="banner-badge">광고자리입니다</span>
                            <img src="assets/img/ad-banner-02.jpg" alt="">
                        </a>
                    </div>
                    <!--end sidebar--> 
                </div>
                <!--end col-md-3-->
                
                
                <div class="col-md-9">
                    <div class="main-content">
                        <div class="title">
                            <h1>서울어때 호텔 목록</h1>
                            <div class="display-selector">
                            </div>
                        </div>
                        <!--end title-->

                        <!--end item-->
                        <!-- 반복문 돌ㄹ기 -->
                        <!--end item-->
                        <div class="item list" th:if="${hotelList1 != null}" th:each="hotel, i : ${hotelList1}">
                            <div class="image-wrapper">
                                <div class="image">
                                  <a th:href="@{|/detail?hotel_id=${hotel.hotel_id}&pageNum=${currentPage}&searchValue=${hotel.hotel_name}|}" class="wrapper">
                                        <div th:if="${hotelList3 != null}"> 
                                        	<div th:each="hotel3 : ${hotelList3}" th:if="${hotel3.hotel_id == hotel.hotel_id}">
												<img th:src="@{|/hotel/${hotel3.url}|}" />
							
                                        	</div>
                                        </div>
                                    </a>
                                    <div class="owl-navigation"></div>
                                    <!--end owl-navigation--> 
                                </div>
                            </div>
                            <!--end image-->
                            
                            <div class="description">
                                <div class="meta">
                                   
                                </div>
                                <!--end meta-->
                                <div class="info">
                                	<a th:href="@{|/detail?hotel_id=${hotel.hotel_id}&pageNum=${currentPage}&searchValue=${searchValue}|}">
	   								<h3 th:text="${hotel.hotel_name}"></h3><br/>
									</a>
									
                                   <figure th:text="${hotel.addr1}"></figure>
	     						   <figure class="label label-info" th:if="${hotel.category} != null" th:text="${hotel.category}"></figure>
									<figure class="label label-info" th:if="${hotel.tel} != null" th:text="${hotel.tel}"></figure>
	        
	        
	        							 <!-- hotelList2의 정보 출력 -->
								        <div th:if="${hotelList2 != null}">
								          <div th:each="hotel2 : ${hotelList2}" th:if="${hotel2.hotel_id == hotel.hotel_id}">
								          <p th:if="${hotel2.hotel_information} != null" th:text="${hotel2.hotel_information}"></p>
								          
												<!-- hotelList3의 정보 출력 -->
                                    <div class="price-info">From
                                    <span class="price">
                                    <a th:if="${hotel2.standard} != null" th:text="${hotel2.standard}"></a>  

									</span><span class="appendix">/1박 부터</span>
                                  
                                    </div>
                                    
                                    <div class="meta">
                                    <span><i class="fa fa-star"></i>평점</span>
                                    <span><i class="fa fa-bed"></i>리뷰 수</span>
                            	  
                            	    <a class="btn btn-rounded btn-default btn-framed btn-small basket-btn" id="basketAdd_${hotel.hotel_id}" data-item-id="${hotel.hotel_id}">
									  <input class="addBasket" type="hidden" th:id="'hotel_id_' + ${hotel.hotel_id}" th:value="${hotel.hotel_id}" />
		 								 <div od="basketMsg"></div>
						 					 ♡찜하기♡
									</a>
                                    </div>
                                		</div>
                                <!--end info-->
                           		 </div>
                            <!--end description-->
                        	</div>
                        </div>
                        <!--end item-->
 					
 					
 					
 					</div>
 						<div class="center">
 					        <ul class="pagination">
                               <li th:utext="${pageIndexList}"></li>
                            </ul>
                            <!-- end pagination-->
 						</div>
 					
 					
							
							
						</div>
                    <!--end main-content-->
                </div>
                <!--end col-md-9-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </div>
    <!--end page-content-->
</div>
<!--end page-wrapper-->


  <!-- ===============================개별스크립트 부분================================== -->

<script type="text/javascript">
  function sendIt() {
    var f = document.getElementById("searchForm");
    f.action = "/hotel/hotelList";
    f.submit();
  };
  
</script>
 
<script type="text/javascript">

//var basket_num = $(this).closest('.my-item').find('.basket_num').val();

 $(function() {
  $(".basket-btn").on("click", function() {
    var addBasket = $(this).find('.addBasket').val();
    alert(addBasket);
   
    $.ajax({
        url: "addBasket",
        type: "POST",
        data: { addBasket: addBasket },
        success: function(data) {    	
        }0
    
 	 });
    
  });
});
  
  
// basketAdd 버튼을 클릭하면 해당 버튼은 숨겨지고, basketRe 버튼은 보이게 됩니다. 그리고 basketRe 버튼을 클릭하면 해당 버튼은 숨겨지고, basketAdd 버튼은 다시 보이게 됩니다.

</script>


</html>