<!DOCTYPE html>
<!-- 경로가 templates/layout/layout.html을 상속받아야 하므로 -->
<html layout:decorate="~{/layout/layout}">

<meta charset="UTF-8">

<div layout:fragment="content" class="content-padding">
<!-- 대충 이자리에 개별 CSS가 있다면 선언 -->

<link rel="stylesheet" href="//code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>


<!-- ====================================컨텐츠 시작============================== -->

<div class="page-wrapper">
    <div id="page-content">
        <div class="container">

            <div class="row">
                <div class="col-md-3">
                    <div class="sidebar">
                        <div class="box filter">
                            <h2>서울어때 호텔 찾아보기</h2>
                            <form id="searchForm" action="/hotel/hotellist" method="get">
                                <div class="form-group">
                                    <label for="form-filter-destination">Destination</label>
                                    <input type="text" class="form-control" id="searchValue" name="searchValue" placeholder="검색하세요">
                                </div>
                                <!--end form-group-->
                                <div class="form-group-inline">
                                    <div class="form-group">
                                        <label class="label-on-input" for="datepicker1" style="font-size: 12px; opacity: 1;">체크인 날짜</label>
                                        <input type="text" id="datepicker1" name="check_in" placeholder="연도-월-일" th:value="${check_in_day}" onkeydown="return false;" readonly>
                                    </div>
                                    <!--end form-group-->
                                    <div class="form-group">
                                        <label class="label-on-input" for="datepicker2" style="font-size: 12px; opacity: 1;">체크아웃 날짜</label>
                                        <input type="text" id="datepicker2" name="check_out" placeholder="연도-월-일" th:value="${check_out_day}" onkeydown="return false;" readonly>
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end form-group-inline-->

                                <div class="form-group center">
                                    <button type="submit" class="btn btn-primary btn-rounded form-control">호텔 검색하기</button>
                                </div>
                            </form>
                            <!--end form-filter-->
                        </div>
                        <!--end filter-->
                        
                        
                        <a href="#" class="advertising-banner">
                            <span class="banner-badge">광고자리입니다</span>
                            <img src="assets/img/ad-banner-02.jpg" alt="">
                        </a>
                    </div>
                    <!--end sidebar--> 
                </div>
                <!--end col-md-3-->
                
                
                <div class="col-md-9">
                    <div class="main-content">
                        <div class="title">
                            <h1>서울어때 호텔 목록</h1>
                            <div class="display-selector">
                            </div>
                        </div>
                        <!--end title-->

                        <!--end item-->
                        <!-- 반복문 돌ㄹ기 -->
                        <!--end item-->
			<div class="item list" th:if="${hotelList1 != null}" th:each="hotel, i : ${hotelList1}">
			    <div class="image-wrapper">
			        <div class="image">
			            <a th:href="@{|/detail?hotel_id=${hotel.hotel_id}&pageNum=${currentPage}&searchValue=${hotel.hotel_name}|}" class="wrapper">
			                <div th:if="${hotelList3 != null}"> 
			                    <div th:each="hotel3 : ${hotelList3}" th:if="${hotel3.hotel_id == hotel.hotel_id}">
			                        <img th:src="@{|/hotel/${hotel3.url}|}" />
			                    </div>
			                </div>
			            </a>
			            <div class="owl-navigation"></div>
			        </div>
			    </div>
			    <div class="description">
			        <div class="meta"></div>
			        <div class="info">
			            <a th:href="@{|/detail?hotel_id=${hotel.hotel_id}&pageNum=${currentPage}&searchValue=${searchValue}|}">
			                <h3 th:text="${hotel.hotel_name}"></h3><br/>
			            </a>
			            <figure th:text="${hotel.addr1}"></figure>
			            <figure class="label label-info" th:if="${hotel.category} != null" th:text="${hotel.category}"></figure>
			            <figure class="label label-info" th:if="${hotel.tel} != null" th:text="${hotel.tel}"></figure>
			            <div th:if="${hotelList2 != null}">
			                <div th:each="hotel2 : ${hotelList2}" th:if="${hotel2.hotel_id == hotel.hotel_id}">
			                    <p th:if="${hotel2.hotel_information} != null" th:text="${hotel2.hotel_information}"></p>
			                    <div class="price-info">From
			                        <span class="price">
			                            <a th:if="${hotel2.standard} != null" th:text="${hotel2.standard}"></a>  
			                        </span>
			                        <span class="appendix">/1박 부터</span>
			                    </div>
			                    <div class="meta">
			                    

<a class="btn btn-rounded btn-default btn-framed btn-small basket-btn" 
   id="basketAdd_${hotel.hotel_id}" 
   th:href="@{/addBasket/{userid}(userid=${session.userid}, addBasket=${hotel.hotel_id})}"
   th:data-item-id="${hotel.hotel_id}">
   
   <input class="addBasket" type="hidden" th:id="'hotel_id_' + ${hotel.hotel_id}" th:value="${hotel.hotel_id}" />
   
   <div class="basketMsg"></div>
   ♡찜하기♡
</a>



			                        <span><i class="fa fa-star"></i>평점</span>
			                        <span><i class="fa fa-bed"></i>리뷰 수</span>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
 					
 						<div class="center">
 					        <ul class="pagination">
                               <li th:utext="${pageIndexList}"></li>
                            </ul>
                            <!-- end pagination-->
 						</div>
							
						</div>
                    <!--end main-content-->
                </div>
                <!--end col-md-9-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </div>
    <!--end page-content-->
</div>
<!--end page-wrapper-->


  <!-- ===============================개별스크립트 부분================================== -->


<script>
    $.datepicker.setDefaults({
        dateFormat: 'yy-mm-dd',
        prevText: '이전 달',
        nextText: '다음 달',
        monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
        monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
        dayNames: ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
        showMonthAfterYear: true,
        yearSuffix: '년'
    });
	
    $(function() {
    	  var today = new Date();
    	  var selectedDate;
    	  var dp1 = jQuery.noConflict();
    	  var dp2 = jQuery.noConflict();
    	  var checkinDate = $("#datepicker1").val();
    	  var oneDay = 24 * 60 * 60 * 1000; // 1일을 밀리초로 계산하기
    	  var checkoutDate = new Date(new Date(checkinDate).getTime() + oneDay);
    	  
    	  $("#datepicker1").datepicker({
    	    minDate: today,
    	    onSelect: function(date) {
    	    	selectedDate = new Date(date); // 문자열로 된 날짜를 Date 객체로 변환
    	        selectedDate.setDate(selectedDate.getDate() + 1); // 다음날로 설정
    	        $("#datepicker2").datepicker("option", "minDate", selectedDate); // datepicker2의 minDate 업데이트
    	    }
    	  });
    	  
    	  $("#datepicker2").datepicker({
    		minDate: checkoutDate
    	  });
    	});

</script>


</html>

