<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}">

<meta charset="UTF-8">

<div layout:fragment="content" class="content-padding">
<link rel="stylesheet" href="//code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>

<style>
@import url('https://fonts.googleapis.com/css?family=Gowun+Batang&display=swap');
h1,h2,input{
	font-family: 'Gowun Batang', sans-serif;
}

</style>

    <div id="page-content">
        <div class="hero-section" data-height="500">
        	<!-- form 전송을 위해.. -->
            <form id="form-hero" action="" name="myForm" method="get">
                <div class="hero-inner">
                    <div class="hero-wrapper">
                        <div class="caption">
                            <div class="inner">
                                <div class="container">
                                    <h1 class="center">꿈에 그리던 나만의 휴가..</h1>
                                    <h2 class="center">서울어때에서 맞춤 숙소를 검색해보세요!</h2>
                                    <br/><br/>
                                    <div class="row no-gutters">
                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group">
                                                <label class="label-on-input" for="address-autocomplete" style="font-size: 12px; opacity: 1;">장소</label>
                                                <!-- 검색자리 -->
                                                <input type="text" class="form-control" id="address-autocomplete"
                                                name="searchValue" placeholder="지역, 숙소명을 입력하세요">
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-2">
                                            <div class="form-group">
                                                <label class="label-on-input" for="datepicker1" style="font-size: 12px; opacity: 1;">체크인 날짜</label>
                                                <input type="text" id="datepicker1" style="color: #fff;"
                                                name="check_in" placeholder="연도-월-일" onkeydown="return false;" readonly>
                                              
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-2">
                                            <div class="form-group">
                                                <label class="label-on-input" for="datepicker2" style="font-size: 12px; opacity: 1;">체크아웃 날짜</label>
                                                <input type="text" id="datepicker2" style="color: #fff;"
                                                name="check_out" placeholder="연도-월-일" onkeydown="return false;" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-2">
                                            <div class="form-group">
                                            	<!-- 검색버튼 -->
                                            	<input type="button" class="btn btn-default" value="검색하기" onclick="search();">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end container-->
                                <div class="bg-transfer"><img src="assets/img/seoul.png" alt=""></div>
                                <!--end bg-transfer-->
                            </div>
                            <!--end inner-->
                        </div>
                        <!--end caption-->
                        

                    </div>
                    <!--end hero-wrapper-->
                    <div id="options-hidden" class="collapse">
                        <div class="container"></div>
                        <!--end container-->
                    </div>
                </div>
                <!--end hero-inner-->
            </form>
            <!--end form-->
        </div>
        <!--end hero-section-->


		<!-- 아이콘 6개 띄우는 곳 -->
		<form action="/hotel/hotellist" name="myForm1" method="get">
			<input type="hidden" id="checkin1" value="" name="check_in">
			<input type="hidden" id="checkout1" value="" name="check_out">
			<input type="hidden" id="category1" value="" name="category">
			<ul id="main-icon">
				<li><a onclick="hotel();" style="cursor: pointer;"><img src="assets/img/hotel.png"><span>호텔</span></a></li>
				<li><a onclick="hostel();" style="cursor: pointer;"><img src="assets/img/hostel.png"><span>호스텔</span></a></li>
				<li><a onclick="guesthouse();" style="cursor: pointer;"><img src="assets/img/guesthouse.png"><span>게스트하우스</span></a></li>
				<li><a onclick="motel();" style="cursor: pointer;"><img src="assets/img/motel.png"><span>모텔</span></a></li>
				<li><a onclick="pension();" style="cursor: pointer;"><img src="assets/img/pension.png"><span>펜션</span></a></li>
				<li><a onclick="resort()
				;" style="cursor: pointer;"><img src="assets/img/resort.png"><span>리조트</span></a></li>
			</ul>
		</form>
		


		<!-- 메인페이지 인기 숙소 목록 띄울곳 -->
        <div class="block">
            <div class="container">
                <div class="title">
                    <h2><strong>서울어때가 추천하는 서울의 최근 인기 숙소</strong></h2>
                </div>
                <div class="row">

              		<div th:if="${#lists.size(mainHotel)}!=null" th:each="dto:${mainHotel}">

	                   <div class="col-md-3 col-sm-6">
	                        <div class="item big equal-height">
	                            <div class="item-wrapper">
	                                <div class="image">
	                                    <a href="hotel/main" class="wrapper">
	                                        <div>
	                                            <img th:src="@{|/hotel/${dto.URL}|}" alt="호텔전경사진">
	                                        </div>
	                                    </a>
	                                    <div class="owl-navigation"></div>
	                                    <!--end owl-navigation-->
	                                </div>
	                                <!--end image-->
	                                <div class="description">
	                                    <div class="meta">
	                                        <span><i class="fa fa-star"></i>8.9</span>
	                                        <span><i class="fa fa-bed"></i>365</span>
	                                    </div>
	                                    <div class="info">
	                                        <figure class="label label-info">[[${dto.CATEGORY}]]</figure>
	                                        <a href="hotel/test1"><h3>[[${dto.HOTEL_NAME}]]</h3></a>
	                                        <figure class="location">[[${dto.ADDR}]]</figure>
	                                    </div>
	                                </div>
	                                <!--end description-->
	                            </div>
	                        </div>
	                        <!--end item-->
	                    </div>

                    </div>

                </div>
                <!--end row-->
            </div>
            <!--end container-->
        </div>
        <!--end block-->

     


		<!-- 부트스트랩? 기능 장소 -->
        <div class="block">
            <div class="container">
                <div class="title">
                    <h2 class="center">일단 남겨만 둠</h2>
                </div>
                <!--end title-->
                <div class="gallery-carousel">
                    <div class="gallery-item">
                        <a href="blog-detail.html"><div class="image"><img src="assets/img/items/tip-01.jpg" alt=""></div></a>
                        <div class="description">
                            <a href="blog-detail.html"><h3>Silver Peak Resort</h3></a>
                            <figure>Austria</figure>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus posuere mattis. Donec </p>
                            <a href="blog-detail.html" class="btn btn-default btn-small btn-framed btn-rounded">More</a>
                        </div>
                    </div>
                    <!--end gallery-item-->
                    <div class="gallery-item">
                        <a href="blog-detail.html"><div class="image"><img src="assets/img/items/tip-02.jpg" alt=""></div></a>
                        <div class="description">
                            <a href="blog-detail.html"><h3>Silver Peak Resort</h3></a>
                            <figure>Austria</figure>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus posuere mattis. Donec </p>
                            <a href="blog-detail.html" class="btn btn-default btn-small btn-framed btn-rounded">More</a>
                        </div>
                    </div>
                    <!--end gallery-item-->
                    <div class="gallery-item">
                        <a href="blog-detail.html"><div class="image"><img src="assets/img/items/tip-03.jpg" alt=""></div></a>
                        <div class="description">
                            <a href="blog-detail.html"><h3>Silver Peak Resort</h3></a>
                            <figure>Austria</figure>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus posuere mattis. Donec </p>
                            <a href="blog-detail.html" class="btn btn-default btn-small btn-framed btn-rounded">More</a>
                        </div>
                    </div>
                    <!--end gallery-item-->
                    <div class="gallery-item">
                        <a href="blog-detail.html"><div class="image"><img src="assets/img/items/tip-01.jpg" alt=""></div></a>
                        <div class="description">
                            <a href="blog-detail.html"><h3>Silver Peak Resort</h3></a>
                            <figure>Austria</figure>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus posuere mattis. Donec </p>
                            <a href="blog-detail.html" class="btn btn-default btn-small btn-framed btn-rounded">More</a>
                        </div>
                    </div>
                    <!--end gallery-item-->
                    <div class="gallery-item">
                        <a href="blog-detail.html"><div class="image"><img src="assets/img/items/tip-02.jpg" alt=""></div></a>
                        <div class="description">
                            <a href="blog-detail.html"><h3>Silver Peak Resort</h3></a>
                            <figure>Austria</figure>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus posuere mattis. Donec </p>
                            <a href="blog-detail.html" class="btn btn-default btn-small btn-framed btn-rounded">More</a>
                        </div>
                    </div>
                    <!--end gallery-item-->
                    <div class="gallery-item">
                        <a href="blog-detail.html"><div class="image"><img src="assets/img/items/tip-03.jpg" alt=""></div></a>
                        <div class="description">
                            <a href="blog-detail.html"><h3>Silver Peak Resort</h3></a>
                            <figure>Austria</figure>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus posuere mattis. Donec </p>
                            <a href="blog-detail.html" class="btn btn-default btn-small btn-framed btn-rounded">More</a>
                        </div>
                    </div>
                    <!--end gallery-item-->
                </div>
                <!--end gallery-carousel-->
            </div>
            <!--end container-->
            <div class="bg opacity-30">
                <img src="assets/img/bg-map.jpg" alt="">
            </div>
        </div>
        <!--end block-->



		<!-- 쿠폰? 자리 -->
        <div class="container">
            <div class="block">
                <form class="marketing-form">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="form-group-inline vertical-align-middle no-margin">
                                <div class="form-group">
                                    <h3 class="font-color-white no-margin">첫 숙소 예약은 반값에!</h3>
                                    <p class="font-color-white no-margin">쿠폰 받아 가세요</p>
                                </div>
                                <div class="form-group width-50">
                                    <button style="width: 100px; height: 80px;">쿠폰 받기</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="bg color default"></div>
            </div>
        </div>
        <!--end block-->

       


		<!-- 메인페이지 리뷰 목록 보여주는곳? -->
        <div class="container">
            <div class="block">
                <div class="title">
                    <h2>Reviews</h2>
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <div class="review-single">
								<a href="detail.html#reviews"><h3>리뷰 0</h3></a>
                                <figure class="location">역삼역</figure>
                                <div class="rating"><i class="fa fa-star"></i>8.9</div>
                                <p>상세 리뷰 기재하는 칸</p>
                                <a href="detail.html#reviews" class="link icon">Full Review<i class="arrow_right"></i></a>
                            </div>
                            <!--end review-->
                        </div>
                        <!--end col-md-3-->
                        <div class="col-md-3 col-sm-3">
                            <div class="review-single">
                               <a href="detail.html#reviews"><h3>리뷰 1</h3></a>
                                <figure class="location">교대역</figure>
                                <div class="rating"><i class="fa fa-star"></i>8.2</div>
                                <p>상세 리뷰 기재하는 칸</p>
                                <a href="detail.html#reviews" class="link icon">Full Review<i class="arrow_right"></i></a>
                            </div>
                            <!--end review-->
                        </div>
                        <!--end col-md-3-->
                        <div class="col-md-3 col-sm-3">
                            <div class="review-single">
                               <a href="detail.html#reviews"><h3>리뷰 2</h3></a>
                                <figure class="location">강남구</figure>
                                <div class="rating"><i class="fa fa-star"></i>9.3</div>
                                <p>상세 리뷰 기재하는 칸</p>
                                <a href="detail.html#reviews" class="link icon">Full Review<i class="arrow_right"></i></a>
                            </div>
                            <!--end review-->
                        </div>
                        <!--end col-md-3-->
                        <div class="col-md-3 col-sm-3">
                            <div class="review-single">
                                <a href="detail.html#reviews"><h3>리뷰 3</h3></a>
                                <figure class="location">강남구</figure>
                                <div class="rating"><i class="fa fa-star"></i>9.4</div>
                                <p>상세 리뷰 기재하는 칸</p>
                                <a href="detail.html#reviews" class="link icon">Full Review<i class="arrow_right"></i></a>
                            </div>
                            <!--end review-->
                        </div>
                        <!--end col-md-3-->
                    </div>
                    <!--end row-->
                </div>
                <!--end title-->
                <div class="bg color white"></div>
            </div>
            <!--end container-->
        </div>
        <!--end block-->
    </div>
    <!--end page-content-->


<script>
    $.datepicker.setDefaults({
        dateFormat: 'yy-mm-dd',
        prevText: '이전 달',
        nextText: '다음 달',
        monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
        monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
        dayNames: ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
        showMonthAfterYear: true,
        yearSuffix: '년'
    });
	
    $(function() {
    	  var today = new Date();
    	  var selectedDate;
    	  var dp1 = jQuery.noConflict();
    	  var dp2 = jQuery.noConflict();
    	  
    	  $("#datepicker1").datepicker({
    	    minDate: today,
    	    onSelect: function(date) {
    	    	selectedDate = new Date(date); // 문자열로 된 날짜를 Date 객체로 변환
    	        selectedDate.setDate(selectedDate.getDate() + 1); // 다음날로 설정
    	        $("#datepicker2").datepicker("option", "minDate", selectedDate); // datepicker2의 minDate 업데이트
    	    }
    	  });
    	  
    	  $("#datepicker2").datepicker({
    		minDate: selectedDate,
    		beforeShow: function(input, inst) {
    	      
    	      if (selectedDate == null) {
    	    	 
    	        alert("체크인 날짜를 먼저 선택해주세요!");
    	        $(this).blur();
    	        return false;
    	      }
    	      
    	    }
    	    
    	  });
    	});

</script>

<script type="text/javascript">
	
	//일반검색
	function search() {
		
		var f = document.myForm;

	    setDefaultCheckInDate();
	    setDefaultCheckOutDate();

	    f.action = "/hotel/hotellist";
	    f.submit();
		
	}
	
	function hotel() {
		
		var f = document.myForm1;
		var category = document.getElementById("category1");
		category.value = "호텔";
		
	    setDefaultCheckInDate();
	    setDefaultCheckOutDate();
	    
	    f.action = "/hotel/hotellist";
	    f.submit();
	    
	}
		
	function hostel() {
			
		var f = document.myForm1;
		var category = document.getElementById("category1");
		category.value = "호스텔";
		
	    setDefaultCheckInDate();
	    setDefaultCheckOutDate();
	    
	    f.action = "/hotel/hotellist";
	    f.submit();
	    
	}
		
	function guesthouse() {
		
		var f = document.myForm1;
		var category = document.getElementById("category1");
		category.value = "게스트하우스";
		
	    setDefaultCheckInDate();
	    setDefaultCheckOutDate();
	    
	    f.action = "/hotel/hotellist";
	    f.submit();
	    
	}
		
	function motel() {
			
		var f = document.myForm1;
		var category = document.getElementById("category1");
		category.value = "모텔";
		
	    setDefaultCheckInDate();
	    setDefaultCheckOutDate();
	    
	    f.action = "/hotel/hotellist";
	    f.submit();
	    
	}
		
	function pension() {
		
		var f = document.myForm1;
		var category = document.getElementById("category1");
		category.value = "펜션";
		
	    setDefaultCheckInDate();
	    setDefaultCheckOutDate();
	    
	    f.action = "/hotel/hotellist";
	    f.submit();
	    
	}
	
	function resort() {
		
		var f = document.myForm1;
		var category = document.getElementById("category1");
		category.value = "리조트";
		
	    setDefaultCheckInDate();
	    setDefaultCheckOutDate();
	    
	    f.action = "/hotel/hotellist";
	    f.submit();
	    
	}
	
	
	//체크인 날짜가 입력 안됐을때 오늘 날짜로 디폴트 설정
	function setDefaultCheckInDate() {
	  var checkInInput = document.getElementById("datepicker1");
	  var checkIn1 = document.getElementById("checkin1");
	  if (!checkInInput.value) {
	    var today = new Date();
	    var year = today.getFullYear();
	    var month = ("0" + (today.getMonth() + 1)).slice(-2);
	    var day = ("0" + today.getDate()).slice(-2);
	    checkInInput.value = year + "-" + month + "-" + day;
	    checkIn1.value = year + "-" + month + "-" + day;
	  }
	}

	//체크아웃 날짜가 입력 안됐을때 오늘 날짜 +1일로 디폴트 설정
	function setDefaultCheckOutDate() {
	  var checkOutInput = document.getElementById("datepicker2");
	  var checkOut1 = document.getElementById("checkout1");
	  if (!checkOutInput.value) {
	    var tomorrow = new Date();
	    tomorrow.setDate(tomorrow.getDate() + 1);
	    var year = tomorrow.getFullYear();
	    var month = ("0" + (tomorrow.getMonth() + 1)).slice(-2);
	    var day = ("0" + tomorrow.getDate()).slice(-2);
	    checkOutInput.value = year + "-" + month + "-" + day;
	    checkOut1.value = year + "-" + month + "-" + day;
	  }
	}
	
	
	
		
</script>



    
</html>