<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ThemeStarz">

    <link href="assets/fonts/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="assets/fonts/elegant-fonts.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="assets/css/zabuto_calendar.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
    <script src="https://kit.fontawesome.com/fe3b2ac5d6.js" crossorigin="anonymous"></script>

    <title>서울어때(디자인 수정중)</title>

</head>

<body>
<div class="page-wrapper">
    <div id="page-header">
        <header>
            <div class="container">
                <div class="secondary-nav">
                    <div class="nav-trigger"><a data-toggle="collapse" href="#secondary-nav" aria-expanded="false" aria-controls="secondary-nav"><i class="fa fa-user"></i></a></div>
                    <div id="secondary-nav">
                        <nav>
                            <div class="left opacity-60">
                                <a href=""><i class="fa fa-phone"></i>+1 781-903-1047</a>
                                <a href="mailto:hello@example.com"><i class="fa fa-envelope"></i>itwill0406@gmail.com</a>
                            </div>
                            <!--end left-->
                            <div class="right">
								<div class="element">
								    <a th:href="@{/login/login}" style="cursor: pointer;">로그인</a>
								</div>
								<!--end element-->
								<div class="element">
								    <a th:href="@{/login/register_select}" style="cursor: pointer;">회원가입</a>
								</div>
                                <!--end element-->
                                <div class="element">
                                    <select style="font-size:10px;">
                                    	<option>마이페이지</option>
                                    	<option>예약확인</option>
                                    	<option>정보조회</option>
                                    	<option>탈퇴하기</option>
                                    </select>
                                </div>
                                <!--end element-->
                            </div>
                            <!--end right-->
                        </nav>
                    </div>
                </div>
                <!--end secondary-nav-->
            </div>
            <!--end container-->
            <hr>
            <div class="container">
                <div class="primary-nav">
                    <div class="left">
                        <a th:href="@{/main}" id="brand"><img src="assets/img/logo.png" alt="" style="width: 100px; height: 100px;"></a>
                        <a class="nav-trigger" data-toggle="collapse" href="#primary-nav" aria-expanded="false" aria-controls="primary-nav"><i class="fa fa-navicon"></i></a>
                    </div>
                    <!--end left-->
                    <div class="right" >
                        <nav id="primary-nav">
                            <ul>
                                <li> <a th:href="@{/main}">메인으로</a></li>
                                 <li><a href="#">프로모션</a></li>
                                <li><a href="#" class="has-child">고객페이지</a>
                                    <ul class="child-nav">
										<li><a href="faq.html">문의게시판</a></li>
                                        <li><a href="grid.html">더보기</a></li>
                                        <li><a href="sticky-footer.html">더보기</a></li>
                                        <li><a href="terms-and-conditions.html">더보기</a></li>
                                    </ul>
                                </li>                                    
                                <li><a href="contact-us.html">Contact Us</a></li>
                                <li class="submit"><a href="submit.html"><span>Submit</span>
                                <i data-toggle="tooltip" data-placement="top" title="Submit">
                                <img src="assets/img/plus.png" alt=""></i></a></li>
                            </ul>
                        </nav>
                        <!--end nav-->
                    </div>
                    <!--end right-->
                </div>
                <!--end primary-nav-->
            </div>
            <!--end container-->
        </header>
        <!--end header-->
    </div>
    <!--end page-header-->

    <div id="page-content">
        <div class="hero-section" data-height="600">
            <form id="form-hero">
                <div class="hero-inner">
                    <div class="hero-wrapper" >
                        <div class="caption">
                            <div class="inner">
                                <div class="container">
                                    <h1 class="center"></h1>
                                    <div class="row no-gutters">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label class="label-on-input" for="address-autocomplete">Location</label>
                                                <input type="text" class="form-control" id="address-autocomplete" name="location" placeholder="장소를 검색하세요">
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-2">
                                            <div class="form-group">
                                                <label class="label-on-input" for="form-check-in">Check In</label>
                                                <input type="text" class="form-control date" id="form-check-in" name="nights" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-2">
                                            <div class="form-group">
                                                <label class="label-on-input" for="form-nights">Nights</label>
                                                <input type="number" class="form-control" id="form-nights" name="nights" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-2">
                                            <div class="form-group">
                                                <a th:href="@{/hotel/hotellist}" class="btn btn-default">검색하기</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end container-->
                                <div class="bg-transfer"><img src="assets/img/seoul.jpg" alt=""></div>
                                <!--end bg-transfer-->
                            </div>
                            <!--end inner-->
                        </div>
                        <!--end caption-->
                        <div class="options">
                            <div class="container">
                                <div class="wrapper">
                                    <h2></h2>
                                    <h1 style="text-align: center">6가지 아이콘 넣으면 될듯요!</h1>
                                </div>
                                <!--end wrapper-->
                            </div>
                            <!--end container-->
                        </div>
                        <!--end options-->
                    </div>
                    <!--end hero-wrapper-->
                    <div id="options-hidden" class="collapse">
                        <div class="container"></div>
                        <!--end container-->
                    </div>
                </div>
                <!--end hero-inner-->
            </form>
            <!--end form-->
            <div class="map-wrapper">
                <div class="plate white">
                    <a href="#" data-switch="#form-hero">지도...</a>
                </div>
                <!--end plate-->
                <div id="map-item" class="map height-100"></div>
                <!--<img src="assets/img/map.jpg" alt="">-->
            </div>
        </div>
        <!--end hero-section-->

        <div class="block">
            <div class="container">
                <div class="title">
                    <h2>요즘 뜨는 호텔</h2>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="item big equal-height" data-map-latitude="48.87" data-map-longitude="2.29" data-id="1">
                            <div class="item-wrapper">
                                <div class="image">
                                    <div class="mark-circle description" data-toggle="tooltip" data-placement="right" title=""><i class="fa fa-question"></i></div>
                                    <div class="mark-circle map" data-toggle="tooltip" data-placement="right" title="Show on map"><i class="fa fa-map-marker"></i></div>
                                    <div class="mark-circle top" data-toggle="tooltip" data-placement="right" title="Top accommodation"><i class="fa fa-thumbs-up"></i></div>
                                    <a href="detail.html" class="wrapper">
                                        <div class="gallery">
                                            <img src="assets/img/items/01.jpg" alt="">
                                            <img src="#" class="owl-lazy" alt="" data-src="assets/img/items/02.jpg">
                                            <img src="#" class="owl-lazy" alt="" data-src="assets/img/items/03.jpg">
                                        </div>
                                    </a>
                                    <div class="owl-navigation"></div>
                                    <!--end owl-navigation-->
                                </div>
                                <!--end image-->
                                <div class="description">
                                    <div class="meta">
                                        <span><i class="fa fa-star"></i>8.9</span>
                                        <span><i class="fa fa-bed"></i>365</span>
                                    </div>
                                    <div class="info">
                                        <figure class="label label-info">Hotel</figure>
                                        <a href="detail.html"><h3>Spring Hotel</h3></a>
                                        <figure class="location">Montenegro</figure>
                                    </div>
                                </div>
                                <!--end description-->
                                <div class="map-item">
                                    <button class="btn btn-close"><i class="fa fa-close"></i></button>
                                    <div class="map-wrapper"></div>
                                </div>
                                <!--end map-item-->
                            </div>
                        </div>
                        <!--end item-->
                    </div>
                    <!--col-md-3-->
                    <div class="col-md-3 col-sm-6">
                        <div class="item big equal-height" data-map-latitude="48.87" data-map-longitude="2.29" data-id="2">
                            <div class="item-wrapper">
                                <div class="image">
                                    <div class="mark-circle description" data-toggle="tooltip" data-placement="right" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis erat vel quam aliquet hendrerit semper eget elit. Aenean tincidunt ultrices bibendum. Proin nisi erat, iaculis non pulvinar a, scelerisque ut est. "><i class="fa fa-question"></i></div>
                                    <div class="mark-circle map" data-toggle="tooltip" data-placement="right" title="Show on map"><i class="fa fa-map-marker"></i></div>
                                    <div class="mark-circle top" data-toggle="tooltip" data-placement="right" title="Top accommodation"><i class="fa fa-thumbs-up"></i></div>
                                    <a href="detail.html" class="wrapper">
                                        <div class="gallery">
                                            <img src="assets/img/items/02.jpg" alt="">
                                            <img src="#" class="owl-lazy" alt="" data-src="assets/img/items/01.jpg">
                                            <img src="#" class="owl-lazy" alt="" data-src="assets/img/items/03.jpg">
                                        </div>
                                    </a>
                                    <div class="owl-navigation"></div>
                                    <!--end owl-navigation-->
                                </div>
                                <!--end image-->
                                <div class="description">
                                    <div class="meta">
                                        <span><i class="fa fa-star"></i>9.3</span>
                                        <span><i class="fa fa-bed"></i>148</span>
                                    </div>
                                    <div class="info">
                                        <figure class="label label-info">Apartment</figure>
                                        <a href="detail.html"><h3>Mountain Paradise</h3></a>
                                        <figure class="location">Austria</figure>
                                    </div>
                                </div>
                                <!--end description-->
                                <div class="map-item">
                                    <button class="btn btn-close"><i class="fa fa-close"></i></button>
                                    <div class="map-wrapper"></div>
                                </div>
                                <!--end map-item-->
                            </div>
                        </div>
                        <!--end item-->
                    </div>
                    <!--col-md-3-->
                    <div class="col-md-3 col-sm-6">
                        <div class="item big equal-height" data-map-latitude="48.87" data-map-longitude="2.29" data-id="3">
                            <div class="item-wrapper">
                                <div class="image">
                                    <div class="mark-circle description" data-toggle="tooltip" data-placement="right" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis erat vel quam aliquet hendrerit semper eget elit. Aenean tincidunt ultrices bibendum. Proin nisi erat, iaculis non pulvinar a, scelerisque ut est. "><i class="fa fa-question"></i></div>
                                    <div class="mark-circle map" data-toggle="tooltip" data-placement="right" title="Show on map"><i class="fa fa-map-marker"></i></div>
                                    <a href="detail.html" class="wrapper">
                                        <div class="gallery">
                                            <img src="assets/img/items/03.jpg" alt="">
                                            <img src="#" class="owl-lazy" alt="" data-src="assets/img/items/01.jpg">
                                            <img src="#" class="owl-lazy" alt="" data-src="assets/img/items/04.jpg">
                                        </div>
                                    </a>
                                    <div class="owl-navigation"></div>
                                    <!--end owl-navigation-->
                                </div>
                                <!--end image-->
                                <div class="description">
                                    <div class="meta">
                                        <span><i class="fa fa-star"></i>9.8</span>
                                        <span><i class="fa fa-bed"></i>70</span>
                                    </div>
                                    <div class="info">
                                        <figure class="label label-info">Spa & Hotel</figure>
                                        <a href="detail.html"><h3>Twin Oaks Resort</h3></a>
                                        <figure class="location">Australia</figure>
                                    </div>
                                </div>
                                <!--end description-->
                                <div class="map-item">
                                    <button class="btn btn-close"><i class="fa fa-close"></i></button>
                                    <div class="map-wrapper"></div>
                                </div>
                                <!--end map-item-->
                            </div>
                        </div>
                        <!--end item-->
                    </div>
                    <!--col-md-3-->
                    <div class="col-md-3 col-sm-6">
                        <div class="item big equal-height" data-map-latitude="48.87" data-map-longitude="2.29" data-id="4">
                            <div class="item-wrapper">
                                <div class="image">
                                    <div class="mark-circle description" data-toggle="tooltip" data-placement="right" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis erat vel quam aliquet hendrerit semper eget elit. Aenean tincidunt ultrices bibendum. Proin nisi erat, iaculis non pulvinar a, scelerisque ut est. "><i class="fa fa-question"></i></div>
                                    <div class="mark-circle map" data-toggle="tooltip" data-placement="right" title="Show on map"><i class="fa fa-map-marker"></i></div>
                                    <a href="detail.html" class="wrapper">
                                        <div class="gallery">
                                            <img src="assets/img/items/04.jpg" alt="">
                                            <img src="#" class="owl-lazy" alt="" data-src="assets/img/items/01.jpg">
                                            <img src="#" class="owl-lazy" alt="" data-src="assets/img/items/05.jpg">
                                        </div>
                                    </a>
                                    <div class="owl-navigation"></div>
                                    <!--end owl-navigation-->
                                </div>
                                <!--end image-->
                                <div class="description">
                                    <div class="meta">
                                        <span><i class="fa fa-star"></i>9.1</span>
                                        <span><i class="fa fa-bed"></i>58</span>
                                    </div>
                                    <div class="info">
                                        <figure class="label label-info">Villa</figure>
                                        <a href="detail.html"><h3>Sunrise Sanctum </h3></a>
                                        <figure class="location">Switzerland</figure>
                                    </div>
                                </div>
                                <!--end description-->
                                <div class="map-item">
                                    <button class="btn btn-close"><i class="fa fa-close"></i></button>
                                    <div class="map-wrapper"></div>
                                </div>
                                <!--end map-item-->
                            </div>
                        </div>
                        <!--end item-->
                    </div>
                    <!--col-md-3-->
                    <div class="col-md-6 col-sm-12">
                        <a href="#" class="advertising-banner equal-height">
                            <span class="banner-badge">Advertising</span>
                            <img src="assets/img/ad-banner-01.jpg" alt="">
                        </a>
                    </div>
                    <!--end col-md-6-->
                    <div class="col-md-3 col-sm-6">
                        <div class="item big equal-height" data-map-latitude="48.87" data-map-longitude="2.29" data-id="5">
                            <div class="item-wrapper">
                                <div class="image">
                                    <div class="mark-circle description" data-toggle="tooltip" data-placement="right" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis erat vel quam aliquet hendrerit semper eget elit. Aenean tincidunt ultrices bibendum. Proin nisi erat, iaculis non pulvinar a, scelerisque ut est. "><i class="fa fa-question"></i></div>
                                    <div class="mark-circle map" data-toggle="tooltip" data-placement="right" title="Show on map"><i class="fa fa-map-marker"></i></div>
                                    <a href="detail.html" class="wrapper">
                                        <div class="gallery">
                                            <img src="assets/img/items/05.jpg" alt="">
                                            <img src="#" class="owl-lazy" alt="" data-src="assets/img/items/01.jpg">
                                            <img src="#" class="owl-lazy" alt="" data-src="assets/img/items/02.jpg">
                                        </div>
                                    </a>
                                    <div class="owl-navigation"></div>
                                    <!--end owl-navigation-->
                                </div>
                                <!--end image-->
                                <div class="description">
                                    <div class="meta">
                                        <span><i class="fa fa-star"></i>9.6</span>
                                        <span><i class="fa fa-bed"></i>38</span>
                                    </div>
                                    <div class="info">
                                        <figure class="label label-info">Cottage</figure>
                                        <a href="detail.html"><h3>Primal Court Resort</h3></a>
                                        <figure class="location">France</figure>
                                    </div>
                                </div>
                                <!--end description-->
                                <div class="map-item">
                                    <button class="btn btn-close"><i class="fa fa-close"></i></button>
                                    <div class="map-wrapper"></div>
                                </div>
                                <!--end map-item-->
                            </div>
                        </div>
                        <!--end item-->
                    </div>
                    <!--col-md-3-->
                    <div class="col-md-3 col-sm-6">
                        <div class="item big equal-height" data-map-latitude="48.87" data-map-longitude="2.29" data-id="6">
                            <div class="item-wrapper">
                                <div class="image">
                                    <div class="mark-circle description" data-toggle="tooltip" data-placement="right" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis erat vel quam aliquet hendrerit semper eget elit. Aenean tincidunt ultrices bibendum. Proin nisi erat, iaculis non pulvinar a, scelerisque ut est. "><i class="fa fa-question"></i></div>
                                    <div class="mark-circle map" data-toggle="tooltip" data-placement="right" title="Show on map"><i class="fa fa-map-marker"></i></div>
                                    <div class="mark-circle top" data-toggle="tooltip" data-placement="right" title="Top accommodation"><i class="fa fa-thumbs-up"></i></div>
                                    <a href="detail.html" class="wrapper">
                                        <div class="gallery">
                                            <img src="assets/img/items/06.jpg" alt="">
                                            <img src="#" class="owl-lazy" alt="" data-src="assets/img/items/04.jpg">
                                            <img src="#" class="owl-lazy" alt="" data-src="assets/img/items/03.jpg">
                                        </div>
                                    </a>
                                    <div class="owl-navigation"></div>
                                    <!--end owl-navigation-->
                                </div>
                                <!--end image-->
                                <div class="description">
                                    <div class="meta">
                                        <span><i class="fa fa-star"></i>8.9</span>
                                        <span><i class="fa fa-bed"></i>250</span>
                                    </div>
                                    <div class="info">
                                        <figure class="label label-info">Spa & Wellness</figure>
                                        <a href="detail.html"><h3>Celestial Hotel & Spa</h3></a>
                                        <figure class="location">Norway</figure>
                                    </div>
                                </div>
                                <!--end description-->
                                <div class="map-item">
                                    <button class="btn btn-close"><i class="fa fa-close"></i></button>
                                    <div class="map-wrapper"></div>
                                </div>
                                <!--end map-item-->
                            </div>
                        </div>
                        <!--end item-->
                    </div>
                    <!--col-md-3-->
                </div>
                <!--end row-->
            </div>
            <!--end container-->
        </div>
        <!--end block-->

        <div class="block">
            <div class="container">
                <div class="title">
                    <h2 class="pull-left">Recent Accommodations</h2>
                </div>
                <!--end title-->
                <div class="row">
                    <div class="col-md-9 col-sm-8">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <a href="detail.html" class="item small">
                                    <div class="image">
                                        <div class="info">
                                            <figure class="label label-info">Hotel</figure>
                                            <aside>
                                                <h3>Celestial Hotel & Spa</h3>
                                                <figure class="location">Norway</figure>
                                            </aside>
                                        </div>
                                        <div class="wrapper">
                                            <div class="gallery">
                                                <img src="assets/img/items/01.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <!--end image-->
                                    <div class="description">
                                        <div class="meta">
                                            <span><i class="fa fa-star"></i>8.9</span>
                                            <span><i class="fa fa-bed"></i>250</span>
                                        </div>
                                    </div>
                                    <!--end description-->
                                </a>
                                <!--end item-->
                            </div>
                            <!--end col-md-3-->
                            <div class="col-md-3 col-sm-6">
                                <a href="detail.html" class="item small">
                                    <div class="image">
                                        <div class="info">
                                            <figure class="label label-info">Apartment</figure>
                                            <aside>
                                                <h3>Spring Hotel</h3>
                                                <figure class="location">Austria</figure>
                                            </aside>
                                        </div>
                                        <div class="wrapper">
                                            <div class="gallery">
                                                <img src="assets/img/items/01.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <!--end image-->
                                    <div class="description">
                                        <div class="meta">
                                            <span><i class="fa fa-star"></i>8.2</span>
                                            <span><i class="fa fa-bed"></i>82</span>
                                        </div>
                                    </div>
                                    <!--end description-->
                                </a>
                                <!--end item-->
                            </div>
                            <!--end col-md-3-->
                            <div class="col-md-3 col-sm-6">
                                <a href="detail.html" class="item small">
                                    <div class="image">
                                        <div class="info">
                                            <figure class="label label-info">Cottage</figure>
                                            <aside>
                                                <h3>Rose Brook Resort</h3>
                                                <figure class="location">France</figure>
                                            </aside>
                                        </div>
                                        <div class="wrapper">
                                            <div class="gallery">
                                                <img src="assets/img/items/01.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <!--end image-->
                                    <div class="description">
                                        <div class="meta">
                                            <span><i class="fa fa-star"></i>9.4</span>
                                            <span><i class="fa fa-bed"></i>348</span>
                                        </div>
                                    </div>
                                    <!--end description-->
                                </a>
                                <!--end item-->
                            </div>
                            <!--end col-md-3-->
                            <div class="col-md-3 col-sm-6">
                                <a href="detail.html" class="item small">
                                    <div class="image">
                                        <div class="info">
                                            <figure class="label label-info">Hotel</figure>
                                            <aside>
                                                <h3>Secret Angel Hotel</h3>
                                                <figure class="location">Switzerland</figure>
                                            </aside>
                                        </div>
                                        <div class="wrapper">
                                            <div class="gallery">
                                                <img src="assets/img/items/02.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <!--end image-->
                                    <div class="description">
                                        <div class="meta">
                                            <span><i class="fa fa-star"></i>9.8</span>
                                            <span><i class="fa fa-bed"></i>37</span>
                                        </div>
                                    </div>
                                    <!--end description-->
                                </a>
                                <!--end item-->
                            </div>
                            <!--end col-md-3-->

                            <div class="col-md-3 col-sm-6">
                                <a href="detail.html" class="item small">
                                    <div class="image">
                                        <div class="info">
                                            <figure class="label label-info">Hotel</figure>
                                            <aside>
                                                <h3>Mountain Paradise</h3>
                                                <figure class="location">Norway</figure>
                                            </aside>
                                        </div>
                                        <div class="wrapper">
                                            <div class="gallery">
                                                <img src="assets/img/items/02.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <!--end image-->
                                    <div class="description">
                                        <div class="meta">
                                            <span><i class="fa fa-star"></i>8.9</span>
                                            <span><i class="fa fa-bed"></i>250</span>
                                        </div>
                                    </div>
                                    <!--end description-->
                                </a>
                                <!--end item-->
                            </div>
                            <!--end col-md-3-->
                            <div class="col-md-3 col-sm-6">
                                <a href="detail.html" class="item small">
                                    <div class="image">
                                        <div class="info">
                                            <figure class="label label-info">Apartment</figure>
                                            <aside>
                                                <h3>Twin Oaks Resort</h3>
                                                <figure class="location">Austria</figure>
                                            </aside>
                                        </div>
                                        <div class="wrapper">
                                            <div class="gallery">
                                                <img src="assets/img/items/02.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <!--end image-->
                                    <div class="description">
                                        <div class="meta">
                                            <span><i class="fa fa-star"></i>8.2</span>
                                            <span><i class="fa fa-bed"></i>82</span>
                                        </div>
                                    </div>
                                    <!--end description-->
                                </a>
                                <!--end item-->
                            </div>
                            <!--end col-md-3-->
                            <div class="col-md-3 col-sm-6">
                                <a href="detail.html" class="item small">
                                    <div class="image">
                                        <div class="info">
                                            <figure class="label label-info">Cottage</figure>
                                            <aside>
                                                <h3>Sunrise Sanctum</h3>
                                                <figure class="location">France</figure>
                                            </aside>
                                        </div>
                                        <div class="wrapper">
                                            <div class="gallery">
                                                <img src="assets/img/items/03.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <!--end image-->
                                    <div class="description">
                                        <div class="meta">
                                            <span><i class="fa fa-star"></i>9.4</span>
                                            <span><i class="fa fa-bed"></i>348</span>
                                        </div>
                                    </div>
                                    <!--end description-->
                                </a>
                                <!--end item-->
                            </div>
                            <!--end col-md-3-->
                            <div class="col-md-3 col-sm-6">
                                <a href="detail.html" class="item small">
                                    <div class="image">
                                        <div class="info">
                                            <figure class="label label-info">Hotel</figure>
                                            <aside>
                                                <h3>Primal Court Resort</h3>
                                                <figure class="location">Switzerland</figure>
                                            </aside>
                                        </div>
                                        <div class="wrapper">
                                            <div class="gallery">
                                                <img src="assets/img/items/01.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <!--end image-->
                                    <div class="description">
                                        <div class="meta">
                                            <span><i class="fa fa-star"></i>9.8</span>
                                            <span><i class="fa fa-bed"></i>37</span>
                                        </div>
                                    </div>
                                    <!--end description-->
                                </a>
                                <!--end item-->
                            </div>
                            <!--end col-md-3-->
                        </div>
                        <!--end row-->
                        <a href="listing.html" class="pull-right">View All</a>
                    </div>
                </div>
            </div>
            <!--end container-->
        </div>
        <!--end block-->



        <div class="block">
            <div class="container">
                <div class="title">
                    <h2 class="center">Tip For a Trip</h2>
                </div>
                <!--end title-->
                <div class="gallery-carousel">
                    <div class="gallery-item">
                        <a href="blog-detail.html"><div class="image"><img src="assets/img/items/tip-01.jpg" alt=""></div></a>
                        <div class="description">
                            <a href="blog-detail.html"><h3>Silver Peak Resort</h3></a>
                            <figure>Austria</figure>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus posuere mattis. Donec </p>
                            <a href="blog-detail.html" class="btn btn-default btn-small btn-framed btn-rounded">More</a>
                        </div>
                    </div>
                    <!--end gallery-item-->
                    <div class="gallery-item">
                        <a href="blog-detail.html"><div class="image"><img src="assets/img/items/tip-02.jpg" alt=""></div></a>
                        <div class="description">
                            <a href="blog-detail.html"><h3>Silver Peak Resort</h3></a>
                            <figure>Austria</figure>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus posuere mattis. Donec </p>
                            <a href="blog-detail.html" class="btn btn-default btn-small btn-framed btn-rounded">More</a>
                        </div>
                    </div>
                    <!--end gallery-item-->
                    <div class="gallery-item">
                        <a href="blog-detail.html"><div class="image"><img src="assets/img/items/tip-03.jpg" alt=""></div></a>
                        <div class="description">
                            <a href="blog-detail.html"><h3>Silver Peak Resort</h3></a>
                            <figure>Austria</figure>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus posuere mattis. Donec </p>
                            <a href="blog-detail.html" class="btn btn-default btn-small btn-framed btn-rounded">More</a>
                        </div>
                    </div>
                    <!--end gallery-item-->
                    <div class="gallery-item">
                        <a href="blog-detail.html"><div class="image"><img src="assets/img/items/tip-01.jpg" alt=""></div></a>
                        <div class="description">
                            <a href="blog-detail.html"><h3>Silver Peak Resort</h3></a>
                            <figure>Austria</figure>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus posuere mattis. Donec </p>
                            <a href="blog-detail.html" class="btn btn-default btn-small btn-framed btn-rounded">More</a>
                        </div>
                    </div>
                    <!--end gallery-item-->
                    <div class="gallery-item">
                        <a href="blog-detail.html"><div class="image"><img src="assets/img/items/tip-02.jpg" alt=""></div></a>
                        <div class="description">
                            <a href="blog-detail.html"><h3>Silver Peak Resort</h3></a>
                            <figure>Austria</figure>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus posuere mattis. Donec </p>
                            <a href="blog-detail.html" class="btn btn-default btn-small btn-framed btn-rounded">More</a>
                        </div>
                    </div>
                    <!--end gallery-item-->
                    <div class="gallery-item">
                        <a href="blog-detail.html"><div class="image"><img src="assets/img/items/tip-03.jpg" alt=""></div></a>
                        <div class="description">
                            <a href="blog-detail.html"><h3>Silver Peak Resort</h3></a>
                            <figure>Austria</figure>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus posuere mattis. Donec </p>
                            <a href="blog-detail.html" class="btn btn-default btn-small btn-framed btn-rounded">More</a>
                        </div>
                    </div>
                    <!--end gallery-item-->
                </div>
                <!--end gallery-carousel-->
            </div>
            <!--end container-->
            <div class="bg opacity-30">
                <img src="assets/img/bg-map.jpg" alt="">
            </div>
        </div>
        <!--end block-->

        <div class="container">
            <div class="block">
                <form class="marketing-form">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="form-group-inline vertical-align-middle no-margin">
                                <div class="form-group">
                                    <h3 class="font-color-white no-margin">첫 숙소 예약은 반값에!</h3>
                                    <p class="font-color-white no-margin">쿠폰 받아 가세요</p>
                                </div>
                                <div class="form-group width-50">
                                    <button style="width: 100px; height: 80px;">쿠폰 받기</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="bg color default"></div>
            </div>
        </div>
        <!--end block-->

       

        <div class="container">
            <div class="block">
                <div class="title">
                    <h2>Reviews</h2>
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <div class="review-single">
								<a href="detail.html#reviews"><h3>리뷰 0</h3></a>
                                <figure class="location">역삼역</figure>
                                <div class="rating"><i class="fa fa-star"></i>8.9</div>
                                <p>상세 리뷰 기재하는 칸</p>
                                <a href="detail.html#reviews" class="link icon">Full Review<i class="arrow_right"></i></a>
                            </div>
                            <!--end review-->
                        </div>
                        <!--end col-md-3-->
                        <div class="col-md-3 col-sm-3">
                            <div class="review-single">
                               <a href="detail.html#reviews"><h3>리뷰 1</h3></a>
                                <figure class="location">교대역</figure>
                                <div class="rating"><i class="fa fa-star"></i>8.2</div>
                                <p>상세 리뷰 기재하는 칸</p>
                                <a href="detail.html#reviews" class="link icon">Full Review<i class="arrow_right"></i></a>
                            </div>
                            <!--end review-->
                        </div>
                        <!--end col-md-3-->
                        <div class="col-md-3 col-sm-3">
                            <div class="review-single">
                               <a href="detail.html#reviews"><h3>리뷰 2</h3></a>
                                <figure class="location">강남구</figure>
                                <div class="rating"><i class="fa fa-star"></i>9.3</div>
                                <p>상세 리뷰 기재하는 칸</p>
                                <a href="detail.html#reviews" class="link icon">Full Review<i class="arrow_right"></i></a>
                            </div>
                            <!--end review-->
                        </div>
                        <!--end col-md-3-->
                        <div class="col-md-3 col-sm-3">
                            <div class="review-single">
                                <a href="detail.html#reviews"><h3>리뷰 3</h3></a>
                                <figure class="location">강남구</figure>
                                <div class="rating"><i class="fa fa-star"></i>9.4</div>
                                <p>상세 리뷰 기재하는 칸</p>
                                <a href="detail.html#reviews" class="link icon">Full Review<i class="arrow_right"></i></a>
                            </div>
                            <!--end review-->
                        </div>
                        <!--end col-md-3-->
                    </div>
                    <!--end row-->
                </div>
                <!--end title-->
                <div class="bg color white"></div>
            </div>
            <!--end container-->
        </div>
        <!--end block-->
    </div>
    <!--end page-content-->

    <footer id="page-footer">
        <div class="row-one">
            <div class="container">
                <div class="logos">
                    <div class="logo">
                        <a href="#"><img src="assets/img/logo-1.png" alt=""></a>
                    </div>
                    <!--/ .logo-->
                    <div class="logo">
                        <a href="#"><img src="assets/img/logo-2.png" alt=""></a>
                    </div>
                    <!--/ .logo-->
                    <div class="logo">
                        <a href="#"><img src="assets/img/logo-3.png" alt=""></a>
                    </div>
                    <!--/ .logo-->
                    <div class="logo">
                        <a href="#"><img src="assets/img/logo-4.png" alt=""></a>
                    </div>
                    <!--/ .logo-->
                    <div class="logo">
                        <a href="#"><img src="assets/img/logo-5.png" alt=""></a>
                    </div>
                    <!--/ .logo-->
                </div>
                <!--/ .logos-->
            </div>
        </div>
        <!--end row-one-->
        <div class="row-two clearfix">
            <div class="container">
                <div class="copyright pull-left">(C) 2016 Your Company, All Rights Reserved</div>
                <div class="footer-nav pull-right">
                    <a href="index.html">Home</a>
                    <a href="about-us.html">About Us</a>
                    <a href="listing.html">Listing</a>
                    <a href="contact-us.html">Contact Us</a>
                </div>
            </div>
            <div class="bg-transfer"><img src="assets/img/footer-bg.jpg" alt=""></div>
        </div>
        <!--end row-two-->
    </footer>
    <!--end page-footer-->
</div>
<!--end page-wrapper-->
<a href="#page-header" class="to-top scroll" data-show-after-scroll="600"><i class="arrow_up"></i></a>



<script type="text/javascript" src="assets/js/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="assets/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places"></script>
<script type="text/javascript" src="assets/js/infobox.js"></script>
<script type="text/javascript" src="assets/js/markerclusterer_packed.js"></script>
<script type="text/javascript" src="assets/js/richmarker-compiled.js"></script>
<script type="text/javascript" src="assets/js/markerwithlabel_packed.js"></script>
<script type="text/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="assets/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="assets/js/icheck.min.js"></script>
<script type="text/javascript" src="assets/js/owl.carousel.js"></script>
<script type="text/javascript" src="assets/js/masonry.pkgd.min.js"></script>

<script type="text/javascript" src="assets/js/maps.js"></script>
<script type="text/javascript" src="assets/js/custom.js"></script>

<!--[if lte IE 9]>
<script src="assets/js/ie.js"></script>
<![endif]-->

<script>
    var _latitude = 48.47292127;
    var _longitude = 4.28672791;
    var element = "map-item";
    var useAjax = true;
    bigMap(_latitude,_longitude, element, useAjax);
</script>
</body>
