<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}" xmlns:th="http://www.thymeleaf.org">

<meta charset="UTF-8">

<div layout:fragment="content" class="content-padding">
<link rel="stylesheet" href="//code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>

<style>
@import url('https://fonts.googleapis.com/css?family=Gowun+Batang&display=swap');
h1,h2,input,figure{
	font-family: 'Gowun Batang', sans-serif;
	opacity: 1;
}

</style>

    <div id="page-content">
        <div class="hero-section" data-height="500">
        	<!-- form 전송을 위해.. -->
            <form id="form-hero" action="" name="myForm" method="get">
                <div class="hero-inner">
                    <div class="hero-wrapper">
                        <div class="caption">
                            <div class="inner">
                                <div class="container">
                                    <h1 class="center">꿈에 그리던 나만의 휴가..</h1>
                                    <h2 class="center">서울어때에서 맞춤 숙소를 검색해보세요!</h2>
                                    <br/><br/>
                                    <div class="row no-gutters">
                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group">
                                                <label class="label-on-input" for="address-autocomplete" style="font-size: 12px; opacity: 1;">장소</label>
                                                <!-- 검색자리 -->
                                                <input type="text" class="form-control" id="address-autocomplete"
                                                name="searchValue" placeholder="지역, 숙소명을 입력하세요">
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-2">
                                            <div class="form-group">
                                                <label class="label-on-input" for="datepicker1" style="font-size: 12px; opacity: 1;">체크인 날짜</label>
                                                <input type="text" id="datepicker1" style="color: #fff;"
                                                name="check_in" placeholder="연도-월-일" onkeydown="return false;" readonly>
                                              
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-2">
                                            <div class="form-group">
                                                <label class="label-on-input" for="datepicker2" style="font-size: 12px; opacity: 1;">체크아웃 날짜</label>
                                                <input type="text" id="datepicker2" style="color: #fff;"
                                                name="check_out" placeholder="연도-월-일" onkeydown="return false;" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-2">
                                            <div class="form-group">
                                            	<!-- 검색버튼 -->
                                            	<input type="button" class="btn btn-default" value="검색하기" onclick="search();">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end container-->
                                <div class="bg-transfer"><img src="assets/img/seoul.png" alt=""></div>
                                <!--end bg-transfer-->
                            </div>
                            <!--end inner-->
                        </div>
                        <!--end caption-->
                        

                    </div>
                    <!--end hero-wrapper-->
                    <div id="options-hidden" class="collapse">
                        <div class="container"></div>
                        <!--end container-->
                    </div>
                </div>
                <!--end hero-inner-->
            </form>
            <!--end form-->
        </div>
        <!--end hero-section-->


		<!-- 아이콘 6개 띄우는 곳 -->
		<form action="/hotel/hotellist" name="myForm1" method="get">
			<input type="hidden" id="checkin1" value="" name="check_in">
			<input type="hidden" id="checkout1" value="" name="check_out">
			<input type="hidden" id="category1" value="" name="category">
			<ul id="main-icon">
				<li><a onclick="hotel();" style="cursor: pointer;"><img src="assets/img/hotel.png"><span>호텔</span></a></li>
				<li><a onclick="hostel();" style="cursor: pointer;"><img src="assets/img/hostel.png"><span>호스텔</span></a></li>
				<li><a onclick="guesthouse();" style="cursor: pointer;"><img src="assets/img/guesthouse.png"><span>게스트하우스</span></a></li>
				<li><a onclick="motel();" style="cursor: pointer;"><img src="assets/img/motel.png"><span>모텔</span></a></li>
				<li><a onclick="pension();" style="cursor: pointer;"><img src="assets/img/pension.png"><span>펜션</span></a></li>
				<li><a onclick="resort()
				;" style="cursor: pointer;"><img src="assets/img/resort.png"><span>리조트</span></a></li>
			</ul>
		</form>
		


		<!-- 메인페이지 인기 숙소 목록 띄울곳 -->
        <div class="block">
            <div class="container">
                <div class="title">
                    <h2><strong>서울어때가 추천하는 서울의 최근 인기 숙소</strong></h2>
                </div>
                <div class="row">

              		<div th:if="${#lists.size(mainHotel)}!=null" th:each="dto:${mainHotel}">

	                   <div class="col-md-3 col-sm-6">
	                        <div class="item big equal-height">
	                            <div class="item-wrapper">
	                                <div class="image">
	                                    <a th:href="@{|/detail?hotel_id=${dto.HOTEL_ID}&check_in=${check_in_day}&check_out=${check_out_day}|}" class="wrapper">
	                                        <div>
	                                            <img th:src="@{|/hotel/${dto.URL}|}" alt="호텔전경사진">
	                                        </div>
	                                    </a>
	                                    <div class="owl-navigation"></div>
	                                    <!--end owl-navigation-->
	                                </div>
	                                <!--end image-->
	                                <div class="description">
	                                    <div class="meta" style="font-size: 15px;">
	                                        <span><i class="fa fa-star"></i>[[${dto.AVG}]]</span>
	                                        <span><i class="fa fa-bed"></i>[[${dto.COUNT}]]</span>
	                                    </div>
	                                    <div class="info">
	                                        <figure class="label label-info">[[${dto.CATEGORY}]]</figure>
	                                        <a th:href="@{|/detail?hotel_id=${dto.HOTEL_ID}&check_in=${check_in_day}&check_out=${check_out_day}|}"><h3>[[${dto.HOTEL_NAME}]]</h3></a>
	                                        <figure class="location">[[${dto.ADDR}]]</figure>
	                                    </div>
	                                </div>
	                                <!--end description-->
	                            </div>
	                        </div>
	                        <!--end item-->
	                    </div>

                    </div>

                </div>
                <!--end row-->
            </div>
            <!--end container-->
        </div>
        <!--end block-->

     


		<!-- 부트스트랩? 기능 장소 : 5월의 추천 행사 캐러셀 : 제작 : 김어진 -->
        <div class="block">
            <div class="container">
                <div class="title">
                    <h2 class="center">서울어때가 추천하는 서울의 5월 주요 행사</h2>
                </div>
                <!--end title-->
                <!-- 행사 관련 캐러셀 시작 -->
                <div class="gallery-carousel">
                    <div class="gallery-item">
                        <a href="https://hangang.seoul.go.kr/www/eventMng/detail.do?&evntSn=59&mid=538"><div class="image"><img src="https://hangang.seoul.go.kr/www/file/editorImage.do?fileNm=0ed8ae9e91f94f21aea3f836331a84b6.jpg&day=202304" alt=""></div></a>
                        <div class="description">
                            <a href="https://hangang.seoul.go.kr/www/eventMng/detail.do?&evntSn=59&mid=538"><h3 style="text-align: center">2023 드론라이트쇼</h3></a>
                            
                            <p>수백여 대의 드론이 펼치는 화려한 불빛 쇼로 더욱 아름다운 한강의 밤하늘을 감상하세요.</p>
                            <br/>
                            <a href="https://hangang.seoul.go.kr/www/eventMng/detail.do?&evntSn=59&mid=538" class="btn btn-default btn-small btn-framed btn-rounded">More</a>
                        </div>
                    </div>
                    <!--end gallery-item-->
                    <div class="gallery-item">
                        <a href="https://festival.seoul.go.kr/hangang/programs?article=27324#"><div class="image"><img src="https://festival.seoul.go.kr/files/2023/04/64420f44e3efd7.65785021-1536x922.png" alt=""></div></a>
                        <div class="description">
                            <a href="https://festival.seoul.go.kr/hangang/programs?article=27324#"><h3 style="text-align: center">책읽는 한강공원</h3></a>
                           
                            <p>뚝섬 한강공원 잔디마당에 놓인 알록달록하고 폭신한 의자에 앉아 책도 읽고 봄날의 햇살을 받으며 여유도 즐겨보세요.</p>
                            <a href="https://festival.seoul.go.kr/hangang/programs?article=27324#" class="btn btn-default btn-small btn-framed btn-rounded">More</a>
                        </div>
                    </div>
                    <!--end gallery-item-->
                    <div class="gallery-item">
                        <a href="https://ddp.or.kr/index.html?menuno=230&siteno=2&bbsno=469&boardno=15&bbstopno=469&act=view&subno="><div class="image"><img src="https://ddp.or.kr/usr/upload/board_thumb/zboardphotogallery0/20230310100925952.jpg" alt=""></div></a>
                        <div class="description">
                            <a href="https://ddp.or.kr/index.html?menuno=230&siteno=2&bbsno=469&boardno=15&bbstopno=469&act=view&subno="><h3>데이비드 호크니&브리티시 팝 아트</h3></a>
                          
                            <p>영국 팝아트 거장들의 작품들을 한 번에 만나 볼 수 있는 특별한 기회! 놓치지 마세요!</p>
                            <a href="https://ddp.or.kr/index.html?menuno=230&siteno=2&bbsno=469&boardno=15&bbstopno=469&act=view&subno=" class="btn btn-default btn-small btn-framed btn-rounded">More</a>
                        </div>
                    </div>
                    <!--end gallery-item-->
                    <div class="gallery-item">
                        <a href="https://ddp.or.kr/index.html?menuno=239&siteno=2&bbsno=570&boardno=16&bbstopno=570&act=view&subno="><div class="image"><img src="https://ddp.or.kr/usr/upload/board_thumb/zboardphotogallery1/20230421093533773.jpg" alt=""></div></a>
                        <div class="description">
                            <a href="https://ddp.or.kr/index.html?menuno=239&siteno=2&bbsno=570&boardno=16&bbstopno=570&act=view&subno="><h3 style="text-align: center">B-Forest : 이상한 DDP의 벨리곰</h3></a>
                            
                            <p>도시의 숲 속에서 만날 수 있는 특별한 벨리곰과 함께 따뜻한 5월의 봄을 만끽해보세요!</p>
                            <a href="https://ddp.or.kr/index.html?menuno=239&siteno=2&bbsno=570&boardno=16&bbstopno=570&act=view&subno=" class="btn btn-default btn-small btn-framed btn-rounded">More</a>
                        </div>
                    </div>
                    <!--end gallery-item-->
                    <div class="gallery-item">
                        <a href="https://www.relaxweek.kr/"><div class="image"><img src="https://relaxweek.kr/superboard/data/siteconfig/2023012710061016747815709783.jpg" alt=""></div></a>
                        <div class="description">
                            <a href="https://www.relaxweek.kr/"><h3 style="text-align: center">서울 릴랙스 위크</h3></a>
                           
                            <p>장기화된 펜데믹에 힘들고 지친 마음에 위로와 쉼표가 필요한 오늘, 서울릴랙스위크에서 나만의 안식처를 찾아보세요.</p>
                            <a href="blog-detail.html" class="btn btn-default btn-small btn-framed btn-rounded">More</a>
                        </div>
                    </div>
                    <!--end gallery-item-->
                    <div class="gallery-item">
                        <a href="http://www.boardgamecon.com/"><div class="image"><img src="https://image.news1.kr/system/photos/2023/4/24/5957071/article.jpg/dims/optimize" alt=""></div></a>
                        <div class="description">
                            <a href="http://www.boardgamecon.com/"><h3 style="text-align: center">보드게임콘</h3></a>
                           
                            <p>누구나 쉽고 재미있게 즐길 수 있는 600여 종의 국내외 보드게임들과 다채로운 프로그램들을 만나보세요!</p>
                            <a href="http://www.boardgamecon.com/" class="btn btn-default btn-small btn-framed btn-rounded">More</a>
                        </div>
                    </div>
                    <!--end gallery-item-->
                </div>
                <!--end gallery-carousel-->
                <!-- 행사 관련 캐러셀 시작 -->
            </div>
            <!--end container-->
            <div class="bg opacity-30">
                <img src="assets/img/bg-map.jpg" alt="">
            </div>
        </div>
        <!--end block-->


		
		<!-- 메인 리뷰 자리 -->
        <div class="container" style="padding-top: 70px;">
            <div class="block" style="padding: 40px 0; ">
                <form class="marketing-form">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="form-group-inline vertical-align-middle no-margin">
                                <div class="form-group" style="text-align: center;">
                                    <h2 class="font-color-white no-margin" style="font-size: 30px;">서울 어때를 이용하신 고객님들의 최신 숙박 후기!</h2>
                                    <br/>
                                    <p class="font-color-white no-margin" style="font-size: 17px;">다양한 이용경험을 보고 마음에 드는 숙소를 골라보세요!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="bg color default"></div>
            </div>
        </div>
        <!--end block-->

       


		<div class="container" style="padding-bottom: 100px;">
            <div class="block">
                <div class="title" style="margin-bottom: 10px;">
                    <div class="row">
                    <div th:if = "${#lists.size(reviewData)}!=null" th:each="dto:${reviewData}">
                        <div class="col-md-3 col-sm-3">
                            <div class="review-single">
								<a th:href="@{|/detail?hotel_id=${dto.HOTEL_ID}&check_in=${check_in_day}&check_out=${check_out_day}|}"><h2>[[${dto.HOTEL_NAME}]]</h2></a>
                                <figure class="location" style="margin-top: 22px; font-weight: 600; font-size: 17px;">[[${dto.USERNAME}]] <span style="font-size: 13px;">님</span>
                                <span style="font-size: 13px; color: #00BFFF; margin-bottom:10px; font-weight: bold;"> (<i class="fa fa-star"></i> [[${dto.SCORE}]])</span></figure>
                                <div class="rating" style="font-size: 13px; margin-bottom:10px; font-weight: bold; margin-left: 0px;"><i class="fa fa-clock-o"></i>[[${dto.CREATED}]]</div>
                                <p>[[${dto.CONTEXT}]]</p>
                            </div>
                            <!--end review single-->
                        </div>
                        <!--end col-md-3-->
                        
                        </div>
                        <!-- th : if of end -->
                    </div>
                    <!--end row-->
                </div>
                <!--end title-->
                <div class="bg color white"></div>
            </div>
            <!--end container-->
        </div>
        <!--end block-->
    </div>
    <!--end page-content-->


<script>
	//datepicker 캘린더 출력 한글패치 세팅
    $.datepicker.setDefaults({
        dateFormat: 'yy-mm-dd',
        prevText: '이전 달',
        nextText: '다음 달',
        monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
        monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
        dayNames: ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
        showMonthAfterYear: true,
        yearSuffix: '년'
    });
	
	
    $(function() {
    	  var today = new Date();
    	  var selectedDate;
    	  var dp1 = jQuery.noConflict();
    	  var dp2 = jQuery.noConflict();
    	  
    	  //체크인 날짜를 초기값으로 오늘 날짜로 설정 및 이전 날짜를 비활성화
    	  //체크아웃 날짜의 초기값을 체크인 날짜 +1일로 자동 설정후 이전 날짜를 비활성화
    	  $("#datepicker1").datepicker({
    	    minDate: today,
    	    onSelect: function(date) {
    	    	selectedDate = new Date(date); // 문자열로 된 날짜를 Date 객체로 변환
    	        selectedDate.setDate(selectedDate.getDate() + 1); // 다음날로 설정
    	        $("#datepicker2").datepicker("option", "minDate", selectedDate); // datepicker2의 minDate 업데이트
    	    }
    	  });
    	  
    	  //체크인 날짜를 먼저 선택해야 체크아웃 날짜를 선택하게끔
    	  $("#datepicker2").datepicker({
    		minDate: selectedDate,
    		beforeShow: function(input, inst) {
    	      
    	      if (selectedDate == null) {
    	    	 
    	        alert("체크인 날짜를 먼저 선택해주세요!");
    	        $(this).blur();
    	        return false;
    	      }
    	      
    	    }
    	    
    	  });
    	});

</script>

<script type="text/javascript">
	
	
	//엔터키를 누르면 검색이 되게함
	function handleEnterKey(event) {
	    if (event.keyCode === 13) { // 엔터키의 key code는 13
	       search();
	    }
	}
	
	// 이벤트 핸들러 등록
	document.addEventListener('keydown', handleEnterKey);
	
	
	//일반검색
	function search() {
		
		var f = document.myForm;

	    setDefaultCheckInDate();
	    setDefaultCheckOutDate();

	    f.action = "/hotel/hotellist";
	    f.submit();
		
	}
	
	
	//아래 6개는 카테고리 검색 함수
	function hotel() {
		
		var f = document.myForm1;
		var category = document.getElementById("category1");
		category.value = "호텔";
		
	    setDefaultCheckInDate();
	    setDefaultCheckOutDate();
	    
	    f.action = "/hotel/hotellist";
	    f.submit();
	    
	}
		
	function hostel() {
			
		var f = document.myForm1;
		var category = document.getElementById("category1");
		category.value = "호스텔";
		
	    setDefaultCheckInDate();
	    setDefaultCheckOutDate();
	    
	    f.action = "/hotel/hotellist";
	    f.submit();
	    
	}
		
	function guesthouse() {
		
		var f = document.myForm1;
		var category = document.getElementById("category1");
		category.value = "게스트하우스";
		
	    setDefaultCheckInDate();
	    setDefaultCheckOutDate();
	    
	    f.action = "/hotel/hotellist";
	    f.submit();
	    
	}
		
	function motel() {
			
		var f = document.myForm1;
		var category = document.getElementById("category1");
		category.value = "모텔";
		
	    setDefaultCheckInDate();
	    setDefaultCheckOutDate();
	    
	    f.action = "/hotel/hotellist";
	    f.submit();
	    
	}
		
	function pension() {
		
		var f = document.myForm1;
		var category = document.getElementById("category1");
		category.value = "펜션";
		
	    setDefaultCheckInDate();
	    setDefaultCheckOutDate();
	    
	    f.action = "/hotel/hotellist";
	    f.submit();
	    
	}
	
	function resort() {
		
		var f = document.myForm1;
		var category = document.getElementById("category1");
		category.value = "리조트";
		
	    setDefaultCheckInDate();
	    setDefaultCheckOutDate();
	    
	    f.action = "/hotel/hotellist";
	    f.submit();
	    
	}
	
	
	
	//체크인 날짜가 입력 안됐을때 오늘 날짜로 디폴트 설정
	function setDefaultCheckInDate() {
	  var checkInInput = document.getElementById("datepicker1");
	  var checkIn1 = document.getElementById("checkin1");
	  if (!checkInInput.value) {
	    var today = new Date();
	    var year = today.getFullYear();
	    var month = ("0" + (today.getMonth() + 1)).slice(-2);
	    var day = ("0" + today.getDate()).slice(-2);
	    checkInInput.value = year + "-" + month + "-" + day;
	    checkIn1.value = year + "-" + month + "-" + day;
	  }
	}

	//체크아웃 날짜가 입력 안됐을때 오늘 날짜 +1일로 디폴트 설정
	function setDefaultCheckOutDate() {
	  var checkOutInput = document.getElementById("datepicker2");
	  var checkOut1 = document.getElementById("checkout1");
	  if (!checkOutInput.value) {
	    var tomorrow = new Date();
	    tomorrow.setDate(tomorrow.getDate() + 1);
	    var year = tomorrow.getFullYear();
	    var month = ("0" + (tomorrow.getMonth() + 1)).slice(-2);
	    var day = ("0" + tomorrow.getDate()).slice(-2);
	    checkOutInput.value = year + "-" + month + "-" + day;
	    checkOut1.value = year + "-" + month + "-" + day;
	  }
	}
	
	
	
		
</script>



    
</html>