<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
img {
	width:200px;
	height:200px;
}
</style>
</head>
<body>

<h1>이미지 업로드 테스트</h1>
========================================================================<br/>

<b>1. 일반 이미지 띄우기</b><br/>
<img src="/hotel/1_deluxe.jpg"/>


<br/><br/>
-----------------------------------------------------------------
<br/><br/>

<b>2. 2번호텔 스탠다드 이미지 이름을 컨트롤러에서 받아와 띄우기</b><br/>
<!-- 경로 안에 컨트롤러에서 받은 변수값 안의 문자열을 넣을 경우,
앞뒤로 ||로 감싸줘야  경로 구분자인 / 와 표현식 구분자인 ${}가
충돌하지 않고 잘 뜸 -->
<img th:src="@{|/hotel/${test}|}" />

<br/><br/>
-----------------------------------------------------------------
<br/><br/>

<b>3. 4번호텔의 스위트룸 이미지들을 컨트롤러에서 받아와 띄우기</b><br/>

<!-- 타임리프 조건문(th:if)과 반복문(th:each)을 사용, 여기서 detailSweet의 반환값은
[{URL=4_sweet1.jpg}, {URL=4_sweet2.jpg}, {URL=4_sweet3.jpg}]
이므로 주소에 결과를 하나씩 넣기위해 dto.URL로 지정해주면 됨
여기서 dto는 임의로 지정하는 값, for문의 i와 비슷 -->
<div th:if="${#lists.size(detailSweet)}!=null" th:each="dto:${detailSweet}">
	<img th:src="@{|/hotel/${dto.URL}|}" />
</div>

</body>
</html>