<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="ThemeStarz">

    <link href="/assets/fonts/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="/assets/fonts/elegant-fonts.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/zabuto_calendar.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
    <script src="https://kit.fontawesome.com/fe3b2ac5d6.js" crossorigin="anonymous"></script>
    
<style>
    .selectField {
        height: 20px; /* 높이 설정 */
        font-size: 15px; /* 글자 크기 설정 */
        width: 100px; /* 너비 설정 */
    }
</style>

<title>호텔</title>

</head>


<body>
<div class="page-wrapper">
    <div id="page-header">
        <header>
            <div class="container">
                <div class="secondary-nav">
                    <div class="nav-trigger"><a data-toggle="collapse" href="#secondary-nav" aria-expanded="false" aria-controls="secondary-nav"><i class="fa fa-user"></i></a></div>
                    <div id="secondary-nav">
                        <nav>
                            <div class="left opacity-60">
                                <a href=""><i class="fa fa-phone"></i>+1 781-903-1047</a>
                                <a href="mailto:hello@example.com"><i class="fa fa-envelope"></i>hello@example.com</a>
                            </div>
								<!--end left-->
								<div class="right">
									<div class="element"></div>
									<!--end element-->
									<div class="element">
										<a onclick="location.href='/login/login';" data-toggle="modal"
											data-tab="true" data-target="#sign-in-register-modal">로그인</a>
									</div>
									<!--end element-->
									<div class="element">
										<a onclick="location.href='/login/register';"
											data-toggle="modal" data-tab="true"
											data-target="#sign-in-register-modal">회원가입</a>
									</div>
									<!--end element-->
									<div class="element">
										<select>
											<option>고객페이지</option>
											<option>문의게시판</option>
											<option>공지조회</option>
										</select>
									</div>
									<!--end element-->
								</div>
								<!--end right-->
							</nav>
						</div>
					</div>
					<!--end secondary-nav-->
				</div>
				<!--end container-->
				<hr>
				<div class="container">
				
							
						
						<!--end left-->
					
							
							<!--end nav-->
						
						<!--end right-->
				
					<!--end primary-nav-->
				</div>
				<!--end container-->
			</header>
			<!--end header-->
		</div>
		<!--end page-header-->

		<div id="page-content">
			<div class="container">
				<ol class="breadcrumb">
					<li><a href="#">Home</a></li>
					<li><a href="#">Listing</a></li>
					<li class="active">Detail</li>
				</ol>
				<!--end breadcrumb-->
				<div class="row">
					<div class="col-md-3">
						<div class="sidebar">
					<br/>
							<div class="box filter">
								<h2>호텔 검색하기</h2>

					
<form id="searchForm" action="/hotel/hotellist" method="get">
  <div class="form-group">

 </div>
<input type="text" class="form-control input-lg" id="searchValue" name="searchValue" style="width: 100%;" placeholder="검색하세요">
<button type="submit" class="btn btn-primary btn-rounded form-control">검색</button>
</form>


								<!--end form-filter-->
							</div>
							<!--end filter-->
						</div>
						<!--end sidebar-->
					</div>
					<!--end col-md-3-->

				<div class="col-md-9">
                    <div class="main-content">
                        <div class="title">
                            <h1>Listing</h1>
                            <div class="display-selector">
                                <span>Display:</span>
                                <a href="listing.html" class="active" data-toggle="tooltip" data-placement="left" title="Display list"><i class="fa fa-th-list"></i></a>
                                <a href="listing-matrix.html" data-toggle="tooltip" data-placement="left" title="Display matrix"><i class="fa fa-th"></i></a>
                            </div>
                        </div>
                        <!--end title-->

                        <!--end item-->
<div class="item list" th:if="${hotelList1 != null}" th:each="hotel, i : ${hotelList1}">
  
    <div class="image-wrapper">
      <div class="image">

   <a th:href="@{|/detail?hotel_id=${hotel.hotel_id}&pageNum=${currentPage}&searchValue=${hotel.hotel_name}|}" class="wrapper" >
                  <div th:if="${hotelList3 != null}"> 
  <div th:each="hotel3 : ${hotelList3}" th:if="${hotel3.hotel_id == hotel.hotel_id}">
 <img th:src="${hotel3.url}" />

  </div>
</div>
        </a>

        <div class="owl-navigation"></div>
        
      </div>
    </div>
    <div class="description">
      <div class="info">
      
      
      
      <a th:href="@{|/detail?hotel_id=${hotel.hotel_id}&pageNum=${currentPage}&searchValue=${searchValue}|}">
    <h3 th:text="${hotel.hotel_name}"></h3><br/>
</a>
      
      
   
        <figure th:text="${hotel.addr1}"></figure>
        <figure class="label label-info" th:if="${hotel.category} != null" th:text="${hotel.category}"></figure>
        <figure class="label label-info" th:if="${hotel.tel} != null" th:text="${hotel.tel}"></figure>
        
        <!-- hotelList2의 정보 출력 -->
        <div th:if="${hotelList2 != null}">
          <div th:each="hotel2 : ${hotelList2}" th:if="${hotel2.hotel_id == hotel.hotel_id}">
          
<p th:if="${hotel2.hotel_information} != null" th:text="${hotel2.hotel_information}"></p>
<div class="price-info">가격<span class="price">
<a th:if="${hotel2.standard} != null" th:text="${hotel2.standard}"></a>  
<a th:if="${hotel2.sweet} != null" th:text="${hotel2.sweet}"></a>
</span><span class="appendix">/1박</span></div>
        
<div class = "meta">

<a class="btn btn-rounded btn-default btn-framed btn-small basket-btn" id="basketAdd_${hotel.hotel_id}" data-item-id="${hotel.hotel_id}">
  <input class="addBasket" type="hidden" th:id="'hotel_id_' + ${hotel.hotel_id}" th:value="${hotel.hotel_id}" />
  <div class="basketMsg"></div>
  ♡찜하기♡
</a>

        <span><i class="fa fa-star"></i>별점</span>
        <span><i class="fa fa-bed"></i>리뷰 수</span> 
          </div>
        </div>

      </div>

      </div>
    </div>
</div>

    
    
    
    </div>
  </div>
</div>
           
          <div class="center">
    <ul class="pagination">

      <li th:utext="${pageIndexList}"></li>

    </ul>
</div>

                    </div>
                    <!--end main-content-->
                </div>
                <!--end col-md-9-->
            </div>
            <!--end row-->

  

		<footer id="page-footer">
			<div class="row-one">
				<div class="container">
					<div class="logos">
						<div class="logo">
							<a href="#"><img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMTA5MjVfMTQ0%2FMDAxNjMyNTUyODQ5ODc4.xuSspqY6Z7NFKkPxfSAq6Ia_wKnf54EwQhC7aRD4lqIg.EjoXB-JM4wAM1oWpFNkGdJCScYQx3c_oG7IM6pVrHDEg.PNG.daehan4work%2F%25C0%25B0%25C8%25B8.png&type=a340"></a>
						</div>
						<!--/ .logo-->
						<div class="logo">
							<a href="#"><img src="https://lh3.googleusercontent.com/minm0gEmF8YdcwGNHidJnvlw5Hs5ois4_2JcR0J14m-fkFCF1b2tKCeeExKtThr4RpqBrY7mczTy5kJhFvtzWCgq74AKS56SuMCSOTM" alt=""></a>
						</div>
						<!--/ .logo-->
						<div class="logo">
							<a href="#"><img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjA2MjlfMTc5%2FMDAxNjU2NTA1MDMwOTk3.Zh9XFRAQ0Bh8Tq0GJJ52ccHpTSMc5Rh59MQyrfQrJrYg.lm7lWkdtVN4FhqqSl6zNRewK3xRdSPEX_k4_39HotPcg.JPEG.tkddnjs178%2FKakaoTalk_20220628_091948674.jpg&type=a340"></a>
						</div>
					</div>
					<!--/ .logos-->
				</div>
			</div>
			<!--end row-one-->
			<div class="row-two clearfix">
				<div class="container">
					<div class="copyright pull-left">(C) 2016 Your Company, All
						Rights Reserved</div>
					<div class="footer-nav pull-right">
						<a href="index.html">Home</a> <a href="about-us.html">About Us</a>
						<a href="listing.html">Listing</a> <a href="contact-us.html">Contact
							Us</a>
					</div>
				</div>
				<div class="bg-transfer">
					<img src="assets/img/footer-bg.jpg" alt="">
				</div>
			</div>
			<!--end row-two-->
		</footer>
		<!--end page-footer-->
	</div>
	<!--end page-wrapper-->
	<a href="#page-header" class="to-top scroll"
		data-show-after-scroll="600"><i class="arrow_up"></i></a>



<script type="text/javascript" src="/assets/js/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
<script type="text/javascript" src="/assets/js/richmarker-compiled.js"></script>
<script type="text/javascript" src="/assets/js/markerwithlabel_packed.js"></script>
<script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/assets/js/icheck.min.js"></script>
<script type="text/javascript" src="/assets/js/owl.carousel.js"></script>
<script type="text/javascript" src="/assets/js/masonry.pkgd.min.js"></script>

<script type="text/javascript" src="/assets/js/maps.js"></script>
<script type="text/javascript" src="/assets/js/custom.js"></script>


	<!--[if lte IE 9]>
<script src="assets/js/ie.js"></script>
<![endif]-->
</body>

<script type="text/javascript">
  function sendIt() {
    var f = document.getElementById("searchForm");
    f.action = "/hotel/hotelList";
    f.submit();
  };
  
  
  //var basket_num = $(this).closest('.my-item').find('.basket_num').val();

 $(function() {
  $(".basket-btn").on("click", function() {
    var addBasket = $(this).find('.addBasket').val();
    alert(addBasket);
   
    $.ajax({
        url: "addBasket",
        type: "POST",
        data: { addBasket: addBasket },
        success: function(data) {    	
        }
    
 	 });
    
  });
});
  
  
  
  //basketAdd 버튼을 클릭하면 해당 버튼은 숨겨지고, basketRe 버튼은 보이게 됩니다. 그리고 basketRe 버튼을 클릭하면 해당 버튼은 숨겨지고, basketAdd 버튼은 다시 보이게 됩니다.








</script>