<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
<script type="text/javascript" 
	src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=v3i76g652l"></script>
<div id="map" style="width:700px; height:400px;"></div>

<script>

        var map = new naver.maps.Map('map', {
            center: new naver.maps.LatLng(37.5559034, 127.0052509), // 잠실 롯데월드를 중심으로 하는 지도
            zoom: 15
        });

        var marker = new naver.maps.Marker({
            position: new naver.maps.LatLng(37.5559034, 127.0052509),
            map: map
        });

</script>

<script>
    $.datepicker.setDefaults({
        dateFormat: 'yy-mm-dd',
        prevText: '이전 달',
        nextText: '다음 달',
        monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
        monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
        dayNames: ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
        showMonthAfterYear: true,
        yearSuffix: '년'
    });
	
    $(function() {
    	  var today = new Date();
    	  var selectedDate;
    	  var dp1 = jQuery.noConflict();
    	  var dp2 = jQuery.noConflict();
    	  
    	  $("#datepicker1").datepicker({
    	    minDate: today,
    	    onSelect: function(date) {
    	    	selectedDate = new Date(date); // 문자열로 된 날짜를 Date 객체로 변환
    	        selectedDate.setDate(selectedDate.getDate() + 1); // 다음날로 설정
    	        $("#datepicker2").datepicker("option", "minDate", selectedDate); // datepicker2의 minDate 업데이트
    	    }
    	  });
    	  
    	  $("#datepicker2").datepicker({
    		minDate: selectedDate,
    		beforeShow: function(input, inst) {
    	      
    	      if (selectedDate == null) {
    	    	 
    	        alert("체크인 날짜를 먼저 선택해주세요!");
    	        $(this).blur();
    	        return false;
    	      }
    	      
    	    }
    	    
    	  });
    	});

</script>


</head>
<body>
<!-- 컨트롤러에서 전송받은 검색 결과를 출력하는 타임리프 문법 -->

<div>
하하!
<hr/>
</div>




<div th:if="${#lists.size(result)}!=null" th:each="dto:${result}">

		<div th:if="${dto.soldout}=='full'" style="color: #808080;'">
			<img th:src="@{|/hotel/${dto.URL}|}" style="width:100px; height:100px;"/>
			<!-- input박스 안에 th:문으로 받는 문법 -->
			호텔 이름 : <input type="text" th:value="${dto.HOTEL_NAME}" style="text-decoration: line-through;"/><br/>
			<!-- th:문법을 안쓰고 쌩으로 값을 출력하는 문법 -->
			호텔 정보 : [[${dto.HOTEL_INFORMATION}]]<br/>
			<span class="ddd" style="color: red; font-weight: bold;">이 호텔은 만석입니다.</span>
			<br/><br/>
		</div>
		<div th:if="${dto.soldout}=='almost'">
			<img th:src="@{|/hotel/${dto.URL}|}" style="width:100px; height:100px;"/>
			<!-- input박스 안에 th:문으로 받는 문법 -->
			호텔 이름 : <input type="text" th:value="${dto.HOTEL_NAME}" /><br/>
			<!-- th:문법을 안쓰고 쌩으로 값을 출력하는 문법 -->
			호텔 정보 : [[${dto.HOTEL_INFORMATION}]]<br/>
			<span style="color: red; font-weight: bold;">잔여방이 [[${dto.num}]]개 남았습니다. 서두르세요!</span>
			<br/><br/>
		</div>
		<div th:if="${dto.soldout}=='empty'">
			<img th:src="@{|/hotel/${dto.URL}|}" style="width:100px; height:100px;"/>
			<!-- input박스 안에 th:문으로 받는 문법 -->
			호텔 이름 : <input type="text" th:value="${dto.HOTEL_NAME}" /><br/>
			<!-- th:문법을 안쓰고 쌩으로 값을 출력하는 문법 -->
			호텔 정보 : [[${dto.HOTEL_INFORMATION}]]<br/><br/>
		</div>
		
</div>


</body>
</html>