<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}">

<meta charset="UTF-8">

<div layout:fragment="content">


<link rel="stylesheet" type="text/css" href="css/login.css"/>

<div class="login-body">
	<div class="login-container" id="login-container">
		<div class="login-form-container login-sign-in-container">
			<form action="#" name="myForm" method="post" class="login-form">
				<h1 class="login-h1">로그인</h1>
				<div class="login-social-container">
					<a href="/oauth2/authorization/google" class="login-social"><img class="login-img" src="/image/google.png" alt="Google 로고"></a>
					<a href="/oauth2/authorization/kakao" class="login-social"><img class="login-img" src="/image/kakao.png" alt="카카오 로고"></a>
					<a href="/oauth2/authorization/naver" class="login-social"><img class="login-img" src="/image/naver.png" alt="네이버 로고"></a>
				</div>
				<input class="login-input" type="text" name="userid" placeholder="아이디"/>
				<input class="login-input" type="password" name="pwd" placeholder="비밀번호" />
				<br/>
				<p><b><a class="login-a" href="/login/searchId">아이디 찾기</a> &nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp; <a class="login-a" href="/login/searchPwd">비밀번호 찾기</a></b></p>
				<br/>
				<button class="login-button" type="button" onclick="sendIt();">로그인</button>
			</form>
		</div>
		<div class="login-overlay-container">
			<div class="login-overlay">
	
				<div class="login-overlay-panel login-overlay-right">
					<h1 class="login-h1">환영합니다!</h1>
					<p class="login-p" style="color: #fff;">처음 방문하시는 분은 아래 회원가입 버튼을 눌러주세요.</p>
					<button class="login-button-ghost" id="register" onclick="location.href='login/register_select';"> 회원가입 </button>
				</div>
				<div th:if="${fail != null}">
					<script>
						
					</script>
				</div>
			</div>
		</div>
	</div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script type="text/javascript">

	function sendIt() {
		
		var f = document.myForm;
		
		//아이디 입력 오류 메시지
		str_id = f.userid.value;
		str_id = str_id.trim();
		
		if(str_id==""){
			swal({
				  title: "아이디 입력오류",
				  text: "아이디를 입력하세요.",
				  icon: "error",
				  button: "확인",
				});
			event.preventDefault();
			return;
		}
		
		//아이디 입력 오류 메시지
		str_pwd = f.pwd.value;
		str_pwd = str_pwd.trim();
		
		if(str_pwd==""){
			swal({
				  title: "비밀번호 입력오류",
				  text: "비밀번호를 입력하세요.",
				  icon: "error",
				  button: "확인",
				});
			event.preventDefault();
			return;
		}
		

		$.ajax({
	        url: './login/login_check',
	        type: 'post',
	        data: {userid:str_id,pwd:str_pwd},
	        success: function(result) {
	            if(result!="") {
	            	f.action="login/login_ok";
	        		f.submit();
	            }
	            else {
	                swal({
	  				  title: "로그인 오류",
	  				  text: "아이디나 비밀번호가 틀렸습니다.",
	  				  icon: "error",
	  				  button: "확인",
	  				});
	            }
	        },
	    });
		event.preventDefault();
		
	}

</script>


</html>