<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}">

<meta charset="UTF-8">

<div layout:fragment="content">

<link rel="stylesheet" type="text/css" href="css/searchId.css"/>

<style>
@import url('https://fonts.googleapis.com/css?family=Gowun+Batang&display=swap');

.login-social {
	
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 50px;
	width: 50px;

}

.login-img {
	width: 40px;
	height: 40px;
}

.login-p {
	font-size: 16px;
	text-align: center;
}

</style>



<div class="login-body">
	<div class="login-container" id="login-container">
		<div class="login-form-container login-sign-in-container">
			<form action="#" name="myForm" method="post" class="login-form">
				<h1 class="login-h1">회원가입 방식을 <br/>선택해주세요.</h1>
				<br/>
					<p class="login-p">연동 회원가입</p>
					<div>
						<a href="/oauth2/authorization/google" class="login-social"><img class="login-img" src="/image/google.png" alt="Google 로고"></a>
						<a href="/oauth2/authorization/kakao" class="login-social"><img class="login-img" src="/image/kakao.png" alt="카카오 로고"></a>
						<a href="/oauth2/authorization/naver" class="login-social"><img class="login-img" src="/image/naver.png" alt="네이버 로고"></a>
					</div>
					<br>
					<p class="login-p">일반 회원가입</p>
					<div>
						
						<button class="login-button-btn2" onclick="normal();" style="padding:12px 40px;"> 일반 회원가입 </button>
					</div>
					<br>
	
					
			</form>
		</div>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<script type="text/javascript">

	function normal() {
	
		var f = document.myForm;
		f.action="login/terms";
		f.submit();
	
	}


</script>

</body>
</html>