<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}">

<meta charset="UTF-8">

<div layout:fragment="content" class="content-padding">

<link rel="stylesheet" type="text/css" href="css/searchId.css"/>


<style>
@import url('https://fonts.googleapis.com/css?family=Gowun+Batang&display=swap');

.login-container {

	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: auto;
	width: 100%;
	max-width: 400px;
	min-height: 550px;
}

.login-body {

	margin: 70px 0 50px;

}

</style>


<div class="login-body">
	<div class="login-container" id="login-container">
		<div class="login-form-container login-sign-in-container">
			<form action="#" name="myForm" method="post" class="login-form">
				<h1 class="login-h1">비밀번호 찾기</h1>
					<p class="login-p">아이디</p>
				<div class="login-div">
					<input class="login-input" type="text" name="userid" placeholder="아이디를 입력하세요.">
				</div>
					<p class="login-p">이름</p>
				<div class="login-div">
					<input class="login-input" type="text" name="username" placeholder="이름을 입력하세요.">
				</div>
					<p class="login-p">전화번호</p>
				<div class="login-div">
					<input class="login-input" type="text" name="tel1" style="width:24%;"/>
					<span class="login-span">&nbsp;-&nbsp;</span>
					<input class="login-input" type="text" name="tel2" style="width:28%;"/>
					<span class="login-span">&nbsp;-&nbsp;</span>
					<input class="login-input" type="text" name="tel3" style="width:28%;"/>
				</div>
					<br/><br/>
				<div class="login-div">
					<button class="login-button-btn2" onclick="searchPwd();" style="padding:12px 24px;"> 찾기 </button>
					&nbsp;
					<button class="login-button-btn1" onclick="back();" style="padding:12px 20px;"> 뒤로가기 </button>
				</div>
					
			</form>
		</div>
	</div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<script type="text/javascript">

	
	function searchPwd() {
		
		var f = document.myForm;
		
		//영어 혹은 영어+숫자 강제 정규화 표현식
		var alphanumeric = /^[a-zA-Z]+[a-zA-Z0-9]*$/;
		//한글 강제 정규화 표현식
		var koreanOnly = /^[가-힣]+$/;
		
		var event = window.event || arguments.callee.caller.arguments[0];
		
		
		
		//아이디 입력 오류 메시지
		str_id = f.userid.value;
		str_id = str_id.trim();
		
		if(str_id==""){
			swal({
				  title: "아이디 입력오류",
				  text: "아이디를 입력하세요.",
				  icon: "error",
				  button: "확인",
				});
			event.preventDefault();
			return;
		}
		
		if(str_id.length < 4){
			swal({
				  title: "아이디 입력오류",
				  text: "아이디는 4글자 이상 입력해주세요.",
				  icon: "error",
				  button: "확인",
				});
			event.preventDefault();
			return;
		}
		
		if(!alphanumeric.test(str_id)){
			swal({
				  title: "아이디 입력오류",
				  text: "아이디는 영어 혹은 영어+숫자만 입력해주세요.",
				  icon: "error",
				  button: "확인",
				});
			event.preventDefault();
			return;
		}
		
		
		
		//이름 입력 오류메시지
		str_name = f.username.value;
		str_name = str_name.trim();
		
		if(str_name==""){
			swal({
				  title: "이름 입력오류",
				  text: "이름을 입력하세요.",
				  icon: "error",
				  button: "확인",
				});
			event.preventDefault();
			return;
		}
		
		if(!koreanOnly.test(str_name)){
			swal({
				  title: "이름 입력오류",
				  text: "이름은 한글만 입력 가능합니다.",
				  icon: "error",
				  button: "확인",
				});
			event.preventDefault();
			return;
		}
		
		//전화번호 입력 오류메시지
		str_tel1 = f.tel1.value;
		str_tel1 = str_tel1.trim();
		str_tel2 = f.tel2.value;
		str_tel2 = str_tel2.trim();
		str_tel3 = f.tel3.value;
		str_tel3 = str_tel3.trim();
		
		if(str_tel1=="" || str_tel2=="" || str_tel3==""){
			
			swal({
				  title: "전화번호 입력오류",
				  text: "전화번호를 입력하세요.",
				  icon: "error",
				  button: "확인",
				});
			event.preventDefault();
			return;
		}
		
		$.ajax({
	        url: './login/pwdSearch',
	        type: 'post',
	        data: {userid:str_id,username:str_name,tel1:str_tel1,tel2:str_tel2,tel3:str_tel3},
	        success: function(result) {
	            if(result!="") {
	            	swal({
	            		title: "비밀번호 찾기 성공",
	            		text: "회원님의 비밀번호는 [ " + result + " ] 입니다.",
	            		icon: "success",
	            		button: "로그인하기",
	            		}).then(function() {
			                f.action="login/login";
			                f.submit();
	            		});
	            }
	            else {
	                swal({
	  				  title: "비밀번호 찾기 오류",
	  				  text: "입력하신 정보로 비밀번호를 찾을 수 없습니다. 틀린 문항이 있는지 다시 한 번 확인해보세요.",
	  				  icon: "error",
	  				  button: "확인",
	  				});
	            }
	        },
	    });
	event.preventDefault();
		
	
	}


	function back() {
		
		var f = document.myForm;
		f.action="login/back";
		f.submit();
		
	}

</script>



</html>