<!DOCTYPE html>
<html>
<head>
<base href="/" />
<meta charset="UTF-8">
<title>아이디 찾기</title>
<link rel="stylesheet" type="text/css" href="css/searchId.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- 별도의 script도 생성 -->
<style>
@import url('https://fonts.googleapis.com/css?family=Gowun+Batang&display=swap');

.swal-text {
    text-align: center;
}

.swal-footer {
	text-align: center;
}

</style>

<script type="text/javascript">

	function sendIt() {
		
		var f = document.myForm;
		
		//영어+숫자 혼합 강제 정규화 표현식
		var alphanumeric = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]+$/;
		//한글 강제 정규화 표현식
		var koreanOnly = /^[가-힣]+$/;
		
		var event = window.event || arguments.callee.caller.arguments[0];
		
		//이름 입력 오류메시지
		str_name = f.username.value;
		str_name = str_name.trim();
		
		if(str_name==""){
			swal({
				  title: "이름 입력오류",
				  text: "이름을 입력하세요.",
				  icon: "error",
				  button: "확인",
				});
			event.preventDefault();
			return;
		}
		
		
		if(!koreanOnly.test(str_name)){
			swal({
				  title: "이름 입력오류",
				  text: "이름은 한글만 입력 가능합니다.",
				  icon: "error",
				  button: "확인",
				});
			event.preventDefault();
			return;
		}
		
		//전화번호 입력 오류메시지
		str_tel1 = f.tel1.value;
		str_tel1 = str_tel1.trim();
		str_tel2 = f.tel2.value;
		str_tel2 = str_tel2.trim();
		str_tel3 = f.tel3.value;
		str_tel3 = str_tel3.trim();
		
		if(str_tel1=="" || str_tel2=="" || str_tel3==""){
			
			swal({
				  title: "전화번호 입력오류",
				  text: "전화번호를 입력하세요.",
				  icon: "error",
				  button: "확인",
				});
			event.preventDefault();
			return;
		}
		
		$.ajax({
	        url: './login/useridSearch',
	        type: 'post',
	        data: {username:str_name,tel1:str_tel1,tel2:str_tel2,tel3:str_tel3},
	        success: function(result) {
	            if(result!="") {
	            	swal({
	            		title: "아이디 찾기 성공",
	            		text: "회원님의 아이디는 [ " + result + " ] 입니다.",
	            		icon: "success",
	            		button: "로그인하기",
	            		}).then(function() {
			                f.action="login/login";
			                f.submit();
	            		});
	            }
	            else {
	                swal({
	  				  title: "아이디 찾기 오류",
	  				  text: "입력하신 정보로 아이디를 찾을 수 없습니다. 틀린 문항이 있는지 다시 한 번 확인해보세요.",
	  				  icon: "error",
	  				  button: "확인",
	  				});
	            }
	        },
	    });
		event.preventDefault();
		
		
	}



	function back() {
		
		var f = document.myForm;
		f.action="login/back";
		f.submit();
		
	}

</script>


</head>
<body>


<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form action="#" name="myForm" method="post">
			<h1>아이디 찾기</h1>
			<br/>
				<p>이름</p>
				<div>
				<input type="text" name="username" placeholder="이름을 입력하세요.">
				</div>
				<p>전화번호</p>
				<div>
				<input type="text" name="tel1" style="width:19%;"/>
				-
				<input type="text" name="tel2" style="width:19%;"/>
				-
				<input type="text" name="tel3" style="width:19%;"/>
				</div>
				<br>
			<div>
				<button class="btn2" onclick="sendIt();" style="padding:12px 24px;"> 찾기 </button>
				&nbsp;
				<button class="btn1" onclick="back();" style="padding:12px 20px;"> 뒤로가기 </button>
			</div>
				
		</form>
	</div>
</div>



<footer>
	<p>
		footer자리..
	</p>
</footer>

</body>
</html>