<!DOCTYPE html>
<!-- 경로가 templates/layout/layout.html을 상속받아야 하므로 -->
<html layout:decorate="~{/layout/layout}">

<meta charset="UTF-8">

<div layout:fragment="content" class="content-padding">
<!-- 대충 이자리에 개별 CSS가 있다면 선언 -->

<style>
@import url('https://fonts.googleapis.com/css?family=Gowun+Batang&display=swap');

dd,dt,td {
	font-family: 'Gowun Batang', sans-serif;
}
</style>


<!-- 이자리에 html 가운데 코드 작성 -->
<div class="page-wrapper">

    <div id="page-content">
        <div class="container">
            
            <div class="row">
                
                <div class="col-md-9">
                    <div class="main-content">
                    
                    <h1 style="width: 80%; margin-left: 250px; ">결제내역</h1>
                    <br/>
                       	<div class="box filter" style="width: 80%; margin-left: 250px; background: white; padding-bottom: 0">
                       	
                        <section id="choose-a-package " cellspacing="0">
                            
                            <div class="table-responsive pricing-table">
                                <table class="table">
                                        <tr>
                                        	<td><dt style="font-size: 21px">예약번호</dt></td>
                                            <td><dd><td th:text="${resDto.res_num}" style="font-size: 21px"></td></dd></td>
                                        </tr>
                                        <tr>
                                        	<td><dt style="font-size: 21px">호텔이름 / 방 종류</dt></td>
                                            <td><dd><td th:text="${resDto.hotel_name + ' / ' + resDto.room + '룸'}" style="font-size: 21px"></td></dd></td>
                                            
                                        </tr>
                                        <tr>
                                        	<td><dt style="font-size: 21px">체크인 / 체크아웃 날짜</dt>
                                            <!-- <td><dd><td th:utext="${#dates.format(resDto.check_in, 'yyyy/MM/dd')}" style="font-size: 21px"></td></dd></td> -->
                                            <td><dd><td th:text="${#dates.format(resDto.check_in, 'yyyy/MM/dd') + ' ~ ' + #dates.format(resDto.check_out, 'yyyy/MM/dd')}" style="font-size: 21px"></td></dd></td>
                                        </tr> 
                                        <tr>
                                        	<td><dt style="font-size: 21px">체크인 / 체크아웃 시간</dt>
                                            <td><dd><td th:text="${check_inTime + ' / ' + check_outTime}" style="font-size: 21px"></td></dd></td>
                                        </tr>
                                        <tr>
                                        	<td><dt style="font-size: 21px">예약인원</dt>
                                            <td><dd><td th:text="${resDto.people}+'명'" style="font-size: 21px"></td></dd></td>
                                        </tr>
                                        <tr>
                                        	<td><dt style="font-size: 21px">숙박일수</dt>
                                            <td><dd><td th:text="${payDto.date_num}+'일'" style="font-size: 21px"></td></dd></td>
                                        </tr>
                                </table>
                            </div>
                            <!--end pricing-table-->
                            
                        </section>
                        </div>
                        
                        
                        
                        <br/><br/>
                        
                        
                        <div class="box filter" style="width: 80%; margin-left: 250px; background: #dcdcdc; padding-bottom: 0">
						
                        <section id="choose-a-package " >
                            
                            <div class="table-responsive pricing-table" >
                                <table class="table">
                                    
                                    <tbody>
                                    	 <tr>
                                    	 	<td><dt style="font-size: 40px; margin-left: 140px; color: gray;">결제가 완료되었습니다!</dt>
                                    	 </tr>
                                    	 <tr>
                                        	<td><dt style="font-size: 21px">결제번호</dt></td>
                                            <td><dd><td th:text="${payDto.pay_num}" style="font-size: 21px"></td></dd></td>
                                        </tr>
                                        <tr>
                                        	<td><dt style="font-size: 21px">가격</dt></td>
                                            <td><dd><td th:text="${#numbers.formatInteger(payDto.price, 0, 'COMMA')+'원'}"  style="font-size: 21px"></td></dd></td>
                                        </tr>
                                        <tr>
                                        	<td><dt style="font-size: 21px">결제상태</dt></td>
                                            <td><dd><td th:text="${resDto.status}" style="font-size: 21px"></td></dd></td>
                                        </tr>
                                        
                                        
                                    </tbody>
                                </table>
                            </div>
                            <!--end pricing-table-->
                            
                        </section>
                        </div>
                        
                        <!-- a href="/paymentPage" class="button" style=" font-size: 18px;">메인으로</a> -->
                        
                        
                        <button style="width: 110px; height: 50px; margin: 3%; margin-left: 63%; font-size: 17px;" 
                        class="btn btn-framed btn-small btn-default btn-rounded"
                        onclick="location.href='/hotel/main'" type="button">메인으로</button>
                        
                        
                    </div>
                    <!--end main-content-->
                </div>
                <!--end col-md-9-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </div>
    <!--end page-content-->
</div>
<!--end page-wrapper-->

<!-- 세션값 불러오는 방법 : [[${session.sessionUser}]]</h1> -->



<!-- 대충 이자리에 개별 JS가 있다면 선언 -->

<!-- 이자리에 js 스크립트 코드 작성 -->



</html>