<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}">
<meta charset="UTF-8">
<div layout:fragment="content" class="content-padding">

<style>
@import url('https://fonts.googleapis.com/css?family=Gowun+Batang&display=swap');

dd,dt,td {
	font-family: 'Gowun Batang', sans-serif;
}
</style>

	    <div id="page-content">
        <div class="container">
            <ol class="breadcrumb" style="margin-left: -30px">
                
            </ol>
            <!--end breadcrumb-->
            
            <!-- /payment/payment_ok -->
            
            <div ><!-- class="row" -->
            
                <div class="col-md-9">
                
                    <div class="main-content" >
                    
                     <h2 style="font-size: 40px;">결제페이지</h2>
                        <!--end title-->
                        <article class="blog-post" style="margin-top: 50px;">
                            
                            <h2 style="font-size: 25px">예약자 정보</h2>
                            
                                <div class="review">
                                   <div class="row">
                                       <!--end col-md-3-->
                                       <div style="width: 80%; ">
                                       
                                           <div class="comment">
                                               <div class="comment-title">
                                                   <h4 style="font-size: 30px; font-family: 'Gowun Batang', sans-serif; font-weight: bold;">
													<td>예약자 성명 : [[${username}]]</td>
												</h4>
                                               </div>
											<dl class="visitor-rating">
												<dt style="font-size: 18px; font-weight: bold;">사용자 ID</dt>
												<dd style="font-size: 18px"><td th:text="${userid}"></td></dd>
												<dt style="font-size: 18px; font-weight: bold;">사용자 전화번호</dt>
												<dd style="font-size: 18px"><td th:text="${tel}"></dd>
												<dt style="font-size: 18px; font-weight: bold;">사용자 이메일</dt>
												<dd style="font-size: 18px"><td th:text="${email}"></dd>
											</dl>
                                           </div>
                                   		</div>
                                   		
                                   </div>
                               </div>

                            <br/><br/><br/>
							<h2 style="font-size: 28px">숙박 시설 정보</h2>
							
                        <div th:each="testItem : ${hotelInfo}" >
                         <div class="review">
                            <div class="row">
                                <!--end col-md-3-->
                                <div style="width:80% ">
                                    <div class="comment">
                            	    <h4 style="font-size: 30px; font-family: 'Gowun Batang', sans-serif; font-weight: bold;">
                                        <dd>숙박 시설명 : [[${testItem.HOTEL_NAME}]]</dd>
                                    </h4>
                                    	
                                    	
                                    	<!-- 여길 기준으로 반복문 돌려보자 -->
                                       <div class="comment-title">
										<!-- comment-title가 밑줄 보인다  -->
                                        
                                       </div>
                                        
                                        
                        		<div class="col-md-6">
                                    <div class="pay-member">
                                        <div th:if="${#lists.size(hotelTitle)}!=null" th:each="dto:${hotelTitle}">
                                        	<img th:src="@{|/hotel/${dto.URL}|}" alt="title"  width="280" height="210"/>
                                        </div>
                                        <div class="description">
                                            
                                            <div class="info">
                                                <dl>
                                                    
                                                </dl>
                                            </div>
                                            <!--end info-->
                                        </div>
                                        <!--end description-->
                                    </div>
                                    <!--member-->
                                </div>
                        				
                                        <dl class="visitor-rating">
                                            
                                            <dt style="font-size: 18px"><b>방 종류</b></dt>
                                            <dd style="font-size: 18px"><td th:text="${room}"></td></dd>
                                            
                                            <dt style="font-size: 18px"><b>체크인 날짜</b></dt>
											<dd style="font-size: 18px"><td th:text="${#dates.format(check_in, 'yyyy/MM/dd')}"></td></dd>
											<dt style="font-size: 18px"><b>체크아웃 날짜</b></dt>
											<dd style="font-size: 18px"><td th:text="${#dates.format(check_out, 'yyyy/MM/dd')}"></td></dd>
                                            
                                            <dt style="font-size: 18px"><b>숙박 인원</b></dt>
                                            <dd style="font-size: 18px"><td th:text="${people}+'명'"></td></dd>
                                            
                                            <dt style="font-size: 18px"><b>숙박 일수</b></dt>
                                            <dd style="font-size: 18px"><td th:text="${date_num}+'일'"></td></dd>
                                            
                                            <dt style="font-size: 18px"><b>금액</b></dt>
                                            <dd style="font-size: 18px"><td th:text="${#numbers.formatInteger(price, 0, 'COMMA')} + '원'"></td></dd>
                                            
                                            <br/><br/>
                                            <form action="" name="success" method="post" autocomplete="off">
            								
                                        	<dt style="padding-left: 19px; font-size: 21px; margin-bottom: 10px; margin-top: 20px;" ><b>요청사항</b></dt>
                                        	<dd><textarea id="request1" name="request1" cols="86" rows="4" style="resize: none;"></textarea></dd>
            
											<input type="hidden" id="hotel_name" name="hotel_name" th:value="${hotel_name}" />
											<input type="hidden" id="room"  name="room" th:value="${room}" />
											<input type="hidden" id="price"  name="price" th:value="${price}" />
											<input type="hidden" id="date_num" name="date_num" th:value="${date_num}" />
											<input type="hidden" id="people" name="people" th:value="${people}" />
											
											<input type="hidden" id="hotel_id" name="hotel_id" th:value="${hotel_id}"/>
											<input type="hidden" id="category" name="category" th:value="${category}"/>
											<input type="hidden" id="method" name="method" th:value="${method}"/>
											
											<input type="hidden" id="check_in" name="check_in" th:value="${#dates.format(check_in, 'yyyy/MM/dd')}"/>
											<input type="hidden" id="check_out" name="check_out" th:value="${#dates.format(check_out, 'yyyy/MM/dd')}"/>
											
											<input type="hidden" id="maxPayNum" name="maxPayNum" th:value="${maxPayNum}"/>
											<input type="hidden" id="maxResNum" name="maxResNum" th:value="${maxResNum}"/>
											<input type="hidden" id="tel" name="tel" th:value="${tel}"/>
											
											<input type="hidden" id="username" name="username" th:value="${username}"/>
											<input type="hidden" name="userid" id="userid" th:value="${userid}"/>
											
											<input type="hidden" name="hotel_id" id="hotel_id" th:value="${hotel_id}"/>
											
											
									        </form>
                                        </dl>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        
                        
                        <!-- Pagination -->
                        <div class="center">
                            <ul class="pagination">
                                
                            </ul>
                            <!-- end pagination-->
                        </div>
                        <!-- end center-->
                    </div>
                    <!--end main-content-->
                    
                    
                </div>
                <!--end col-md-9-->
                         
                <!-- <div class="col-md-3" style="margin-top:-35px;"> -->
                <div class="col-md-3" style="margin-left:-83px; margin-top: 100px">
                		
                    <br/><br/>
                    <div class="sidebar" >
                    <div class="box filter">
                    
                        <h2 style="font-size: 21px">예약 상세 정보</h2>
                        <ul class="pay-links">
                        	
                            <dt style="font-size: 18px">호텔 이름</dt>
							<dd style="font-size: 14px"><td th:text="${hotel_name}"></td></dd>
							<br/>
							
                            <dt style="font-size: 18px">카테고리</dt>
							<dd style="font-size: 14px"><td th:text="${category}"></td></dd>
							<br/>
							
							<dt style="font-size: 18px">체크인 날짜</dt>
							<dd style="font-size: 14px"><td th:text="${#dates.format(check_in, 'yyyy/MM/dd')}"></td></dd>
							<br/>
							<dt style="font-size: 18px">체크아웃 날짜</dt>
							<dd style="font-size: 14px"><td th:text="${#dates.format(check_out, 'yyyy/MM/dd')}"></td></dd>
							<br/>
							
							<dt style="font-size: 18px">체크인    /    체크아웃</dt>
							<dd style="font-size: 14px" th:text="${check_inTime + ' / ' + check_outTime}"></dd>
							<br/>
							
							<dt style="font-size: 18px">방 종류</dt>
							<dd style="font-size: 14px"><td th:text="${room}"></td></dd>
							<br/>
							
							<dt style="font-size: 18px">가격</dt>
							<dd style="font-size: 14px"> 총  <td th:text="${#numbers.formatInteger(price * date_num, 0, 'COMMA')}"></td>원</dd>
							<br/>
							<dt style="font-size: 18px">숙박일수</dt>
							<dd style="font-size: 14px"> 총  <td th:text="${date_num}"></td>일</dd>
							<br/>
							<dt style="font-size: 18px">예약인원</dt>
							<dd style="font-size: 14px"> 총  <td th:text="${people}" ></td>명</dd>
                        </ul>
                       	
                       	<br/><br/>
                        <button style="width: 200px; height: 50px; margin: 3%; font-size: 20px;" class="btn btn-primary btn-rounded scroll" onclick="requestPay();" type="button">결제하기</button>
                        </div>
                    </div>
                    <!--end sidebar-->
                </div>
                <!--end col-md-3-->
            </div>
            <!--end row-->
            

            
        </div>
        <!--end container-->
    </div>
    
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
        
<script>
let hotel_name = document.getElementById("hotel_name").value;
let price = document.getElementById("price").value;
let username = document.getElementById("username").value;
let tel = document.getElementById("tel").value;
let maxPayNum = document.getElementById("maxPayNum").value;

	const IMP = window.IMP;
	IMP.init('imp58462278');
	
    function requestPay() {
    	let request1 = document.getElementById("request1").value;
    	
        IMP.request_pay({
        	pg : 'html5_inicis.INIpayTest',
            pay_method : 'card',
            merchant_uid: 57008833-33248,
         	// 사용한 값 33001~247
         	// 일일이 수정해주면서 값을 늘려주는 수밖에...
            name : hotel_name,
            amount : 100,
            buyer_email : null,
            buyer_name : username,
            buyer_tel : tel
            //custom_data : request1
            
        }, function (rsp) {
            if (rsp.success) {  

                
                success.action = "/payment/payment_ok";
                
                success.submit();
                
            } else {
            	
            }
            
        });

    }
</script>
    

</html>