
<!DOCTYPE html>
<html lang="en">
<head>
<!-- jQuery -->
<script type="text/javascript"
	src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<!-- iamport.payment.js -->
<script type="text/javascript"
	src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>

<script>
        function requestPay(pg_provider, mode, payment_method) {
        	
            var IMP = window.IMP; 
            IMP.init("imp58462278"); 
			
        	const data = {
	            pg : 'kicc.T5102001',
	            pay_method : 'card', 
	            merchant_uid: "57008833-33009",
	            // 사용한 값 33001,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,
	            // 21,22,23,24,25,26,27.28,29 31,32,33,34,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50
	            // 51,52,53,54
	            name : '당근 10kg',
	            amount : 1004, // 여기 입력된 값 만큼 실제 돈이 나간다
	            buyer_email : null,
	            buyer_name : '포트원 기술지원팀',
	            buyer_tel : '010-1234-5678',
	            buyer_addr : '서울특별시 강남구 삼성동',
	            buyer_postcode : '123-456'
        	};
        	
        	IMP.request_pay(data, response => {
        		alert('callback: ' + JSON.stringify(response));
        		
        		jQuery.ajax({
        			url: "/payment/callback_recieve",
        			method:"POST",
        			headers: {"Content-Type": "application/json"},
        			data: JSON.stringify(response)
        		}).done(function (data){
        			alert("결제 결과 페이지 확인 요망")
        		})
        	});
        }
</script>
<meta charset="UTF-8">
<title>유튜브 따라한 API TEST</title>
</head>
<body>
	<button onclick="requestPay()">결제 테스트</button>
	<!-- 결제하기 버튼 생성 -->
</body>
</html>