<!DOCTYPE html>
<!-- 경로가 templates/layout/layout.html을 상속받아야 하므로 -->
<html layout:decorate="~{/layout/layout}">

<meta charset="UTF-8">

<div layout:fragment="content" class="content-padding">



<h1>콘텐트 자리[[${session.sessionUser}]]</h1>


<ul class="comments" >
    <li th:each="anw : ${anwLists}" >
        <ul class="comments-child" >
            <li class="comment">
            <div class="box filter" style="background-color: #e5e5e5; width: 520px; font-size: 18px">
                <div class="comment-wrapper">
                    <tr>작성자&nbsp;&nbsp;<td th:text="${anw.userid}"></td></tr>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <tr>작성일시&nbsp;<td th:text="${#dates.format(anw.created,'yyyy/MM/dd')}"></td></tr><hr/>
                    <tr style="font-size: 20px">답변내용<br/><br/><td th:text="${anw.content}"></td></tr>
                </div>
            </div>
            </li>
        </ul>
    </li>
</ul>



</div>


</html>