<!DOCTYPE html>
<!-- 경로가 templates/layout/layout.html을 상속받아야 하므로 -->
<html layout:decorate="~{/layout/layout}">
<meta charset="UTF-8">

<div layout:fragment="content" class="content-padding">



<!-- 이자리에 html 가운데 코드 작성 -->



<div class="myPage">
    <div class="sidebar" style="margin: 50px 0 50px; width: 17%; min-width: 250px; ">
        <div class="box filter">
            <h2>마이페이지</h2>
            <ul class="links">
                <li><a href="mypage/mypage">내정보</a></li>
                <li><a href="mypage/basket">호텔 찜 목록</a></li>
                <li><a href="mypage/my_reservation">예약내역</a></li>
                <li><a href="mypage/delete">회원탈퇴</a></li>
            </ul>
           	<hr/>
            <h2>더보기</h2>
            <ul class="links">
                <li><a href="mypage/mypage">공지사항</a></li>
                <li class="active"><a href="inquiry/inquiryList">문의게시판</a></li>
                <li><a href="mypage/mypage">메뉴1</a></li>
                <li><a href="mypage/delete">메뉴2</a></li>
            </ul>
        </div>
        <!--end filter-->
    </div>
    <!--end sidebar-->
    <div id="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-9"  style="margin-left: 30px;">
                    <div class="main-content">
                    <div class="col-md-9">
                        <h1><h1 style="color: grey; margin-top: 50px;">문의게시판</h1></h1>
                        <!--end title-->
                        <article class="box filter" style="background-color: white; width: 620px;">
						<table>
							<tr th:each="dto : ${dto}">
							   <td th:text="${dto.subject}" style="font-size: 40px"></td>
							   <td style="vertical-align: top; text-align: right; ">
							    <div th:text="${dto.userid}" style="font-size: 19px; margin-left: 450px"></div>
							    <div th:text="${#dates.format(dto.created, 'yyyy/MM/dd')}" style="font-size: 16px"></div>
							   </td>
							 </tr>
						 </table>
						 
						 
                         <hr/>
                         <table style="font-size: 30px">
                        	<tr th:each="dto : ${dto}" >
                                <tr><td th:text="${dto.context}"></td></tr>
                            </tr>
                            
                         </table>
                         
                         <br/><br/><br/>
                         
                         <input type="button" value=" 수정 " class="btn btn-framed btn-small btn-default btn-rounded"
								th:onclick="'location.href=\'inquiryUpdate?num=' + @{${dto.inq_num }} + '&' + @{${params }} +'\''"
								style="font-size: 13px"/>
								
								
						 <input type="button" value=" 삭제 " class="btn btn-framed btn-small btn-default btn-rounded"
								th:onclick="'location.href=\'deleted_ok?num=' + @{${dto.inq_num }} + '&' + @{${params }} +'\''"
								style="font-size: 13px"/>
						
						 <input type="button" value=" 리스트 " class="btn btn-framed btn-small btn-default btn-rounded"
								th:onclick="'location.href=\'inquiry/inquiryList?num=' + @{${dto.inq_num }} + '&' + @{${params }} +'\''"
								style="font-size: 13px"/>
                        
                        </article><!-- /.blog-post-listing -->
                        
                        <br/>
                        <section >
                        <div id="anwLists">
                            <div th:replace="~{/inquiry/answeredList :: anwLists}"></div>
                        </div>
                        </section>
                        
                        
                        
                        
                        <section id="leave-reply">
                            <header><h2 class="no-border">Leave a Reply</h2></header>
                            <form action="" name="answerForm" method="post" autocomplete="off">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form-blog-reply-name">Your ID<em>*</em></label>
                                            <input type="text" class="form-control" id="userid" td:value="${dto.userid}" required>
                                        </div><!-- /.form-group -->
                                    </div><!-- /.col-md-6 -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form-blog-reply-email">Your NAME<em>*</em></label>
                                            <input type="text" class="form-control" id="username" td:value="${dto.username}" required>
                                        </div><!-- /.form-group -->
                                    </div><!-- /.col-md-6 -->
                                </div><!-- /.row -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="form-blog-reply-message">Your Message<em>*</em></label>
                                            <textarea class="form-control" rows="5" id="content" resize="none" required ></textarea>
                                        </div><!-- /.form-group -->
                                    </div><!-- /.col-md-12 -->
                                </div><!-- /.row -->
                                <div class="form-group clearfix">
                                    <input type="button" value=" 등록하기 " class="btn btn-primary btn-rounded scroll" id="sendAnswer"/>
                                </div><!-- /.form-group -->
                                <div id="form-rating-status"></div>
                                
                                <input type="hidden" name="inq_num" id="inq_num" th:value="${dto.inq_num}"/>          
                                <input type="hidden" name="pageNum" id="pageNum" th:value="${pageNum}"/>                       
                                
                                </form>
                                
                        </section>
                        
                        
                        
                    </div>
                    <!--end main-content-->
                </div>
                <!--end col-md-9-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </div>
    <!--end page-content-->
</div>
<!--end page-wrapper-->

</div>


</html>


<script type="text/javascript">


$(function(){
	listPage(1);
});

$("#sendAnswer").click(function(){
	
	var params = "userid=" + $("#userid").val()
				+ "&username=" + $("#username").val()
				+ "&inq_num=" + $("#inq_num").val()
				+ "&pageNum=" + $("#pageNum").val()
				+ "&content=" + $("#content").val();
	
	$.ajax({
	    type: "post",
	    url: "/inquiryAnswer",
	    data: params,
	    success: function(data) {
	    	console.log(data);
	    	
	        $("#anwLists").html(data);
	        $("#anwLists").load(location.href + " #anwLists>*", "");
	        
	        $("#username").val("");
	        $("#userid").val("");
	        $("#content").val("");
	        
	        
	     	// location.reload(true);
	     	// refreshData();
	        
	    },
	    
	    beforeSend: showRequest,
	    error: function(e) {
	        alert(e.responseText);
	    }
	});
	
});


function refreshData() {
    $.ajax({
        type: "get",
        url: "/answeredList",
        success: function(data) {
            $("#anwLists").html(data);
        },
        error: function(e) {
            alert(e.responseText);
        }
    });
}









function showRequest() {
	
	var username = $.trim($("#username").val());
	var userid = $.trim($("#userid").val());
	var content = $.trim($("#content").val());
	
	if(!userid){
		alert("\아이디를 입력하시오");
		$("#userid").focus();
		return false;
	}
	
	if(!username){
		alert("\n이름을 입력하시오");
		$("#username").focus();
		return false;
	}
	
	if(!content){
		alert("\n내용을 입력하시오");
		$("#content").focus();
		return false;
	}
	
	return true;
	
}


	
</script>











