<!DOCTYPE html>
<!-- 경로가 templates/layout/layout.html을 상속받아야 하므로 -->
<html layout:decorate="~{/layout/layout}">

<meta charset="UTF-8">

<div layout:fragment="content" class="content-padding">

<style>
@import url('https://fonts.googleapis.com/css?family=Gowun+Batang&display=swap');

</style>

<div class="myPage">
    <div class="sidebar" style="margin: 50px 0 50px; width: 17%; min-width: 250px;">
        <div class="box filter">
            <h2>마이페이지</h2>
            <ul class="links">
                <li><a href="mypage/mypage">내정보</a></li>
                <li><a href="mypage/basket">숙소 찜 목록</a></li>
                <li><a href="mypage/my_reservation">예약내역</a></li>
                <li><a href="mypage/delete">회원탈퇴</a></li>
            </ul>
           	<hr/>
            <h2>더보기</h2>
            <ul class="links">
                <li><a href="notice/noticeList">공지사항</a></li>
                <li class="active"><a href="inquiry/inquiryList">문의게시판</a></li>
                <li><a href="mypage/mypage">메뉴1</a></li>
                <li><a href="mypage/delete">메뉴2</a></li>
            </ul>
        </div>
        <!--end filter-->
    </div>
    <!--end sidebar-->
    
    
	<form action="/inquiryUpdate_ok" name="inquryForm" method="post" autocomplete="off">
	    

	        
			    <div id="page-content" style="width: 30px;">
			        <div class="container" style="margin-left: 70px;">
			            <div class="row">
			                <div class="col-md-9">
			                    <div class="main-content">
			                        
			                        <section>
			                                <h1 style="color: grey; margin-top: 40px; margin-bottom: 40px;">문의하기 </h1>
			                                
			                                <div class="row">
			                                    <div class="col-md-6">
			                                    	<div class="form-group">
			                                            <label for="form-contact-name" style="font-family: 'Gowun Batang', sans-serif; opacity: 1px; font-weight: bold;">문의 제목</label>
			                                            <input type="text" class="form-control" id="subject" name="subject" placeholder="제목" th:value="${dto.subject}" >
			                                        </div>
			                                    </div>
			                                    <!--end col-md-6-->
			                                    
			                                    <div class="col-md-6">
			                                        <div class="form-group">
			                                            <label for="form-submit-title" style="font-family: 'Gowun Batang', sans-serif; opacity: 1px; font-weight: bold;">문의 유형</label>
									                  <select class="framed" style="width: 110px; height:40px; border-radius:14px; padding-left: 10px;
									                  font-family: 'Gowun Batang', sans-serif; opacity: 1px; font-weight: bold;"
									                  name="selectbox" onchange="document.getElementById('inq_cate').value=this.value;">
													    <option value="" style="font-family: 'Gowun Batang', sans-serif; opacity: 1px; font-weight: bold;">유형 선택</option>
													    <option th:value="Inquiry" style="font-family: 'Gowun Batang', sans-serif; opacity: 1px; font-weight: bold;">문의</option>
													    <option th:value="Question" style="font-family: 'Gowun Batang', sans-serif; opacity: 1px; font-weight: bold;">요청</option>
													    <option th:value="Request" style="font-family: 'Gowun Batang', sans-serif; opacity: 1px; font-weight: bold;">건의</option>
													  </select>
													  <input type="hidden" name="inq_cate" id="inq_cate" th:value="${dto.inq_cate}" />
			                                        </div>
			                                    </div>
			                                    <!--end col-md-6-->
			                                    
			                                </div>
			                                <!--end row-->
			                                <div class="row">
									            <div class="col-md-7">
									                <div class="form-group">
									                    <label for="form-submit-description" style="font-family: 'Gowun Batang', sans-serif; opacity: 1px; font-weight: bold;">문의사항</label>
									                    <textarea class="form-control" style="width: 550px; resize:none;"
									                    	rows="10" name="context"  id="context" 
									                    	th:value="${dto.context}" th:text="${dto.context}" ></textarea>
									                </div>
									                <!--end form-group-->
									                
									                <button style="width: 120px; height: 45px; font-size: 21px; margin: 3%;
									                border: 2px solid rgba(31, 31, 31, 0.2); border-radius: 14px;" class="btn btn-primarybtn-rounded scroll" 
									                 type="submit" onclick="updateList">수정하기</button>
									                <button style="width: 120px; height: 45px; font-size: 21px; margin: 3%;
									                border: 2px solid rgba(31, 31, 31, 0.2); border-radius: 14px;" class="btn btn-primarybtn-rounded scroll" 
									                 onclick="location.href='/inquiry/inquiryList'" type="button">돌아가기</button>
									            </div>
									        </div>
									        <!--end row-->
			                        </section>
			                    </div>
			                    <!--end main-content-->
			                </div>
			                <!--end col-md-9-->
			            </div>
			            <!--end row-->
			        </div>
			        <!--end container-->
			    </div>
			    <!--end page-content-->
			
			
	    
	    
	    
	    <input type="hidden" id="username" name="username" th:value="${username}"/>
		<input type="hidden" name="userid" id="userid" th:value="${userid}"/>
		<input type="hidden" id="tel" name="tel" th:value="${tel}"/>
		<input type="hidden" id="email" name="email" th:value="${email}"/>
		<input type="hidden" id="category" name="category" th:value="${category}"/>
		
		<input type="hidden" id="pageNum" name="pageNum" th:value="${pageNum}"/>
		<input type="hidden" id="inq_num" name="inq_num" th:value="${dto.inq_num}"/>
		
	</form>
</div>
</html>



<script type="text/javascript">


function updateList(){
	
	var f = document.inquryForm; 
	
	str = f.subject.value;
	str = str.trim();
	if(!str){
		alert("\n제목을 입력하시오")
		f.subject.focus();
		return;
	}
	f.subject.value = str;
	
	
	str = f.inq_cate.value;
	str = str.trim();
	if(!str){
		alert("\n문의 유형을 선택하시오")
		f.inq_cate.focus();
		return;
	}
	f.inq_cate.value = str;
	
	
	str = f.context.value;
	str = str.trim();
	if(!str){
		alert("\n내용을 입력하시오")
		f.context.focus();
		return;
	}
	f.context.value = str;
	
	
	f.action = "/inquiryUpdate_ok";
	f.submit();
	
}
	
	
	
	
</script>